{"openapi":"3.0.1","info":{"title":"Hashpowerorders API","description":"Hashpowerorders API application description","license":{"name":"Terms of use","url":"https://www.nicehash.com"},"version":"v2"},"servers":[{"url":"https://api2.nicehash.com/main","description":"Production Rest API"},{"url":"https://api-test.nicehash.com/main","description":"Test Rest API"},{"url":"https://api-test-dev.nicehash.com/main","description":"Test Dev Rest API"}],"tags":[{"name":"EasyMining public","description":"EasyMining public REST API methods"},{"name":"Pools","description":"Pools REST API methods"},{"name":"EasyMining private","description":"EasyMining private REST API methods"},{"name":"Hashpower public","description":"Hashpower public REST API methods"},{"name":"Hashpower private","description":"Hashpower private REST API methods"}],"paths":{"/api/v2/pools/verify":{"post":{"tags":["Pools"],"summary":"VERIFY POOL","description":"Verify connectivity between Nicehash stratum server and selected pool. Basic pool data are also checked like authentication, size of extranonoce, initial difficulty and structure of jobs. This verification cannot find incompatibility or validity of shares sent to the pool. Please note that checks are not complete and there are rare cases where verification cannot identify incompatible pool. ","operationId":"verifyPool","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VerifyHashpowerPool"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PoolVerificationResult"}}}}},"security":[{"MAPO":[""]}]}},"/api/v2/pool":{"post":{"tags":["Pools"],"summary":"CREATE OR EDIT POOL","description":"Create or edit pool information. When creating pool, id of pool must not be in the request message. When editing id must match existing pool id, otherwise request will fail. Response contains created or edited pool detailed information.","operationId":"createEditPool","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/HashpowerPool"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HashpowerPool"}}}}},"security":[{"MAPO":[""]}]}},"/api/v2/hashpower/vmm/order":{"post":{"tags":["Hashpower private"],"summary":"CREATE VMM ORDER","description":"Creates a Virtual Machine Mining order from a pre-defined package.<br/><br/><b>Pool selection:</b><ul><li><code>poolId</code>: User-supplied external pool (must exist for the algorithm).</li><li><code>poolType</code>: Internal pool type from VMM configuration.</li><li>Neither specified: Default pool is used.</li></ul><br/>Flexible packages require <code>amountUSD</code> and <code>speed</code>.<br/><br/>Returns the details of the newly created order.","operationId":"createVmmOrder","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateVmmOrder"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HashPowerOrderResult"}}}}},"security":[{"PRCO":[""]}]}},"/api/v2/hashpower/solo/order":{"get":{"tags":["EasyMining private"],"summary":"EASY MINING SOLO TICKET LIST","description":"Get Easy Mining Solo Ticket list.","operationId":"getMyTicketsTD","parameters":[{"name":"status","in":"query","description":"Ticket status","required":false,"schema":{"uniqueItems":true,"type":"array","items":{"type":"string","enum":["PENDING","ACTIVE","PENDING_CANCELLATION","CANCELLED","DEAD","EXPIRED","ERROR","ERROR_ON_CREATION","ERROR_ON_CREATION_ON_REVERTING_TRANSACTIONS","COMPLETED","ERROR_MISSING"]}},"example":"[ACTIVE, COMPLETED]"},{"name":"active","in":"query","description":"Show active","required":false,"schema":{"type":"boolean"},"example":true},{"name":"claimed","in":"query","description":"Show claimed","required":false,"schema":{"type":"boolean"},"example":true},{"name":"rewardsOnly","in":"query","description":"Show rewards only","required":false,"schema":{"type":"boolean"},"example":true},{"name":"sortField","in":"query","description":"Sort field","required":false,"schema":{"type":"string"},"example":"amount"},{"name":"sortDir","in":"query","description":"Sort direction","required":false,"schema":{"type":"string","enum":["ASC","DESC"]},"example":"ASC"},{"name":"page","in":"query","description":"Page number (optional, default: 0)","required":false,"schema":{"type":"integer","format":"int32","default":0},"example":0},{"name":"limit","in":"query","description":"Page limit (optional)","required":true,"schema":{"type":"integer","format":"int32"},"example":20}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HashPowerOrderList"}}}}},"security":[{"VHOR":[""]}]},"post":{"tags":["EasyMining private"],"summary":"BUY EASY MINING SOLO PACKAGE","description":"Buy EasyMining Solo Ticket, List of available Easy Mining Solo Tickets are available via /main/api/v2/public/solo/package API call","operationId":"createOrder","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TicketOrder"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HashPowerOrderResult"}}}}},"security":[{"VHOR":[""]}]}},"/api/v2/hashpower/solo/custom/order":{"post":{"tags":["hashpower-endpoint"],"operationId":"createCustomOrder","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomPackageCreate"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HashPowerOrderResult"}}}}}}},"/api/v2/hashpower/shared/ticket/{id}":{"post":{"tags":["EasyMining private"],"summary":"BUY A SHARE OF EASY MINING TEAM PACKAGE","description":"Buy a share of EasyMining Team Ticket, List of available Easy Mining Team Tickets are available via /main/api/v2/public/solo/shared/order API call","operationId":"addSharedTicket","parameters":[{"name":"id","in":"path","description":"Ticket ID","required":true,"schema":{"type":"string","format":"uuid"},"example":"e14a3315-5a39-4480-a456-d3aef20cb98c"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SharedTicketAddJSON"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessResponse"}}}}},"security":[{"VHOR":[""]}]}},"/api/v2/hashpower/orders/calculateEstimateDuration":{"post":{"tags":["Hashpower private"],"summary":"ESTIMATE ORDER DURATION","description":"Estimated duration of a hashpower order from the order type, amount, price and limit. The maximal value for <b>STANDARD</b> order is 10 days<br/><br/>More information about hashpower marketplace and order behaviour and limitations can be found on <a href=\"https://www.nicehash.com/support/hash-power-marketplace\">Hashpower marketplace help</a> section.","operationId":"calculateEstimatedOrderDuration","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrderEstimateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrderEstimateResult"}}}}},"security":[{"PRCO":[""]}]}},"/api/v2/hashpower/order":{"post":{"tags":["Hashpower private"],"summary":"CREATE ORDER","description":"Create hashpower order. When constructing order request, some limitation must be taken into consideration, like minimum amount, minimum speed limit, minimup price, ... Limitation varies among algorithms and can be fetched using <a href=\"/rest/get-main-api-v2-public-buy-info\">/main/api/v2/public/buy/info</a> endpoints.<br/><br/>To create hashpower order, algorithm and market has to be specified. Before creating order pool has to be created for the same algorithm using <a href=\"/rest/post-main-api-v2-pool\">/main/api/v2/pool</a> endpoint.<br/><br/>When creating <b>STANDARD</b> order, speed limit, price, amount and pool id has to be specified, along with market factor and display market factor from <a href=\"/rest/get-main-api-v2-public-buy-info\">/main/api/v2/public/buy/info</a> endpoint for the same algorithm.<br/><br/>When order is created in hashpower marketplace details of newly created order are returned in response.<br/><br/>More information about hashpower marketplace and order creation can be found on <a href=\"https://www.nicehash.com/support/hash-power-marketplace\">Hashpower marketplace help</a> section.","operationId":"createOrder_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateHashPowerOrder"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HashPowerOrderResult"}}}}},"security":[{"PRCO":[""]}]}},"/api/v2/hashpower/order/{id}/updatePriceAndLimit":{"post":{"tags":["Hashpower private"],"summary":"UPDATE PRICE AND LIMIT","description":"At any time order speed limit and price can be altered when hashpower order is active. Changes must be withing limits defined for each algoritm separately. These limits can be fetched using <a href=\"/rest/get-main-api-v2-public-buy-info\">/main/api/v2/public/buy/info</a> endpoint. Order price can be decrease once in 10 minutes and the value of change must not be greater than more than <i>down_step</i> parameter from buy info endpoing.<br/><br/>More information about hashpower marketplace and order manipulation can be found on <a href=\"https://www.nicehash.com/support/hash-power-marketplace\">Hashpower marketplace help</a> section.","operationId":"updatePriceAndLimit","parameters":[{"name":"id","in":"path","description":"Order ID","required":true,"schema":{"type":"string","format":"uuid"},"example":"e14a3315-5a39-4480-a456-d3aef20cb98c"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateOrderPriceAndLimit"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HashPowerOrderResult"}}}}},"security":[{"ELCO":[""]}]}},"/api/v2/hashpower/order/{id}/updateLimit":{"post":{"tags":["Hashpower private"],"summary":"UPDATE LIMIT","description":"At any time order speed limit can be altered when hashpower order is active. Changes must be withing limits defined for each algoritm separately. These limits can be fetched using <a href=\"/rest/get-main-api-v2-public-buy-info\">/main/api/v2/public/buy/info</a> endpoint. More information about hashpower marketplace and order manipulation can be found on <a href=\"https://www.nicehash.com/support/hash-power-marketplace\">Hashpower marketplace help</a> section.","operationId":"updateLimit","parameters":[{"name":"id","in":"path","description":"Order ID","required":true,"schema":{"type":"string","format":"uuid"},"example":"e14a3315-5a39-4480-a456-d3aef20cb98c"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateOrderPriceAndLimit"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HashPowerOrderResult"}}}}},"security":[{"ELCO":[""]}]}},"/api/v2/hashpower/order/{id}/updateEndTs":{"post":{"tags":["Hashpower private"],"summary":"UPDATE END DATE OF BUSINESS ORDER","description":"At any time order end date can be altered when hashpower order is active. Changes must be withing limits defined for each algoritm separately.","operationId":"updateEndTs","parameters":[{"name":"id","in":"path","description":"Order ID","required":true,"schema":{"type":"string","format":"uuid"},"example":"e14a3315-5a39-4480-a456-d3aef20cb98c"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateEndTs"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HashPowerOrderResult"}}}}},"security":[{"ELCO":[""]}]}},"/api/v2/hashpower/order/{id}/updateBottomLimitAndEndTs":{"post":{"tags":["Hashpower private"],"summary":"UPDATE BOTTOM SPEED LIMIT AND END DATE OF BUSINESS ORDER","description":"At any time order bottom speed limit or end date can be altered when hashpower order is active. Changes must be withing limits defined for each algoritm separately.","operationId":"updateBottomLimit","parameters":[{"name":"id","in":"path","description":"Order ID","required":true,"schema":{"type":"string","format":"uuid"},"example":"e14a3315-5a39-4480-a456-d3aef20cb98c"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateBottomLimit"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HashPowerOrderResult"}}}}},"security":[{"ELCO":[""]}]}},"/api/v2/hashpower/order/{id}/refill":{"post":{"tags":["Hashpower private"],"summary":"REFILL ORDER","description":"When order is active, amount on the order can be increased and prolong duration of active order in marketplace. The limitation for minimal and maximal amount are defined for each algorithm and can be fetched using <a href=\"/rest/get-main-api-v2-public-buy-info\">/main/api/v2/public/buy/info</a> endpoint.<br/><br/>More information about hashpower marketplace and order manipulation can be found on <a href=\"https://www.nicehash.com/support/hash-power-marketplace\">Hashpower marketplace help</a> section.","operationId":"refillOrder","parameters":[{"name":"id","in":"path","description":"Order ID","required":true,"schema":{"type":"string","format":"uuid"},"example":"e14a3315-5a39-4480-a456-d3aef20cb98c"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RefillHashPowerOrder"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HashPowerOrderResult"}}}}},"security":[{"PRCO":[""]}]}},"/api/v2/hashpower/mass-buy/package/{id}/update":{"post":{"tags":["hashpower-endpoint"],"operationId":"updateMassBuyPackage","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateMassBuyPackageJSON"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessResponse"}}}}}}},"/api/v2/hashpower/mass-buy/package/{id}/repeat":{"post":{"tags":["hashpower-endpoint"],"operationId":"repeatMassBuyPackage","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessResponse"}}}}}}},"/api/v2/hashpower/mass-buy/package/{id}/cancel":{"post":{"tags":["hashpower-endpoint"],"operationId":"cancelMassBuyPackage","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessResponse"}}}}}}},"/api/v2/hashpower/mass-buy/package/create":{"post":{"tags":["hashpower-endpoint"],"operationId":"createMassBuyPackage","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateMassBuyPackageJSON"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessResponse"}}}}}}},"/api/v2/hashpower/business/order":{"post":{"tags":["Hashpower private"],"summary":"CREATE BUSINESS ORDER","description":"Create hashpower order. When constructing order request, some limitation must be taken into consideration, like minimum amount, minimum end date, ... Limitation varies among algorithms and can be fetched using <a href=\"/rest/get-main-api-v2-public-buy-info\">/main/api/v2/public/buy/info</a> endpoints.<br/><br/>To create hashpower order, algorithm and market has to be specified. Before creating order pool has to be created for the same algorithm using <a href=\"/rest/post-main-api-v2-pool\">/main/api/v2/pool</a> endpoint.<br/><br/>When creating <b>BUSINESS</b> order, amount, endTs and pool id has to be specified, along with market factor and display market factor from <a href=\"/rest/get-main-api-v2-public-buy-info\">/main/api/v2/public/buy/info</a> endpoint for the same algorithm.<br/><br/>When order is created in hashpower marketplace details of newly created order are returned in response.<br/><br/>More information about hashpower marketplace and order creation can be found on <a href=\"https://www.nicehash.com/support/hash-power-marketplace\">Hashpower marketplace help</a> section.","operationId":"createBusinessOrder","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateBusinessHashPowerOrder"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HashPowerOrderResult"}}}}},"security":[{"PRCO":[""]}]}},"/api/v2/public/vmm/package/{id}/preview":{"get":{"tags":["Hashpower public"],"summary":"VMM FLEXIBLE PREVIEW","description":"Preview estimated duration, mining speed, virtual miners, and earnings for a flexible VMM order before creating it.","operationId":"previewFlexibleVmmOrder","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"amountUSD","in":"query","description":"USD amount","required":true,"schema":{"type":"number"},"example":5.0},{"name":"speed","in":"query","description":"Speed in H/s","required":true,"schema":{"type":"number"},"example":100000000000000}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VmmFlexiblePreview"}}}}}}},"/api/v2/public/stats/global/current":{"get":{"tags":["Hashpower public"],"summary":"CURRENT STATISTICS","description":"Get current price and hashpower speed for all enabled algorithms in average for last 5 minutes.","operationId":"statsGlobalCurrent","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AlgoStatsResponseList"}}}}}}},"/api/v2/public/stats/global/24h":{"get":{"tags":["Hashpower public"],"summary":"24 HOUR STATISTICS","description":"Get average price and hashpower speed for all enabled algorithms in average for past 24 hours.","operationId":"statsGlobal24h","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AlgoStatsResponseList"}}}}}}},"/api/v2/public/solo/singleReward":{"get":{"tags":["EasyMining public"],"summary":"MINED BLOCKS","description":"Detailed list of mined blocks.","operationId":"getSingleBlockRewards","parameters":[{"name":"page","in":"query","description":"Page number (optional, default: 0)","required":false,"schema":{"type":"integer","format":"int32","default":0},"example":0},{"name":"limit","in":"query","description":"Page limit (optional)","required":false,"schema":{"type":"integer","format":"int32","default":10},"example":20},{"name":"orphans","in":"query","description":"Show orphans","required":false,"schema":{"type":"boolean","default":false},"example":true},{"name":"coin","in":"query","description":"Currency","required":false,"schema":{"type":"string","enum":["BTC","EUR","ETH","XRP","BCH","LTC","ZEC","DASH","XLM","EOS","SOL","BSV","LINK","BAT","PAX","ZRX","HOT","OMG","REP","NEXO","BTG","EURKM","ENJ","MATIC","ELF","SNT","BNT","KNC","MTL","POLY","POWR","GTO","LOOM","CVC","AST","PPT","LRC","KEY","STORJ","STORM","TNT","DATA","AOA","RDN","USDC","FET","ANT","AERGO","LBA","XMR","MITH","BAND","SXP","EURS","WBTC","RVN","UNI","AAVE","FTM","YFI","DOGE","ONEINCH","SUSHI","OCEAN","MKR","CRV","CHZ","GRT","GNO","HBAR","ADA","ALGO","XTZ","SAND","SHIB","STX","GALA","USDT","DOT","ETC","TRX","KSM","KAS","USD","TBTC","TEUR","TETH","TXRP","TBCH","TLTC","TZEC","TDASH","TXLM","TEOS","TERC","TBSV","TBTG","TEURKM","TXMR","TRVN","TDOGE","THBAR","TADA","TALGO","TXTZ","TSTX","TTTT","TSOL","TDOT","TETC","TTRX","TMARC","TKAS","TUSD","USDTNH"]},"example":"BCH"},{"name":"shared","in":"query","description":"Show shared","required":false,"schema":{"type":"boolean","default":false},"example":true},{"name":"sortField","in":"query","description":"Sort field","required":false,"schema":{"type":"string"},"example":"amount"},{"name":"sortDir","in":"query","description":"Sort direction","required":false,"schema":{"type":"string","enum":["ASC","DESC"]},"example":"ASC"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/HashpowerOrderRewards"}}}}}}}},"/api/v2/public/solo/shared/order":{"get":{"tags":["EasyMining public"],"summary":"TEAM EASYMINING PACKAGES","description":"List of available Team EasyMining packages","operationId":"getSharedTickets","parameters":[{"name":"sortField","in":"query","description":"Sort field","required":false,"schema":{"type":"string"},"example":"amount"},{"name":"sortDir","in":"query","description":"Sort direction","required":false,"schema":{"type":"string","enum":["ASC","DESC"]},"example":"ASC"},{"name":"page","in":"query","description":"Page number (optional, default: 0)","required":false,"schema":{"type":"integer","format":"int32","default":0},"example":0},{"name":"limit","in":"query","description":"Page limit (optional)","required":false,"schema":{"type":"integer","format":"int32","default":20},"example":20},{"name":"invertFilter","in":"query","description":"Invert filter","required":false,"schema":{"type":"boolean","default":false},"example":true},{"name":"onlyGold","in":"query","description":"Show only gold tickets","required":false,"schema":{"type":"boolean","default":true},"example":false}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SharedTicketList"}}}}}}},"/api/v2/public/solo/package":{"get":{"tags":["EasyMining public"],"summary":"SOLO EASYMINING PACKAGES","description":"List of available Solo EasyMining packages","operationId":"getCurrencyAlgoTicket","parameters":[{"name":"limit","in":"query","description":"Limit (optional)","required":false,"schema":{"type":"integer","format":"int32","default":20},"example":40},{"name":"sortField","in":"query","description":"Sort field","required":false,"schema":{"type":"string"},"example":"currency"},{"name":"sortDir","in":"query","description":"Sort direction","required":false,"schema":{"type":"string","enum":["ASC","DESC"]},"example":"ASC"},{"name":"invertFilter","in":"query","description":"Invert filter","required":false,"schema":{"type":"boolean","default":false},"example":true}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CurrencyAlgoTicket"}}}}}}}},"/api/v2/public/solo/coinRewardStats":{"get":{"tags":["EasyMining public"],"summary":"MINED BLOCKS STATS","description":"Cumulative statistics of mined blocks including coin, number of blocks and reward amount in BTC. Period param can be: day, week, month, year, all (default)","operationId":"coinRewardStats","parameters":[{"name":"period","in":"query","description":"Period","required":false,"schema":{"type":"string","default":"all"},"example":"all"}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/RewardStatsJSON"}}}}}}}},"/api/v2/public/simplemultialgo/info":{"get":{"tags":["Hashpower public"],"summary":"SIMPLE STATUS","description":"Get information about speed and price for each enabled algorithm.","operationId":"simpleMultiAlgoInfo","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MiningAlgorithmStatsList"}}}}}}},"/api/v2/public/orders":{"get":{"tags":["Hashpower public"],"summary":"ORDERS","description":"Get all hashpower orders. Request parameter work as filter to fine tune the result. The result is paged, when needed.","operationId":"ordersStats","parameters":[{"name":"algorithm","in":"query","description":"Algorithm","required":false,"schema":{"type":"string","enum":["SCRYPT","SHA256","SCRYPTNF","X11","X13","KECCAK","X15","NIST5","NEOSCRYPT","LYRA2RE","WHIRLPOOLX","QUBIT","QUARK","AXIOM","LYRA2REV2","SCRYPTJANENF16","BLAKE256R8","BLAKE256R14","BLAKE256R8VNL","HODL","DAGGERHASHIMOTO","DECRED","CRYPTONIGHT","LBRY","EQUIHASH","PASCAL","X11GOST","SIA","BLAKE2S","SKUNK","CRYPTONIGHTV7","CRYPTONIGHTHEAVY","LYRA2Z","X16R","CRYPTONIGHTV8","SHA256ASICBOOST","ZHASH","BEAM","GRINCUCKAROO29","GRINCUCKATOO31","LYRA2REV3","CRYPTONIGHTR","CUCKOOCYCLE","GRINCUCKAROOD29","BEAMV2","X16RV2","RANDOMXMONERO","EAGLESONG","CUCKAROOM","GRINCUCKATOO32","HANDSHAKE","KAWPOW","CUCKAROO29BFC","BEAMV3","CUCKAROOZ29","OCTOPUS","AUTOLYKOS","ZELHASH","KADENA","ETCHASH","VERUSHASH","KHEAVYHASH","NEXAPOW","IRONFISH","KARLSENHASH","ALEPHIUM","FISHHASH","PYRINHASH","XELISHASHV2","ZKSNARK","FOMA_SHA256ASICBOOST","SHA256ASICBOOST_USDT","FOMA_SHA256ASICBOOST_USDT"]},"example":"SHA256"},{"name":"market","in":"query","description":"Market","required":false,"schema":{"type":"string","enum":["EU","USA","EU_N","USA_E","SA","ASIA","BTC","USDT"]},"example":"EU"},{"name":"op","in":"query","description":"Relation operation","required":false,"schema":{"type":"string","enum":["GT","GE","LT","LE"]},"example":"GT"},{"name":"timestamp","in":"query","description":"The timestamp to compare","required":false,"schema":{"type":"integer","format":"int64"},"example":255135600000000},{"name":"page","in":"query","description":"Page","required":false,"schema":{"type":"integer","format":"int32","default":0},"example":0},{"name":"size","in":"query","description":"Size. Default is 100, maximum is 100","required":false,"schema":{"type":"integer","format":"int32","default":100},"example":100}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HashPowerOrderList"}}}}}}},"/api/v2/public/hashpower/solo/teams/public":{"get":{"tags":["public-hashpower-endpoint"],"operationId":"getPublicTeams","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HashPowerOrderList"}}}}}}},"/api/v2/public/hashpower/solo/teams/public/{id}":{"get":{"tags":["public-hashpower-endpoint"],"operationId":"getPublicTeamById","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HashPowerOrderResult"}}}}}}},"/api/v2/public/currency-algos":{"get":{"tags":["public-api-endpoint"],"operationId":"getCurrencyAlgos","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CurrencyAlgo"}}}}}}}},"/api/v2/public/buy/info":{"get":{"tags":["Hashpower public"],"summary":"BUY INFO","description":"Information for each enabled algorithm needed for buying hashpower. Result contains minimum and maximum values for price, limit, information about minimum pool difficulty and more that can be useful in automated application like <a href=\"https://github.com/nicehash/NiceHashBot\">NicehashBot</a> ","operationId":"buyInfo","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MiningAlgorithmInfoList"}}}}}}},"/api/v2/public/algo/history":{"get":{"tags":["Hashpower public"],"summary":"ALGORITHM HISTORY","description":"Whole history for the selected algorithm.","operationId":"algoHistoryOld","parameters":[{"name":"algorithm","in":"query","description":"Algorithm code","required":true,"schema":{"type":"string","enum":["SCRYPT","SHA256","SCRYPTNF","X11","X13","KECCAK","X15","NIST5","NEOSCRYPT","LYRA2RE","WHIRLPOOLX","QUBIT","QUARK","AXIOM","LYRA2REV2","SCRYPTJANENF16","BLAKE256R8","BLAKE256R14","BLAKE256R8VNL","HODL","DAGGERHASHIMOTO","DECRED","CRYPTONIGHT","LBRY","EQUIHASH","PASCAL","X11GOST","SIA","BLAKE2S","SKUNK","CRYPTONIGHTV7","CRYPTONIGHTHEAVY","LYRA2Z","X16R","CRYPTONIGHTV8","SHA256ASICBOOST","ZHASH","BEAM","GRINCUCKAROO29","GRINCUCKATOO31","LYRA2REV3","CRYPTONIGHTR","CUCKOOCYCLE","GRINCUCKAROOD29","BEAMV2","X16RV2","RANDOMXMONERO","EAGLESONG","CUCKAROOM","GRINCUCKATOO32","HANDSHAKE","KAWPOW","CUCKAROO29BFC","BEAMV3","CUCKAROOZ29","OCTOPUS","AUTOLYKOS","ZELHASH","KADENA","ETCHASH","VERUSHASH","KHEAVYHASH","NEXAPOW","IRONFISH","KARLSENHASH","ALEPHIUM","FISHHASH","PYRINHASH","XELISHASHV2","ZKSNARK","FOMA_SHA256ASICBOOST","SHA256ASICBOOST_USDT","FOMA_SHA256ASICBOOST_USDT"]},"example":"SHA256"},{"name":"fromTimestamp","in":"query","description":"Range from timestamp (inclusive)","required":false,"schema":{"type":"integer","format":"int64"},"example":1603023402000},{"name":"toTimestamp","in":"query","description":"Range to timestamp (exclusive)","required":false,"schema":{"type":"integer","format":"int64"},"example":1603109802000}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AlgorithHistory"}}}}}}},"/api/v2/public/algo/historyForInterval":{"get":{"tags":["Hashpower public"],"summary":"ALGORITHM HISTORY","description":"Whole history for the selected algorithm.","operationId":"algoHistory","parameters":[{"name":"algorithm","in":"query","description":"Algorithm code","required":true,"schema":{"type":"string","enum":["SCRYPT","SHA256","SCRYPTNF","X11","X13","KECCAK","X15","NIST5","NEOSCRYPT","LYRA2RE","WHIRLPOOLX","QUBIT","QUARK","AXIOM","LYRA2REV2","SCRYPTJANENF16","BLAKE256R8","BLAKE256R14","BLAKE256R8VNL","HODL","DAGGERHASHIMOTO","DECRED","CRYPTONIGHT","LBRY","EQUIHASH","PASCAL","X11GOST","SIA","BLAKE2S","SKUNK","CRYPTONIGHTV7","CRYPTONIGHTHEAVY","LYRA2Z","X16R","CRYPTONIGHTV8","SHA256ASICBOOST","ZHASH","BEAM","GRINCUCKAROO29","GRINCUCKATOO31","LYRA2REV3","CRYPTONIGHTR","CUCKOOCYCLE","GRINCUCKAROOD29","BEAMV2","X16RV2","RANDOMXMONERO","EAGLESONG","CUCKAROOM","GRINCUCKATOO32","HANDSHAKE","KAWPOW","CUCKAROO29BFC","BEAMV3","CUCKAROOZ29","OCTOPUS","AUTOLYKOS","ZELHASH","KADENA","ETCHASH","VERUSHASH","KHEAVYHASH","NEXAPOW","IRONFISH","KARLSENHASH","ALEPHIUM","FISHHASH","PYRINHASH","XELISHASHV2","ZKSNARK","FOMA_SHA256ASICBOOST","SHA256ASICBOOST_USDT","FOMA_SHA256ASICBOOST_USDT"]},"example":"SHA256"},{"name":"fromTimestamp","in":"query","description":"Range from timestamp (inclusive)","required":false,"schema":{"type":"integer","format":"int64"},"example":1603023402000},{"name":"toTimestamp","in":"query","description":"Range to timestamp (exclusive)","required":false,"schema":{"type":"integer","format":"int64"},"example":1603109802000},{"name":"global","in":"query","description":"Global price","required":false,"schema":{"type":"boolean","default":false},"example":false}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AlgorithHistory"}}}}}}},"/api/v2/pools":{"get":{"tags":["Pools"],"summary":"POOL LIST","description":"Fetch whole pool list. When more than 100 pools are contained in the list, pages should be used. Algorithm parameter can be used to filter out pools for selected algorithm.","operationId":"getPoolsForOrganization","parameters":[{"name":"size","in":"query","description":"Size","required":false,"schema":{"type":"integer","format":"int32","default":100},"example":100},{"name":"page","in":"query","description":"Page","required":false,"schema":{"type":"integer","format":"int32","default":0},"example":0},{"name":"algorithm","in":"query","description":"Mining algorithm (optional, if not supplied all algorithms are returned)","required":false,"schema":{"type":"string","enum":["SCRYPT","SHA256","SCRYPTNF","X11","X13","KECCAK","X15","NIST5","NEOSCRYPT","LYRA2RE","WHIRLPOOLX","QUBIT","QUARK","AXIOM","LYRA2REV2","SCRYPTJANENF16","BLAKE256R8","BLAKE256R14","BLAKE256R8VNL","HODL","DAGGERHASHIMOTO","DECRED","CRYPTONIGHT","LBRY","EQUIHASH","PASCAL","X11GOST","SIA","BLAKE2S","SKUNK","CRYPTONIGHTV7","CRYPTONIGHTHEAVY","LYRA2Z","X16R","CRYPTONIGHTV8","SHA256ASICBOOST","ZHASH","BEAM","GRINCUCKAROO29","GRINCUCKATOO31","LYRA2REV3","CRYPTONIGHTR","CUCKOOCYCLE","GRINCUCKAROOD29","BEAMV2","X16RV2","RANDOMXMONERO","EAGLESONG","CUCKAROOM","GRINCUCKATOO32","HANDSHAKE","KAWPOW","CUCKAROO29BFC","BEAMV3","CUCKAROOZ29","OCTOPUS","AUTOLYKOS","ZELHASH","KADENA","ETCHASH","VERUSHASH","KHEAVYHASH","NEXAPOW","IRONFISH","KARLSENHASH","ALEPHIUM","FISHHASH","PYRINHASH","XELISHASHV2","ZKSNARK","FOMA_SHA256ASICBOOST","SHA256ASICBOOST_USDT","FOMA_SHA256ASICBOOST_USDT"]},"example":"SHA256"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PoolList"}}}}},"security":[{"MAPO":[""]},{"PRCO":[""]}]}},"/api/v2/pool/{poolId}":{"get":{"tags":["Pools"],"summary":"POOL DETAILS","description":"Get pool information using pool id.","operationId":"getPool","parameters":[{"name":"poolId","in":"path","description":"Pool id","required":true,"schema":{"type":"string","format":"uuid"},"example":"e14a3315-5a39-4480-a456-d3aef20cb98c"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HashpowerPool"}}}}},"security":[{"MAPO":[""]},{"PRCO":[""]}]},"delete":{"tags":["Pools"],"summary":"DELETE POOL","description":"Delete pool using pool id. The operation is not reversible.","operationId":"deletePool","parameters":[{"name":"poolId","in":"path","description":"Pool id","required":true,"schema":{"type":"string","format":"uuid"},"example":"e14a3315-5a39-4480-a456-d3aef20cb98c"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessResponse"}}}}},"security":[{"MAPO":[""]}]}},"/api/v2/hashpower/solo/teams/public":{"get":{"tags":["hashpower-endpoint"],"operationId":"getPublicTeams_1","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HashPowerOrderList"}}}}}}},"/api/v2/hashpower/solo/teams/public/{id}":{"get":{"tags":["hashpower-endpoint"],"operationId":"getPublicTeamById_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HashPowerOrderResult"}}}}}}},"/api/v2/hashpower/solo/shared/order":{"get":{"tags":["EasyMining private"],"summary":"EASY MINING SHARED TICKET LIST","description":"Get Easy Mining Shared Ticket list.","operationId":"getMySharedTickets","parameters":[{"name":"status","in":"query","description":"Ticket status","required":false,"schema":{"uniqueItems":true,"type":"array","items":{"type":"string","enum":["WAITING","COUNTDOWN","SPAWNING","UNABLE_TO_SPAWN","UNABLE_TO_PAY","DEAD","CREATED","COMPLETED"]}},"example":"[ACTIVE, COMPLETED]"},{"name":"claimed","in":"query","description":"Show claimed","required":false,"schema":{"type":"boolean"},"example":true},{"name":"rewardsOnly","in":"query","description":"Show rewards only","required":false,"schema":{"type":"boolean"},"example":true},{"name":"sortField","in":"query","description":"Sort field","required":false,"schema":{"type":"string"},"example":"amount"},{"name":"sortDir","in":"query","description":"Sort direction","required":false,"schema":{"type":"string","enum":["ASC","DESC"]},"example":"ASC"},{"name":"page","in":"query","description":"Page number (optional, default: 0)","required":false,"schema":{"type":"integer","format":"int32","default":0},"example":0},{"name":"limit","in":"query","description":"Page limit (optional)","required":false,"schema":{"type":"integer","format":"int32","default":20},"example":20},{"name":"invertFilter","in":"query","description":"Invert filter","required":false,"schema":{"type":"boolean","default":false},"example":true},{"name":"onlyGold","in":"query","description":"Show only gold tickets","required":false,"schema":{"type":"boolean","default":true},"example":false}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SharedTicketList"}}}}},"security":[{"VHOR":[""]}]}},"/api/v2/hashpower/solo/shared/order/{id}":{"get":{"tags":["EasyMining private"],"summary":"EASY MINING SHARED TICKET DETAILS","description":"Get Easy Mining Shared Ticket detailed information using shared ticket id.","operationId":"getMySharedTicket","parameters":[{"name":"id","in":"path","description":"Ticket ID","required":true,"schema":{"type":"string","format":"uuid"},"example":"e14a3315-5a39-4480-a456-d3aef20cb98c"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SharedTicket"}}}}},"security":[{"VHOR":[""]}]}},"/api/v2/hashpower/solo/order/{id}":{"get":{"tags":["EasyMining private"],"summary":"EASY MINING SOLO TICKET DETAILS","description":"Get Easy Mining Solo Ticket detailed information using order id.","operationId":"getTicket","parameters":[{"name":"id","in":"path","description":"Order ID","required":true,"schema":{"type":"string","format":"uuid"},"example":"e14a3315-5a39-4480-a456-d3aef20cb98c"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HashPowerOrderResult"}}}}},"security":[{"VHOR":[""]}]}},"/api/v2/hashpower/solo/custom/configurations":{"get":{"tags":["hashpower-endpoint"],"operationId":"getCustomPackageConfigurations","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CustomPackageConfigurationJSON"}}}}}}}},"/api/v2/hashpower/solo/checkClaimedBTC":{"get":{"tags":["hashpower-endpoint"],"operationId":"checkClaimedBTC","parameters":[{"name":"ticket","in":"query","description":"Ticket ID","required":true,"schema":{"type":"string","format":"uuid"},"example":"e14a3315-5a39-4480-a456-d3aef20cb98c"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessResponseForClaimJSON"}}}}}}},"/api/v2/hashpower/sharedTicketExternalAddress/list":{"get":{"tags":["EasyMining private"],"summary":"LIST SAVED EASYMINING ADDRESSES","description":"Retrieves a list of saved EasyMining addresses. Optionally filter by currency.","operationId":"listByCurrency","parameters":[{"name":"currency","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/SharedTicketExternalAddress"}}}}}}}},"/api/v2/hashpower/orders/summary":{"get":{"tags":["Hashpower public"],"summary":"ORDERS SUMMARY","description":"Get accepted and rejected speed from pools and rigs, rig count and paying price for selected market and algorithm.","operationId":"getOrdersSummary","parameters":[{"name":"market","in":"query","description":"Market","required":true,"schema":{"type":"string","enum":["EU","USA","EU_N","USA_E","SA","ASIA","BTC","USDT"]},"example":"EU"},{"name":"algorithm","in":"query","description":"Mining algorithm","required":true,"schema":{"type":"string","enum":["SCRYPT","SHA256","SCRYPTNF","X11","X13","KECCAK","X15","NIST5","NEOSCRYPT","LYRA2RE","WHIRLPOOLX","QUBIT","QUARK","AXIOM","LYRA2REV2","SCRYPTJANENF16","BLAKE256R8","BLAKE256R14","BLAKE256R8VNL","HODL","DAGGERHASHIMOTO","DECRED","CRYPTONIGHT","LBRY","EQUIHASH","PASCAL","X11GOST","SIA","BLAKE2S","SKUNK","CRYPTONIGHTV7","CRYPTONIGHTHEAVY","LYRA2Z","X16R","CRYPTONIGHTV8","SHA256ASICBOOST","ZHASH","BEAM","GRINCUCKAROO29","GRINCUCKATOO31","LYRA2REV3","CRYPTONIGHTR","CUCKOOCYCLE","GRINCUCKAROOD29","BEAMV2","X16RV2","RANDOMXMONERO","EAGLESONG","CUCKAROOM","GRINCUCKATOO32","HANDSHAKE","KAWPOW","CUCKAROO29BFC","BEAMV3","CUCKAROOZ29","OCTOPUS","AUTOLYKOS","ZELHASH","KADENA","ETCHASH","VERUSHASH","KHEAVYHASH","NEXAPOW","IRONFISH","KARLSENHASH","ALEPHIUM","FISHHASH","PYRINHASH","XELISHASHV2","ZKSNARK","FOMA_SHA256ASICBOOST","SHA256ASICBOOST_USDT","FOMA_SHA256ASICBOOST_USDT"]},"example":"SHA256"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HashpowerOrderSummary"}}}}}}},"/api/v2/hashpower/orders/summaries":{"get":{"tags":["Hashpower public"],"summary":"ORDER SUMMARIES","description":"Get accepted and rejected speeds for rigs and pools, rig count and paying price for selected market and/or algorithm. When no market or algorithm is specified all markets and algorithms are returned.","operationId":"getOrdersSummaries","parameters":[{"name":"market","in":"query","description":"Market","required":false,"schema":{"type":"string","enum":["EU","USA","EU_N","USA_E","SA","ASIA","BTC","USDT"]},"example":"EU"},{"name":"algorithm","in":"query","description":"Mining algorithm","required":false,"schema":{"type":"string","enum":["SCRYPT","SHA256","SCRYPTNF","X11","X13","KECCAK","X15","NIST5","NEOSCRYPT","LYRA2RE","WHIRLPOOLX","QUBIT","QUARK","AXIOM","LYRA2REV2","SCRYPTJANENF16","BLAKE256R8","BLAKE256R14","BLAKE256R8VNL","HODL","DAGGERHASHIMOTO","DECRED","CRYPTONIGHT","LBRY","EQUIHASH","PASCAL","X11GOST","SIA","BLAKE2S","SKUNK","CRYPTONIGHTV7","CRYPTONIGHTHEAVY","LYRA2Z","X16R","CRYPTONIGHTV8","SHA256ASICBOOST","ZHASH","BEAM","GRINCUCKAROO29","GRINCUCKATOO31","LYRA2REV3","CRYPTONIGHTR","CUCKOOCYCLE","GRINCUCKAROOD29","BEAMV2","X16RV2","RANDOMXMONERO","EAGLESONG","CUCKAROOM","GRINCUCKATOO32","HANDSHAKE","KAWPOW","CUCKAROO29BFC","BEAMV3","CUCKAROOZ29","OCTOPUS","AUTOLYKOS","ZELHASH","KADENA","ETCHASH","VERUSHASH","KHEAVYHASH","NEXAPOW","IRONFISH","KARLSENHASH","ALEPHIUM","FISHHASH","PYRINHASH","XELISHASHV2","ZKSNARK","FOMA_SHA256ASICBOOST","SHA256ASICBOOST_USDT","FOMA_SHA256ASICBOOST_USDT"]},"example":"SHA256"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HashpowerOrderSummaries"}}}}}}},"/api/v2/hashpower/orderBook":{"get":{"tags":["Hashpower public"],"summary":"ORDER BOOK","description":"Hashpower order book for specified algorithm. Response contains orders for all markest and their stats. When there a lot of orders, response will be paged.","operationId":"getOrderBook","parameters":[{"name":"algorithm","in":"query","description":"Mining algorithm","required":true,"schema":{"type":"string","enum":["SCRYPT","SHA256","SCRYPTNF","X11","X13","KECCAK","X15","NIST5","NEOSCRYPT","LYRA2RE","WHIRLPOOLX","QUBIT","QUARK","AXIOM","LYRA2REV2","SCRYPTJANENF16","BLAKE256R8","BLAKE256R14","BLAKE256R8VNL","HODL","DAGGERHASHIMOTO","DECRED","CRYPTONIGHT","LBRY","EQUIHASH","PASCAL","X11GOST","SIA","BLAKE2S","SKUNK","CRYPTONIGHTV7","CRYPTONIGHTHEAVY","LYRA2Z","X16R","CRYPTONIGHTV8","SHA256ASICBOOST","ZHASH","BEAM","GRINCUCKAROO29","GRINCUCKATOO31","LYRA2REV3","CRYPTONIGHTR","CUCKOOCYCLE","GRINCUCKAROOD29","BEAMV2","X16RV2","RANDOMXMONERO","EAGLESONG","CUCKAROOM","GRINCUCKATOO32","HANDSHAKE","KAWPOW","CUCKAROO29BFC","BEAMV3","CUCKAROOZ29","OCTOPUS","AUTOLYKOS","ZELHASH","KADENA","ETCHASH","VERUSHASH","KHEAVYHASH","NEXAPOW","IRONFISH","KARLSENHASH","ALEPHIUM","FISHHASH","PYRINHASH","XELISHASHV2","ZKSNARK","FOMA_SHA256ASICBOOST","SHA256ASICBOOST_USDT","FOMA_SHA256ASICBOOST_USDT"]},"example":"SHA256"},{"name":"size","in":"query","description":"Page size (optional, default: 100)","required":false,"schema":{"type":"integer","format":"int32","default":100},"example":100},{"name":"page","in":"query","description":"Page number (optional, default: 0)","required":false,"schema":{"type":"integer","format":"int32","default":0},"example":0}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrderBookList"}}}}}}},"/api/v2/hashpower/order/{id}":{"get":{"tags":["Hashpower private"],"summary":"ORDER DETAILS","description":"Get hashpower order detailed information using order id.","operationId":"getOrder","parameters":[{"name":"id","in":"path","description":"Order ID","required":true,"schema":{"type":"string","format":"uuid"},"example":"e14a3315-5a39-4480-a456-d3aef20cb98c"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HashPowerOrderResult"}}}}},"security":[{"VHOR":[""]}]},"delete":{"tags":["Hashpower private"],"summary":"CANCEL ORDER","description":"Cancel hashpower order using order id. Cancel action affects only active orders. When successful, affected order is returned in the response.","operationId":"cancelOrder","parameters":[{"name":"id","in":"path","description":"Order ID","required":true,"schema":{"type":"string","format":"uuid"},"example":"e14a3315-5a39-4480-a456-d3aef20cb98c"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HashPowerOrderResult"}}}}},"security":[{"PRCO":[""]}]}},"/api/v2/hashpower/order/{id}/withdrawals":{"get":{"tags":["hashpower-endpoint"],"operationId":"getOrderWithdrawals","parameters":[{"name":"id","in":"path","description":"Order ID","required":true,"schema":{"type":"string","format":"uuid"},"example":"e14a3315-5a39-4480-a456-d3aef20cb98c"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RewardWithdrawalsInfoResponse"}}}}}}},"/api/v2/hashpower/order/{id}/stats":{"get":{"tags":["Hashpower private"],"summary":"ORDER STATISTICS","description":"Get statistical streams for selected order using order id. Result consists of following streams:<br/><lu><li>Timestamp in milliseconds since 1.1.1970</li><li>Is order alive</li><li>Accepted speed</li><li>Rejected speed - share above target</li><li>Rejected speed - stale shares</li><li>Rejected speed - duplicate shares</li><li>Rejected speed - invalid ntime</li><li>Rejected speed - other reason</li><li>Rejected speed - unknow worker</li><li>Rejected speed - response timeout</li><li>Speed limit</li><li>Rewareded speed</li><li>Paying speed</li><li>Rejected speed</li><li>Paid amount</li><li>Earned amount</li><li>Price</li></lu>","operationId":"getOrderStats","parameters":[{"name":"id","in":"path","description":"Order ID","required":true,"schema":{"type":"string","format":"uuid"},"example":"e14a3315-5a39-4480-a456-d3aef20cb98c"},{"name":"afterTimestamp","in":"query","description":"After timestamp (optional, used to load only new data)","required":false,"schema":{"type":"integer","format":"int64"},"example":255135600000000}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HashpowerOrderStats"}}}}},"security":[{"VHOR":[""]}]}},"/api/v2/hashpower/order/{id}/rewards":{"get":{"tags":["EasyMining private"],"summary":"GET LIST OF REWARDS FOR EASY MINING SOLO TICKET","description":"Return detailed list of Easy Mining Solo Ticket","operationId":"getOrderRewards","parameters":[{"name":"id","in":"path","description":"Order ID","required":true,"schema":{"type":"string","format":"uuid"},"example":"e14a3315-5a39-4480-a456-d3aef20cb98c"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/HashpowerOrderRewards"}}}}}},"security":[{"VHOR":[""]}]}},"/api/v2/hashpower/order/{id}/business/stats":{"get":{"tags":["Hashpower private"],"summary":"BUSINESS ORDER STATISTICS","description":"Get statistical streams for selected business order using order id. Result consists of following streams:<br/><lu><li>Timestamp in milliseconds since 1.1.1970</li><li>Accepted speed</li><li>Rejected speed - share above target</li><li>Rejected speed - stale shares</li><li>Rejected speed - duplicate shares</li><li>Rejected speed - invalid ntime</li><li>Rejected speed - other reason</li><li>Rejected speed - unknow worker</li><li>Rejected speed - response timeout</li><li>Speed limit</li><li>Rewareded speed</li><li>Paying speed</li><li>Rejected speed</li><li>Price</li></lu>","operationId":"getHostingOrderStats","parameters":[{"name":"id","in":"path","description":"Order ID","required":true,"schema":{"type":"string","format":"uuid"},"example":"e14a3315-5a39-4480-a456-d3aef20cb98c"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HashpowerOrderStats"}}}}},"security":[{"VHOR":[""]}]}},"/api/v2/hashpower/order/price":{"get":{"tags":["Hashpower public"],"summary":"ORDER OPTIMAL PRICE","description":"Get optimal current paying price for selected market and algorithm.","operationId":"getOrderPrice","parameters":[{"name":"market","in":"query","description":"Market","required":true,"schema":{"type":"string","enum":["EU","USA","EU_N","USA_E","SA","ASIA","BTC","USDT"]},"example":"EU"},{"name":"algorithm","in":"query","description":"Mining algorithm","required":true,"schema":{"type":"string","enum":["SCRYPT","SHA256","SCRYPTNF","X11","X13","KECCAK","X15","NIST5","NEOSCRYPT","LYRA2RE","WHIRLPOOLX","QUBIT","QUARK","AXIOM","LYRA2REV2","SCRYPTJANENF16","BLAKE256R8","BLAKE256R14","BLAKE256R8VNL","HODL","DAGGERHASHIMOTO","DECRED","CRYPTONIGHT","LBRY","EQUIHASH","PASCAL","X11GOST","SIA","BLAKE2S","SKUNK","CRYPTONIGHTV7","CRYPTONIGHTHEAVY","LYRA2Z","X16R","CRYPTONIGHTV8","SHA256ASICBOOST","ZHASH","BEAM","GRINCUCKAROO29","GRINCUCKATOO31","LYRA2REV3","CRYPTONIGHTR","CUCKOOCYCLE","GRINCUCKAROOD29","BEAMV2","X16RV2","RANDOMXMONERO","EAGLESONG","CUCKAROOM","GRINCUCKATOO32","HANDSHAKE","KAWPOW","CUCKAROO29BFC","BEAMV3","CUCKAROOZ29","OCTOPUS","AUTOLYKOS","ZELHASH","KADENA","ETCHASH","VERUSHASH","KHEAVYHASH","NEXAPOW","IRONFISH","KARLSENHASH","ALEPHIUM","FISHHASH","PYRINHASH","XELISHASHV2","ZKSNARK","FOMA_SHA256ASICBOOST","SHA256ASICBOOST_USDT","FOMA_SHA256ASICBOOST_USDT"]},"example":"SHA256"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrderPriceResponse"}}}}}}},"/api/v2/hashpower/myOrders":{"get":{"tags":["Hashpower private"],"summary":"MY ORDERS","description":"Get a list of my hashpower orders matching the filtering criteria as specified by parameters included in the request. ","operationId":"getMyOrders","parameters":[{"name":"algorithm","in":"query","description":"Mining algorithm (optional, if not supplied all algorithms are returned)","required":false,"schema":{"type":"string","enum":["SCRYPT","SHA256","SCRYPTNF","X11","X13","KECCAK","X15","NIST5","NEOSCRYPT","LYRA2RE","WHIRLPOOLX","QUBIT","QUARK","AXIOM","LYRA2REV2","SCRYPTJANENF16","BLAKE256R8","BLAKE256R14","BLAKE256R8VNL","HODL","DAGGERHASHIMOTO","DECRED","CRYPTONIGHT","LBRY","EQUIHASH","PASCAL","X11GOST","SIA","BLAKE2S","SKUNK","CRYPTONIGHTV7","CRYPTONIGHTHEAVY","LYRA2Z","X16R","CRYPTONIGHTV8","SHA256ASICBOOST","ZHASH","BEAM","GRINCUCKAROO29","GRINCUCKATOO31","LYRA2REV3","CRYPTONIGHTR","CUCKOOCYCLE","GRINCUCKAROOD29","BEAMV2","X16RV2","RANDOMXMONERO","EAGLESONG","CUCKAROOM","GRINCUCKATOO32","HANDSHAKE","KAWPOW","CUCKAROO29BFC","BEAMV3","CUCKAROOZ29","OCTOPUS","AUTOLYKOS","ZELHASH","KADENA","ETCHASH","VERUSHASH","KHEAVYHASH","NEXAPOW","IRONFISH","KARLSENHASH","ALEPHIUM","FISHHASH","PYRINHASH","XELISHASHV2","ZKSNARK","FOMA_SHA256ASICBOOST","SHA256ASICBOOST_USDT","FOMA_SHA256ASICBOOST_USDT"]},"example":"SHA256"},{"name":"status","in":"query","description":"Order status (optional, if not supplied, all order statuses are returned)","required":false,"schema":{"type":"string","enum":["PENDING","ACTIVE","PENDING_CANCELLATION","CANCELLED","DEAD","EXPIRED","ERROR","ERROR_ON_CREATION","ERROR_ON_CREATION_ON_REVERTING_TRANSACTIONS","COMPLETED","ERROR_MISSING"]},"example":"ACTIVE"},{"name":"active","in":"query","description":"Show only active or not active orders (optional, active orders: PENDING, ACTIVE, PENDING_CANCELLATION)","required":false,"schema":{"type":"boolean"},"example":true},{"name":"market","in":"query","description":"Filter by market place (optional)","required":false,"schema":{"type":"string","enum":["EU","USA","EU_N","USA_E","SA","ASIA","BTC","USDT"]},"example":"EU"},{"name":"type","in":"query","description":"Filter by type (options)","required":false,"schema":{"type":"string","enum":["STANDARD","FIXED","BUSINESS"]},"example":"STANDARD"},{"name":"ts","in":"query","description":"Timestamp to compare","required":true,"schema":{"type":"integer","format":"int64"},"example":255135600000000},{"name":"op","in":"query","description":"The order operator to compare timestamp","required":true,"schema":{"type":"string","enum":["GT","GE","LT","LE"]},"example":"GT"},{"name":"limit","in":"query","description":"Max limit results. Maximum is 1000","required":true,"schema":{"type":"integer","format":"int32"},"example":101}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HashPowerOrderList"}}}}},"security":[{"VHOR":[""]}]}},"/api/v2/hashpower/mass-buy/packages":{"get":{"tags":["hashpower-endpoint"],"operationId":"getMassBuyPackages","parameters":[{"name":"active","in":"query","required":false,"schema":{"type":"boolean","default":false}},{"name":"ticketId","in":"query","required":false,"schema":{"type":"string","format":"uuid"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":20}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/MassBuyPackageJSON"}}}}}}}},"/api/v2/hashpower/mass-buy/packages/latest":{"get":{"tags":["hashpower-endpoint"],"operationId":"getLatestMassBuyPackages","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MassBuyLatestPackagesJSON"}}}}}}},"/api/v2/hashpower/mass-buy/package/{id}":{"get":{"tags":["hashpower-endpoint"],"operationId":"getMassBuyPackageById","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MassBuyPackageJSON"}}}}}}},"/api/v2/hashpower/mass-buy/configurations":{"get":{"tags":["hashpower-endpoint"],"operationId":"getMassBuyConfigurationById","parameters":[{"name":"status","in":"query","required":false,"schema":{"uniqueItems":true,"type":"array","items":{"type":"string","enum":["AVAILABLE","NOT_AVAILABLE","COMING_SOON","SOLD_OUT","TEMPLATE"]}}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/MassBuyConfigurationJSON"}}}}}}}},"/api/v2/hashpower/business/settings/info":{"get":{"tags":["Hashpower private"],"summary":"BUSINESS SETTINGS DETAILS","description":"Get business settings details.","operationId":"hostingSettingsInfo","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/HostingSettingsJSON"}}}}}},"security":[{"VHOR":[""]}]}},"/api/v2/hashpower/business/buyers/info":{"get":{"tags":["Hashpower private"],"summary":"BUSINESS BUYER DETAILS","description":"Get your business buyer information.","operationId":"hostingOrdersInfo","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HostingBuyersJSON"}}}}},"security":[{"VHOR":[""]}]}},"/api/v2/hashpower/business/buyer/stats":{"get":{"tags":["Hashpower private"],"summary":"BUSINESS BUYER STATISTICS","description":"Get statistics about your business orders aggregated by day.","operationId":"hostingBuyerStats","parameters":[{"name":"aggregation","in":"query","description":"Aggregation mode","required":true,"schema":{"type":"string","enum":["DAY","WEEK","MONTH"]},"example":"DAY"},{"name":"algorithm","in":"query","description":"Mining algorithm","required":true,"schema":{"type":"string","enum":["SCRYPT","SHA256","SCRYPTNF","X11","X13","KECCAK","X15","NIST5","NEOSCRYPT","LYRA2RE","WHIRLPOOLX","QUBIT","QUARK","AXIOM","LYRA2REV2","SCRYPTJANENF16","BLAKE256R8","BLAKE256R14","BLAKE256R8VNL","HODL","DAGGERHASHIMOTO","DECRED","CRYPTONIGHT","LBRY","EQUIHASH","PASCAL","X11GOST","SIA","BLAKE2S","SKUNK","CRYPTONIGHTV7","CRYPTONIGHTHEAVY","LYRA2Z","X16R","CRYPTONIGHTV8","SHA256ASICBOOST","ZHASH","BEAM","GRINCUCKAROO29","GRINCUCKATOO31","LYRA2REV3","CRYPTONIGHTR","CUCKOOCYCLE","GRINCUCKAROOD29","BEAMV2","X16RV2","RANDOMXMONERO","EAGLESONG","CUCKAROOM","GRINCUCKATOO32","HANDSHAKE","KAWPOW","CUCKAROO29BFC","BEAMV3","CUCKAROOZ29","OCTOPUS","AUTOLYKOS","ZELHASH","KADENA","ETCHASH","VERUSHASH","KHEAVYHASH","NEXAPOW","IRONFISH","KARLSENHASH","ALEPHIUM","FISHHASH","PYRINHASH","XELISHASHV2","ZKSNARK","FOMA_SHA256ASICBOOST","SHA256ASICBOOST_USDT","FOMA_SHA256ASICBOOST_USDT"]},"example":"SHA256ASICBOOST"},{"name":"page","in":"query","description":"Page","required":false,"schema":{"type":"integer","format":"int32","default":0},"example":0},{"name":"limit","in":"query","description":"Limit","required":false,"schema":{"type":"integer","format":"int32","default":30},"example":30}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/HashpowerDailySummaryStatsJSON"}}}}}},"security":[{"VHOR":[""]}]}},"/api/v2/hashpower/business/buyer/stats/export":{"get":{"tags":["Hashpower private"],"summary":"BUSINESS BUYER EXPORT STATISTICS","description":"Export business statistics in selected range.","operationId":"hostingBuyerStatsExport","parameters":[{"name":"algorithm","in":"query","description":"Mining algorithm","required":true,"schema":{"type":"string","enum":["SCRYPT","SHA256","SCRYPTNF","X11","X13","KECCAK","X15","NIST5","NEOSCRYPT","LYRA2RE","WHIRLPOOLX","QUBIT","QUARK","AXIOM","LYRA2REV2","SCRYPTJANENF16","BLAKE256R8","BLAKE256R14","BLAKE256R8VNL","HODL","DAGGERHASHIMOTO","DECRED","CRYPTONIGHT","LBRY","EQUIHASH","PASCAL","X11GOST","SIA","BLAKE2S","SKUNK","CRYPTONIGHTV7","CRYPTONIGHTHEAVY","LYRA2Z","X16R","CRYPTONIGHTV8","SHA256ASICBOOST","ZHASH","BEAM","GRINCUCKAROO29","GRINCUCKATOO31","LYRA2REV3","CRYPTONIGHTR","CUCKOOCYCLE","GRINCUCKAROOD29","BEAMV2","X16RV2","RANDOMXMONERO","EAGLESONG","CUCKAROOM","GRINCUCKATOO32","HANDSHAKE","KAWPOW","CUCKAROO29BFC","BEAMV3","CUCKAROOZ29","OCTOPUS","AUTOLYKOS","ZELHASH","KADENA","ETCHASH","VERUSHASH","KHEAVYHASH","NEXAPOW","IRONFISH","KARLSENHASH","ALEPHIUM","FISHHASH","PYRINHASH","XELISHASHV2","ZKSNARK","FOMA_SHA256ASICBOOST","SHA256ASICBOOST_USDT","FOMA_SHA256ASICBOOST_USDT"]},"example":"SHA256ASICBOOST"},{"name":"beginTime","in":"query","description":"Begin Time","required":true,"schema":{"type":"integer","format":"int64"},"example":255135600000000},{"name":"endTime","in":"query","description":"End Time","required":true,"schema":{"type":"integer","format":"int64"},"example":255135600000000}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/HashpowerDailySummaryStatsJSON"}}}}}},"security":[{"VHOR":[""]}]}}},"components":{"schemas":{"VerifyHashpowerPool":{"type":"object","properties":{"poolVerificationServiceLocation":{"type":"string","description":"Market location from where the pool verification is executed","example":"EUROPE","enum":["EUROPE","USA","EUROPE_NORTH","USA_EAST","SOUTH_AMERICA","ASIA"]},"miningAlgorithm":{"type":"string","description":"Mining algorithm of the selected pool","example":"SHA256","enum":["SCRYPT","SHA256","SCRYPTNF","X11","X13","KECCAK","X15","NIST5","NEOSCRYPT","LYRA2RE","WHIRLPOOLX","QUBIT","QUARK","AXIOM","LYRA2REV2","SCRYPTJANENF16","BLAKE256R8","BLAKE256R14","BLAKE256R8VNL","HODL","DAGGERHASHIMOTO","DECRED","CRYPTONIGHT","LBRY","EQUIHASH","PASCAL","X11GOST","SIA","BLAKE2S","SKUNK","CRYPTONIGHTV7","CRYPTONIGHTHEAVY","LYRA2Z","X16R","CRYPTONIGHTV8","SHA256ASICBOOST","ZHASH","BEAM","GRINCUCKAROO29","GRINCUCKATOO31","LYRA2REV3","CRYPTONIGHTR","CUCKOOCYCLE","GRINCUCKAROOD29","BEAMV2","X16RV2","RANDOMXMONERO","EAGLESONG","CUCKAROOM","GRINCUCKATOO32","HANDSHAKE","KAWPOW","CUCKAROO29BFC","BEAMV3","CUCKAROOZ29","OCTOPUS","AUTOLYKOS","ZELHASH","KADENA","ETCHASH","VERUSHASH","KHEAVYHASH","NEXAPOW","IRONFISH","KARLSENHASH","ALEPHIUM","FISHHASH","PYRINHASH","XELISHASHV2","ZKSNARK","FOMA_SHA256ASICBOOST","SHA256ASICBOOST_USDT","FOMA_SHA256ASICBOOST_USDT"]},"stratumHost":{"type":"string","description":"Host name or ip of the selected stratum pool","example":"my.pool.com"},"stratumPort":{"type":"integer","description":"Port of the selected stratum pool","format":"int32","example":3333},"username":{"type":"string","description":"Username that is requested by the selected stratum pool","example":"myusername"},"password":{"type":"string","description":"Password that is requested by the selected stratum pool"}},"description":"Pool information","example":{"poolVerificationServiceLocation":"EUROPE","miningAlgorithm":"DAGGERHASHIMOTO","stratumHost":"etc.2miners.com","stratumPort":"1010","username":"x","password":"x"}},"LogMessage":{"type":"object","properties":{"timestamp":{"type":"string","description":"Timestamp","format":"date-time"},"level":{"type":"string","description":"Level","enum":["INFO","WARNING","SEVERE"]},"poolVerificationMessage":{"type":"string","description":"Pool verification message","enum":["INVALID_PORT_NUMBER","INVALID_HOST","NICEHASH_HOSTS_NOT_ALLOWED","INVALID_USERNAME","INVALID_PASSWORD","BLACKLISTED_POOL_HOST","POOL_HOST_SHOULD_NOT_INCLUDE_COLON","POOL_HOST_RESOLVED_TO_IP","POOL_HOST_CANNOT_BE_RESOLVED_TO_IP","CONNECTING_TO_STRATUM_PROXY_FOR_REGION","SELECTED_MINING_ALGORITHM","SELECTED_MINING_ALGORITHM_WITH_WARNING","UNKNOWN_PROXY_ERROR","PROXY_CONNECTION_REFUSED","SENDING_LOGIN_INFORMATION","RECEIVED_NO_RESPONSE_ON_LOGIN","UNKNOWN_MESSAGE","SENDING_MINING_SUBSCRIBE_REQUEST","SENDING_ETH_GET_WORK","RECEIVED_NO_RESPONSE","MINING_SUBSCRIBE_REQUEST_SUCCESSFUL","AUTHORIZATION_FAILED_WRONG_USERNAME_OR_PASSWORD","RECEIVED_MINING_SET_TARGET","RECEIVED_MINING_SET_DIFFICULTY","POOL_DIFFICULTY_TOO_LOW","POOL_EXTRANONCE_TOO_HIGH","POOL_EXTRANONCE_AND_EXTRANONCE2_TOO_HIGH","POOL_EXTRANONCE2_TOO_LOW","POOL_DIFFICULTY_CORRECT","QUESTIONABLE_STRATUM_VERSION","SENDING_MINING_CONFIG","RECEIVED_NO_RESPONSE_ON_MINING_CONFIG","FAILED_TO_PARSE_ROLING_VERSION","SENDING_GRIN_GET_WORK","FAILED_TO_PARSE_WORK","FAILED_TO_PARSE_DIFFICULTY","INVALID_JOB_BLOB_LENGTH","INVALID_POOL_EXTRANONCE","INVALID_MINING_SUBSCRIBE_RESPONSE","INVALID_LOGIN_RESPONSE","INVALID_WORK_RESPONSE","SUCCESS"]},"params":{"type":"object","additionalProperties":{"type":"string","description":"Map of Pool verification params with status"},"description":"Map of Pool verification params with status"},"message":{"type":"string","description":"Message"}},"description":"List of log messages (LogMessage)"},"PoolVerificationResult":{"type":"object","properties":{"success":{"type":"boolean","description":"Pool verification status"},"logs":{"type":"array","description":"List of log messages (LogMessage)","items":{"$ref":"#/components/schemas/LogMessage"}},"highestDifficulty":{"type":"number","description":"Highest difficulty set by pool","format":"double"},"highestDifficultyFormatted":{"type":"string","description":"Highest difficulty set by pool formatted"},"difficultyCorrect":{"type":"boolean","description":"Is pool difficulty correct"},"durationTime":{"type":"integer","description":"Pool verification duration time","format":"int64"}},"example":{"difficultyCorrect":true,"highestDifficulty":2.002313,"highestDifficultyFormatted":"2.002313","logs":[{"timestamp":"2020-10-05T10:57:01.145004Z","message":"Pool host etc.2miners.com resolved to IP 51.89.96.115","poolVerificationMessage":"POOL_HOST_RESOLVED_TO_IP","params":{"IP":"51.89.96.115","HOST":"etc.2miners.com"},"level":"INFO"},{"timestamp":"2020-10-05T10:57:01.146800Z","message":"Connecting to Stratum proxy for region: EUROPE","poolVerificationMessage":"CONNECTING_TO_STRATUM_PROXY_FOR_REGION","params":{"REGION":"EUROPE"},"level":"INFO"},{"timestamp":"2020-10-05T10:57:01.158714Z","message":"Selected mining algorithm: DaggerHashimoto","poolVerificationMessage":"SELECTED_MINING_ALGORITHM","params":{"MINING_ALGORITHM":"DaggerHashimoto"},"level":"INFO"},{"timestamp":"2020-10-05T10:57:01.158731Z","message":"Sending mining subscribe request","poolVerificationMessage":"SENDING_MINING_SUBSCRIBE_REQUEST","level":"INFO"},{"timestamp":"2020-10-05T10:57:01.158952Z","message":"Sending login information","poolVerificationMessage":"SENDING_LOGIN_INFORMATION","level":"INFO"},{"timestamp":"2020-10-05T10:57:01.170792Z","message":"Mining subscribe request successfully completed","poolVerificationMessage":"MINING_SUBSCRIBE_REQUEST_SUCCESSFUL","level":"INFO"},{"timestamp":"2020-10-05T10:57:01.223081Z","message":"Received mining set difficulty","poolVerificationMessage":"RECEIVED_MINING_SET_DIFFICULTY","level":"INFO"},{"timestamp":"2020-10-05T10:57:01.223570Z","message":"Pool difficulty is correct (provided=2.002313, minimum=0.9)","poolVerificationMessage":"POOL_DIFFICULTY_CORRECT","params":{"PROVIDED_DIFFICULTY":"2.002313","MINIMUM_DIFFICULTY":"0.9"},"level":"INFO"}],"success":true}},"HashpowerPool":{"type":"object","properties":{"id":{"type":"string","description":"Pool id (When creating new pool this value should not be set.)","format":"uuid"},"name":{"type":"string","description":"Pool custom name"},"algorithm":{"type":"string","description":"Pool algorithm","enum":["SCRYPT","SHA256","SCRYPTNF","X11","X13","KECCAK","X15","NIST5","NEOSCRYPT","LYRA2RE","WHIRLPOOLX","QUBIT","QUARK","AXIOM","LYRA2REV2","SCRYPTJANENF16","BLAKE256R8","BLAKE256R14","BLAKE256R8VNL","HODL","DAGGERHASHIMOTO","DECRED","CRYPTONIGHT","LBRY","EQUIHASH","PASCAL","X11GOST","SIA","BLAKE2S","SKUNK","CRYPTONIGHTV7","CRYPTONIGHTHEAVY","LYRA2Z","X16R","CRYPTONIGHTV8","SHA256ASICBOOST","ZHASH","BEAM","GRINCUCKAROO29","GRINCUCKATOO31","LYRA2REV3","CRYPTONIGHTR","CUCKOOCYCLE","GRINCUCKAROOD29","BEAMV2","X16RV2","RANDOMXMONERO","EAGLESONG","CUCKAROOM","GRINCUCKATOO32","HANDSHAKE","KAWPOW","CUCKAROO29BFC","BEAMV3","CUCKAROOZ29","OCTOPUS","AUTOLYKOS","ZELHASH","KADENA","ETCHASH","VERUSHASH","KHEAVYHASH","NEXAPOW","IRONFISH","KARLSENHASH","ALEPHIUM","FISHHASH","PYRINHASH","XELISHASHV2","ZKSNARK","FOMA_SHA256ASICBOOST","SHA256ASICBOOST_USDT","FOMA_SHA256ASICBOOST_USDT"]},"stratumHostname":{"type":"string","description":"Hostname or ip of the pool"},"stratumPort":{"type":"integer","description":"Port of the pool","format":"int32"},"username":{"type":"string","description":"Username"},"password":{"type":"string","description":"Password (Set password to # when using ethproxy pool.)"},"updatedTs":{"type":"string","format":"date-time"},"inMoratorium":{"type":"boolean"}},"description":"Pool creation request body.","example":{"username":"x","stratumPort":17040,"name":"Lyra2REv3","algorithm":"LYRA2REV3","updatedTs":"2020-09-23T13:30:35.442984Z","password":"x","stratumHostname":"10.10.0.81","id":"804e4b51-e3cd-4c4a-b202-205558559be5"}},"CreateVmmOrder":{"type":"object","properties":{"vmmPackageId":{"type":"string","description":"VMM package ID","format":"uuid"},"poolType":{"type":"string","description":"Internal VMM pool type (alternative to poolId)","enum":["BTC_SPOT","USDT_SPOT","SOLO"]},"poolId":{"type":"string","description":"User-supplied external pool ID (alternative to poolType)","format":"uuid"},"amountUSD":{"type":"number","description":"Amount in USD (flexible packages only)"},"speed":{"type":"number","description":"Speed (flexible packages only)"}}},"HashPowerOrderResult":{"type":"object","properties":{"id":{"type":"string","description":"Id of hashpower order","example":"d975f288-d9f5-462a-b16e-7fe75722f880"},"createdTs":{"type":"string","description":"Timestamp when order was created in ISO format","format":"date-time","example":"2020-09-23T13:34:32.173707Z"},"updatedTs":{"type":"string","description":"Timestamp when order was last updated in ISO format","format":"date-time","example":"2020-09-30T11:56:01.178812Z"},"requestId":{"type":"string","description":"Idem of order","example":"x3vv9mwenloet0ia8qxgwkxwsayjk3un"},"type":{"$ref":"#/components/schemas/HashPowerOrderType"},"subType":{"type":"string","enum":["BUSINESS_FIXED_SPEED","BUSINESS_ENGINE"]},"market":{"type":"string","description":"Location where order was placed","example":"EU","enum":["EU","USA","EU_N","USA_E","SA","ASIA","BTC","USDT"]},"algorithm":{"$ref":"#/components/schemas/MiningAlgorithm"},"status":{"$ref":"#/components/schemas/HashPowerOrderStatus"},"price":{"type":"number","description":"Order price","example":0.001},"limit":{"type":"number","description":"Speed limit","example":0.001},"bottomLimit":{"type":"number","description":"Bottom Speed limit","example":0.001},"amount":{"type":"number","description":"Amount in the order","example":0.01},"availableAmount":{"type":"number","description":"Available amount","example":0.00989409},"payedAmount":{"type":"number","description":"Amount payed for hashpower","example":0.00000573},"alive":{"type":"boolean","description":"Is order alive","example":true},"startTs":{"type":"string","description":"Start timestamp in ISO format","format":"date-time","example":"2020-09-23T13:34:32.173413Z"},"endTs":{"type":"string","description":"End timestamp in ISO format","format":"date-time","example":"2020-09-23T13:34:32.173413Z"},"pool":{"$ref":"#/components/schemas/HashpowerPool"},"organizationId":{"type":"string","description":"Organisation Id","format":"uuid","example":"5761a6f2-fb29-4023-9f1e-15fb8817541a"},"creatorUserId":{"type":"string","description":"User Id","format":"uuid","example":"949ce377-d30d-4f39-b2db-99d8c5ca05c3"},"rigsCount":{"type":"integer","description":"Number of rigs mining for this order","format":"int64","example":200},"acceptedCurrentSpeed":{"type":"number","description":"Accepted speed","example":0.123},"displayMarketFactor":{"type":"string","description":"Market faktor unit","example":"TH"},"marketFactor":{"type":"number","description":"Market factor","example":1000000000000},"priceFactor":{"type":"number","description":"Market factor for the algorithm"},"displayPriceFactor":{"type":"string","description":"Market unit for the algorithm"},"estimateDurationInSeconds":{"type":"integer","description":"Estimated duration in seconds","format":"int64","example":600},"bridges":{"type":"array","description":"Bridges list","items":{"$ref":"#/components/schemas/RpcOrderBridge"}},"liquidation":{"type":"string","description":"Order liquidation"},"meta":{"type":"string","description":"Order meta"},"soloReward":{"type":"array","description":"Solo mining rewards","items":{"$ref":"#/components/schemas/HashpowerOrderRewards"}},"soloMiningRewardAddr":{"type":"string","description":"Solo mining external reward address"},"soloMiningRewardExchangeId":{"type":"string","description":"Solo mining xch id","format":"uuid"},"soloMiningMergeRewardExchangeId":{"type":"string","format":"uuid"},"soloMiningCoin":{"type":"string","description":"Solo mining coin","enum":["BTC","EUR","ETH","XRP","BCH","LTC","ZEC","DASH","XLM","EOS","SOL","BSV","LINK","BAT","PAX","ZRX","HOT","OMG","REP","NEXO","BTG","EURKM","ENJ","MATIC","ELF","SNT","BNT","KNC","MTL","POLY","POWR","GTO","LOOM","CVC","AST","PPT","LRC","KEY","STORJ","STORM","TNT","DATA","AOA","RDN","USDC","FET","ANT","AERGO","LBA","XMR","MITH","BAND","SXP","EURS","WBTC","RVN","UNI","AAVE","FTM","YFI","DOGE","ONEINCH","SUSHI","OCEAN","MKR","CRV","CHZ","GRT","GNO","HBAR","ADA","ALGO","XTZ","SAND","SHIB","STX","GALA","USDT","DOT","ETC","TRX","KSM","KAS","USD","TBTC","TEUR","TETH","TXRP","TBCH","TLTC","TZEC","TDASH","TXLM","TEOS","TERC","TBSV","TBTG","TEURKM","TXMR","TRVN","TDOGE","THBAR","TADA","TALGO","TXTZ","TSTX","TTTT","TSOL","TDOT","TETC","TTRX","TMARC","TKAS","TUSD","USDTNH"]},"soloMiningMergeCoin":{"type":"string","enum":["BTC","EUR","ETH","XRP","BCH","LTC","ZEC","DASH","XLM","EOS","SOL","BSV","LINK","BAT","PAX","ZRX","HOT","OMG","REP","NEXO","BTG","EURKM","ENJ","MATIC","ELF","SNT","BNT","KNC","MTL","POLY","POWR","GTO","LOOM","CVC","AST","PPT","LRC","KEY","STORJ","STORM","TNT","DATA","AOA","RDN","USDC","FET","ANT","AERGO","LBA","XMR","MITH","BAND","SXP","EURS","WBTC","RVN","UNI","AAVE","FTM","YFI","DOGE","ONEINCH","SUSHI","OCEAN","MKR","CRV","CHZ","GRT","GNO","HBAR","ADA","ALGO","XTZ","SAND","SHIB","STX","GALA","USDT","DOT","ETC","TRX","KSM","KAS","USD","TBTC","TEUR","TETH","TXRP","TBCH","TLTC","TZEC","TDASH","TXLM","TEOS","TERC","TBSV","TBTG","TEURKM","TXMR","TRVN","TDOGE","THBAR","TADA","TALGO","TXTZ","TSTX","TTTT","TSOL","TDOT","TETC","TTRX","TMARC","TKAS","TUSD","USDTNH"]}}},"HashPowerOrderStatus":{"type":"object","properties":{"code":{"type":"string","description":"Order status code","example":"CANCELLED","enum":["PENDING","ACTIVE","PENDING_CANCELLATION","CANCELLED","DEAD","EXPIRED","ERROR","ERROR_ON_CREATION","ERROR_ON_CREATION_ON_REVERTING_TRANSACTIONS","COMPLETED","ERROR_MISSING"]},"description":{"type":"string","description":"Translated description of status","example":"Cancelled"}},"description":"Status object"},"HashPowerOrderType":{"type":"object","properties":{"code":{"type":"string","description":"Enum code","example":"STANDARD","enum":["STANDARD","FIXED","BUSINESS"]},"description":{"type":"string","description":"Translated enum","example":"Standard"}},"description":"Type object"},"HashpowerOrderRewards":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"orderId":{"type":"string","format":"uuid"},"coin":{"type":"string","enum":["BTC","EUR","ETH","XRP","BCH","LTC","ZEC","DASH","XLM","EOS","SOL","BSV","LINK","BAT","PAX","ZRX","HOT","OMG","REP","NEXO","BTG","EURKM","ENJ","MATIC","ELF","SNT","BNT","KNC","MTL","POLY","POWR","GTO","LOOM","CVC","AST","PPT","LRC","KEY","STORJ","STORM","TNT","DATA","AOA","RDN","USDC","FET","ANT","AERGO","LBA","XMR","MITH","BAND","SXP","EURS","WBTC","RVN","UNI","AAVE","FTM","YFI","DOGE","ONEINCH","SUSHI","OCEAN","MKR","CRV","CHZ","GRT","GNO","HBAR","ADA","ALGO","XTZ","SAND","SHIB","STX","GALA","USDT","DOT","ETC","TRX","KSM","KAS","USD","TBTC","TEUR","TETH","TXRP","TBCH","TLTC","TZEC","TDASH","TXLM","TEOS","TERC","TBSV","TBTG","TEURKM","TXMR","TRVN","TDOGE","THBAR","TADA","TALGO","TXTZ","TSTX","TTTT","TSOL","TDOT","TETC","TTRX","TMARC","TKAS","TUSD","USDTNH"]},"blockHeight":{"type":"integer","format":"int64"},"blockHash":{"type":"string"},"tx":{"type":"string"},"payoutAddress":{"type":"string"},"payoutReward":{"type":"integer","format":"int64"},"payoutRewardBtc":{"type":"number"},"feeAddress":{"type":"string"},"feeReward":{"type":"integer","format":"int64"},"time":{"type":"integer","format":"int64"},"createdTs":{"type":"string","format":"date-time"},"depositComplete":{"type":"boolean"},"confirmations":{"type":"integer","format":"int32"},"minConfirmations":{"type":"integer","format":"int32"},"packageId":{"type":"string","format":"uuid"},"packageName":{"type":"string"},"secondsEta":{"type":"integer","format":"int32"},"shared":{"type":"boolean"},"depositDonated":{"type":"boolean"}},"description":"Solo mining rewards","example":{"list":[{"id":"d1fe77c3-377d-4374-9055-c3f7ad5e044b","currencyAlgoTicket":{"id":"09977396-a081-42a9-b7bd-706ce6702df0","price":0.1681,"probability":43,"currencyAlgo":{"id":"1505a368-8bda-4825-810d-43954109eceb","currency":"BTC","miningAlgorithm":"SHA256ASICBOOST","networkDifficulty":5.1234338E13,"networkHashpower":370627853451785700000,"blockReward":6.1875,"blockTime":600.0},"status":"A","available":true,"name":"Team Gold","duration":14400,"countdownDuration":7200,"maxBuyCount":1},"createdTs":"2023-06-07T05:22:35.490387Z","fullAmount":0.1701,"addedAmount":0.1191,"probability":62,"status":"COUNTDOWN","lifeTimeTill":"2023-06-07T07:22:42.188621Z","countdownDuration":7200,"duration":14400,"members":[],"numberOfParticipants":41,"ignoreFilledAmount":false}]}},"MiningAlgorithm":{"type":"object","properties":{"algorithm":{"type":"string","description":"Algorithm","example":"LYRA2REV3","enum":["SCRYPT","SHA256","SCRYPTNF","X11","X13","KECCAK","X15","NIST5","NEOSCRYPT","LYRA2RE","WHIRLPOOLX","QUBIT","QUARK","AXIOM","LYRA2REV2","SCRYPTJANENF16","BLAKE256R8","BLAKE256R14","BLAKE256R8VNL","HODL","DAGGERHASHIMOTO","DECRED","CRYPTONIGHT","LBRY","EQUIHASH","PASCAL","X11GOST","SIA","BLAKE2S","SKUNK","CRYPTONIGHTV7","CRYPTONIGHTHEAVY","LYRA2Z","X16R","CRYPTONIGHTV8","SHA256ASICBOOST","ZHASH","BEAM","GRINCUCKAROO29","GRINCUCKATOO31","LYRA2REV3","CRYPTONIGHTR","CUCKOOCYCLE","GRINCUCKAROOD29","BEAMV2","X16RV2","RANDOMXMONERO","EAGLESONG","CUCKAROOM","GRINCUCKATOO32","HANDSHAKE","KAWPOW","CUCKAROO29BFC","BEAMV3","CUCKAROOZ29","OCTOPUS","AUTOLYKOS","ZELHASH","KADENA","ETCHASH","VERUSHASH","KHEAVYHASH","NEXAPOW","IRONFISH","KARLSENHASH","ALEPHIUM","FISHHASH","PYRINHASH","XELISHASHV2","ZKSNARK","FOMA_SHA256ASICBOOST","SHA256ASICBOOST_USDT","FOMA_SHA256ASICBOOST_USDT"]},"title":{"type":"string","description":"Title of the algorithm","example":"Lyra2REv3"},"enabled":{"type":"boolean","description":"Is the algorithm Enabled","example":true},"order":{"type":"integer","description":"Algorithm order number","format":"int32","example":40}},"description":"Algorithm object"},"RpcOrderBridge":{"type":"object","properties":{"rigsCount":{"type":"integer","description":"Numer of rigs on bridge","format":"int32","example":153},"jobsCount":{"type":"integer","description":"Numer of jobs on bridge","format":"int32","example":153},"speedAccepted":{"type":"number","description":"Speed accepted by the bridge","example":1002159035.7333333},"speedRewarded":{"type":"number","description":"Speed rewarded by the bridge","example":21321.01322},"speedRejected":{"type":"number","description":"Speed rejected by the bridge","example":21321.01322},"sharesAccepted":{"type":"integer","description":"Number of shares accepted on bridge","format":"int32","example":153},"sharesRewarded":{"type":"integer","description":"Number of shares rewarded on bridge","format":"int32","example":153},"sharesRejected":{"type":"integer","description":"Number of rejected shares on bridge","format":"int32","example":153},"difficulty":{"type":"number","description":"Pool difficulty","example":1000000},"status":{"type":"string","description":"Bridge statues","example":"OK"}},"description":"Bridges list"},"TicketOrder":{"type":"object","properties":{"ticketId":{"type":"string","description":"Ticket ID","format":"uuid"},"soloMiningRewardAddr":{"type":"string","description":"Reward address"},"mergeSoloMiningRewardAddr":{"type":"string","description":"Merge Reward address"},"soloMiningRewardWithdrawalAddrId":{"type":"string","format":"uuid"},"mergeSoloMiningRewardWithdrawalAddrId":{"type":"string","format":"uuid"},"buyWithCurrency":{"type":"string","enum":["BTC","EUR","ETH","XRP","BCH","LTC","ZEC","DASH","XLM","EOS","SOL","BSV","LINK","BAT","PAX","ZRX","HOT","OMG","REP","NEXO","BTG","EURKM","ENJ","MATIC","ELF","SNT","BNT","KNC","MTL","POLY","POWR","GTO","LOOM","CVC","AST","PPT","LRC","KEY","STORJ","STORM","TNT","DATA","AOA","RDN","USDC","FET","ANT","AERGO","LBA","XMR","MITH","BAND","SXP","EURS","WBTC","RVN","UNI","AAVE","FTM","YFI","DOGE","ONEINCH","SUSHI","OCEAN","MKR","CRV","CHZ","GRT","GNO","HBAR","ADA","ALGO","XTZ","SAND","SHIB","STX","GALA","USDT","DOT","ETC","TRX","KSM","KAS","USD","TBTC","TEUR","TETH","TXRP","TBCH","TLTC","TZEC","TDASH","TXLM","TEOS","TERC","TBSV","TBTG","TEURKM","TXMR","TRVN","TDOGE","THBAR","TADA","TALGO","TXTZ","TSTX","TTTT","TSOL","TDOT","TETC","TTRX","TMARC","TKAS","TUSD","USDTNH"]}},"description":"Order"},"CustomPackageCreate":{"type":"object","properties":{"amount":{"type":"number"},"market":{"type":"string","enum":["EU","USA","EU_N","USA_E","SA","ASIA","BTC","USDT"]},"coin":{"type":"string","enum":["BTC","EUR","ETH","XRP","BCH","LTC","ZEC","DASH","XLM","EOS","SOL","BSV","LINK","BAT","PAX","ZRX","HOT","OMG","REP","NEXO","BTG","EURKM","ENJ","MATIC","ELF","SNT","BNT","KNC","MTL","POLY","POWR","GTO","LOOM","CVC","AST","PPT","LRC","KEY","STORJ","STORM","TNT","DATA","AOA","RDN","USDC","FET","ANT","AERGO","LBA","XMR","MITH","BAND","SXP","EURS","WBTC","RVN","UNI","AAVE","FTM","YFI","DOGE","ONEINCH","SUSHI","OCEAN","MKR","CRV","CHZ","GRT","GNO","HBAR","ADA","ALGO","XTZ","SAND","SHIB","STX","GALA","USDT","DOT","ETC","TRX","KSM","KAS","USD","TBTC","TEUR","TETH","TXRP","TBCH","TLTC","TZEC","TDASH","TXLM","TEOS","TERC","TBSV","TBTG","TEURKM","TXMR","TRVN","TDOGE","THBAR","TADA","TALGO","TXTZ","TSTX","TTTT","TSOL","TDOT","TETC","TTRX","TMARC","TKAS","TUSD","USDTNH"]},"mergeCoin":{"type":"string","enum":["BTC","EUR","ETH","XRP","BCH","LTC","ZEC","DASH","XLM","EOS","SOL","BSV","LINK","BAT","PAX","ZRX","HOT","OMG","REP","NEXO","BTG","EURKM","ENJ","MATIC","ELF","SNT","BNT","KNC","MTL","POLY","POWR","GTO","LOOM","CVC","AST","PPT","LRC","KEY","STORJ","STORM","TNT","DATA","AOA","RDN","USDC","FET","ANT","AERGO","LBA","XMR","MITH","BAND","SXP","EURS","WBTC","RVN","UNI","AAVE","FTM","YFI","DOGE","ONEINCH","SUSHI","OCEAN","MKR","CRV","CHZ","GRT","GNO","HBAR","ADA","ALGO","XTZ","SAND","SHIB","STX","GALA","USDT","DOT","ETC","TRX","KSM","KAS","USD","TBTC","TEUR","TETH","TXRP","TBCH","TLTC","TZEC","TDASH","TXLM","TEOS","TERC","TBSV","TBTG","TEURKM","TXMR","TRVN","TDOGE","THBAR","TADA","TALGO","TXTZ","TSTX","TTTT","TSOL","TDOT","TETC","TTRX","TMARC","TKAS","TUSD","USDTNH"]},"durationInSeconds":{"type":"integer","format":"int32"},"limit":{"type":"number"},"soloMiningRewardAddr":{"type":"string"},"mergeSoloMiningRewardAddr":{"type":"string"},"shouldRefill":{"type":"boolean"},"shouldAirdrop":{"type":"boolean"},"orderId":{"type":"string","format":"uuid"}},"description":"Order"},"SharedTicketAddJSON":{"type":"object","properties":{"amount":{"type":"number","description":"Amount of funds added"},"clear":{"type":"boolean","description":"Remove all funds"},"code":{"type":"string","description":"Use coupon code"},"shares":{"$ref":"#/components/schemas/SharedTicketSharesJSON"},"soloMiningRewardAddr":{"type":"string","description":"Reward address"},"mergeSoloMiningRewardAddr":{"type":"string","description":"Merge Reward address"},"soloMiningRewardWithdrawalAddrId":{"type":"string","format":"uuid"},"mergeSoloMiningRewardWithdrawalAddrId":{"type":"string","format":"uuid"}}},"SharedTicketSharesJSON":{"type":"object","properties":{"small":{"type":"integer","format":"int32"},"medium":{"type":"integer","format":"int32"},"large":{"type":"integer","format":"int32"},"couponSmall":{"type":"integer","format":"int32"},"couponMedium":{"type":"integer","format":"int32"},"couponLarge":{"type":"integer","format":"int32"},"massBuy":{"type":"integer","format":"int32"}},"description":"Shares"},"SuccessResponse":{"type":"object","properties":{"success":{"type":"boolean","description":"Success"},"message":{"type":"string","description":"Message"},"successType":{"type":"string","description":"SuccessType","enum":["SUCCESSFUL","PARTIAL_SUCCESS","NOT_SUCCESSFUL"]}}},"OrderEstimateRequest":{"type":"object","properties":{"type":{"type":"string","description":"Order type","enum":["STANDARD","FIXED","BUSINESS"]},"price":{"type":"number","description":"Price"},"limit":{"type":"number","description":"Speed limit"},"amount":{"type":"number","description":"Amount"},"decreaseFee":{"type":"boolean","description":"Should be amount decrease by fee amount before estimation"},"displayMarketFactor":{"type":"string","description":"Unit of market factor"},"marketFactor":{"type":"number","description":"Market factor"},"displayPriceFactor":{"type":"string","description":"Price unit for the algorithm"},"priceFactor":{"type":"number","description":"Price factor for the algorithm"}},"description":"Order estimation request"},"OrderEstimateResult":{"type":"object","properties":{"estimateDurationInSeconds":{"type":"integer","description":"Estimated duration in seconds","format":"int64","example":2342}}},"CreateHashPowerOrder":{"type":"object","properties":{"market":{"type":"string","description":"Market","enum":["EU","USA","EU_N","USA_E","SA","ASIA","BTC","USDT"]},"algorithm":{"type":"string","description":"Algorithm","enum":["SCRYPT","SHA256","SCRYPTNF","X11","X13","KECCAK","X15","NIST5","NEOSCRYPT","LYRA2RE","WHIRLPOOLX","QUBIT","QUARK","AXIOM","LYRA2REV2","SCRYPTJANENF16","BLAKE256R8","BLAKE256R14","BLAKE256R8VNL","HODL","DAGGERHASHIMOTO","DECRED","CRYPTONIGHT","LBRY","EQUIHASH","PASCAL","X11GOST","SIA","BLAKE2S","SKUNK","CRYPTONIGHTV7","CRYPTONIGHTHEAVY","LYRA2Z","X16R","CRYPTONIGHTV8","SHA256ASICBOOST","ZHASH","BEAM","GRINCUCKAROO29","GRINCUCKATOO31","LYRA2REV3","CRYPTONIGHTR","CUCKOOCYCLE","GRINCUCKAROOD29","BEAMV2","X16RV2","RANDOMXMONERO","EAGLESONG","CUCKAROOM","GRINCUCKATOO32","HANDSHAKE","KAWPOW","CUCKAROO29BFC","BEAMV3","CUCKAROOZ29","OCTOPUS","AUTOLYKOS","ZELHASH","KADENA","ETCHASH","VERUSHASH","KHEAVYHASH","NEXAPOW","IRONFISH","KARLSENHASH","ALEPHIUM","FISHHASH","PYRINHASH","XELISHASHV2","ZKSNARK","FOMA_SHA256ASICBOOST","SHA256ASICBOOST_USDT","FOMA_SHA256ASICBOOST_USDT"]},"amount":{"type":"number","description":"Amount in BTC"},"displayMarketFactor":{"type":"string","description":"Used display market factor"},"marketFactor":{"type":"number","description":"Used display market factor (numeric)"},"displayPriceFactor":{"type":"string","description":"Unit for price factor"},"priceFactor":{"type":"number","description":"Price factor"},"price":{"type":"number","description":"Price in BTC/factor[hash/sol]/day, limited to 4 digits to the right of the decimal point!"},"poolId":{"type":"string","description":"Pool id","format":"uuid"},"limit":{"type":"number","description":"Speed limit in factor[hash/sol]/s, must be above market bottom limit or zero for unlimited speed"},"type":{"type":"string","description":"Hash power order type","enum":["STANDARD","FIXED","BUSINESS"]},"subType":{"type":"string","enum":["BUSINESS_FIXED_SPEED","BUSINESS_ENGINE"]}},"description":"Order"},"UpdateOrderPriceAndLimit":{"type":"object","properties":{"price":{"type":"number","description":"Order price"},"limit":{"type":"number","description":"Order speed limit"},"displayMarketFactor":{"type":"string","description":"Used display market factor"},"marketFactor":{"type":"number","description":"Used display market factor (numeric)"},"displayPriceFactor":{"type":"string","description":"Unit for price factor"},"priceFactor":{"type":"number","description":"Price factor"}},"description":"Update Order price and limit"},"UpdateEndTs":{"type":"object","properties":{"endTs":{"type":"string","format":"date-time"}},"description":"Update Order end date"},"UpdateBottomLimit":{"type":"object","properties":{"bottomLimit":{"type":"number","description":"Bottom speed limit"},"endTs":{"type":"string","description":"End date","format":"date-time"}},"description":"Update Order bottom speed limit"},"RefillHashPowerOrder":{"type":"object","properties":{"amount":{"type":"number"}},"description":"Refill Order request"},"CreateMassBuyPackageJSON":{"type":"object","properties":{"ticketId":{"type":"string","format":"uuid"},"numberOfPackages":{"type":"integer","format":"int32"},"numberOfShares":{"type":"integer","format":"int32"},"soloMiningRewardAddr":{"type":"string"},"mergeSoloMiningRewardAddr":{"type":"string"},"soloMiningRewardWithdrawalAddrId":{"type":"string","format":"uuid"},"mergeSoloMiningRewardWithdrawalAddrId":{"type":"string","format":"uuid"}}},"CreateBusinessHashPowerOrder":{"type":"object","properties":{"market":{"type":"string","description":"Market","enum":["EU","USA","EU_N","USA_E","SA","ASIA","BTC","USDT"]},"algorithm":{"type":"string","description":"Algorithm","enum":["SCRYPT","SHA256","SCRYPTNF","X11","X13","KECCAK","X15","NIST5","NEOSCRYPT","LYRA2RE","WHIRLPOOLX","QUBIT","QUARK","AXIOM","LYRA2REV2","SCRYPTJANENF16","BLAKE256R8","BLAKE256R14","BLAKE256R8VNL","HODL","DAGGERHASHIMOTO","DECRED","CRYPTONIGHT","LBRY","EQUIHASH","PASCAL","X11GOST","SIA","BLAKE2S","SKUNK","CRYPTONIGHTV7","CRYPTONIGHTHEAVY","LYRA2Z","X16R","CRYPTONIGHTV8","SHA256ASICBOOST","ZHASH","BEAM","GRINCUCKAROO29","GRINCUCKATOO31","LYRA2REV3","CRYPTONIGHTR","CUCKOOCYCLE","GRINCUCKAROOD29","BEAMV2","X16RV2","RANDOMXMONERO","EAGLESONG","CUCKAROOM","GRINCUCKATOO32","HANDSHAKE","KAWPOW","CUCKAROO29BFC","BEAMV3","CUCKAROOZ29","OCTOPUS","AUTOLYKOS","ZELHASH","KADENA","ETCHASH","VERUSHASH","KHEAVYHASH","NEXAPOW","IRONFISH","KARLSENHASH","ALEPHIUM","FISHHASH","PYRINHASH","XELISHASHV2","ZKSNARK","FOMA_SHA256ASICBOOST","SHA256ASICBOOST_USDT","FOMA_SHA256ASICBOOST_USDT"]},"amount":{"type":"number","description":"Amount in BTC"},"displayMarketFactor":{"type":"string","description":"Used display market factor"},"marketFactor":{"type":"number","description":"Used display market factor (numeric)"},"displayPriceFactor":{"type":"string","description":"Unit for price factor"},"priceFactor":{"type":"number","description":"Price factor"},"poolId":{"type":"string","description":"Pool id","format":"uuid"},"endTs":{"type":"string","description":"Hash power order end date","format":"date-time"},"bottomLimit":{"type":"number","description":"Bottom speed limit in factor[hash/sol]/s, limited to 2 digits to the right of the decimal point!"},"limit":{"type":"number","description":"Speed limit in factor[hash/sol]/s, limited to 2 digits to the right of the decimal point!"},"subType":{"type":"string","enum":["BUSINESS_FIXED_SPEED","BUSINESS_ENGINE"]}},"description":"Order"},"VmmFlexiblePreview":{"type":"object","properties":{"durationInSeconds":{"type":"integer","description":"Estimated order duration in seconds","format":"int64","example":86400},"miningSpeed":{"type":"number","description":"Mining speed in display units","example":100.5},"miningSpeedUnit":{"type":"string","description":"Display unit for mining speed","example":"EH/s"},"virtualMiners":{"type":"integer","description":"Estimated number of virtual miners","format":"int32","example":3},"estimatedEarnings":{"type":"number","description":"Approximate BTC earnings over the estimated duration","example":0.00012345},"demand":{"type":"integer","description":"Number of virtual miners this package represents","format":"int32","example":1}}},"AlgoStatsResponse":{"type":"object","properties":{"a":{"type":"integer","description":"Algorithem code","format":"int32"},"s":{"type":"number","description":"Total speed [H/Sol/G]/s","format":"double"},"p":{"type":"number","description":"Paying price in satoshi/[H/Sol/G]/sec per day","format":"double"},"r":{"type":"integer","description":"Number of rigs on the algorithm","format":"int64"},"o":{"type":"integer","description":"Number active orders","format":"int64"},"v":{"type":"number","description":"24h volume in [H/Sol/G]","format":"double"}}},"AlgoStatsResponseList":{"type":"object","properties":{"algos":{"type":"array","items":{"$ref":"#/components/schemas/AlgoStatsResponse"}}},"example":{"algos":[{"a":1,"p":8.81018784360708E-10,"s":4.8767691882525248E17,"r":36894,"o":47},{"a":52,"p":3.6914541904932424E-4,"s":4.914977884948022E11,"r":21511,"o":85}]}},"CurrencyAlgo":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"currency":{"type":"string","enum":["BTC","EUR","ETH","XRP","BCH","LTC","ZEC","DASH","XLM","EOS","SOL","BSV","LINK","BAT","PAX","ZRX","HOT","OMG","REP","NEXO","BTG","EURKM","ENJ","MATIC","ELF","SNT","BNT","KNC","MTL","POLY","POWR","GTO","LOOM","CVC","AST","PPT","LRC","KEY","STORJ","STORM","TNT","DATA","AOA","RDN","USDC","FET","ANT","AERGO","LBA","XMR","MITH","BAND","SXP","EURS","WBTC","RVN","UNI","AAVE","FTM","YFI","DOGE","ONEINCH","SUSHI","OCEAN","MKR","CRV","CHZ","GRT","GNO","HBAR","ADA","ALGO","XTZ","SAND","SHIB","STX","GALA","USDT","DOT","ETC","TRX","KSM","KAS","USD","TBTC","TEUR","TETH","TXRP","TBCH","TLTC","TZEC","TDASH","TXLM","TEOS","TERC","TBSV","TBTG","TEURKM","TXMR","TRVN","TDOGE","THBAR","TADA","TALGO","TXTZ","TSTX","TTTT","TSOL","TDOT","TETC","TTRX","TMARC","TKAS","TUSD","USDTNH"]},"miningAlgorithm":{"type":"string","enum":["SCRYPT","SHA256","SCRYPTNF","X11","X13","KECCAK","X15","NIST5","NEOSCRYPT","LYRA2RE","WHIRLPOOLX","QUBIT","QUARK","AXIOM","LYRA2REV2","SCRYPTJANENF16","BLAKE256R8","BLAKE256R14","BLAKE256R8VNL","HODL","DAGGERHASHIMOTO","DECRED","CRYPTONIGHT","LBRY","EQUIHASH","PASCAL","X11GOST","SIA","BLAKE2S","SKUNK","CRYPTONIGHTV7","CRYPTONIGHTHEAVY","LYRA2Z","X16R","CRYPTONIGHTV8","SHA256ASICBOOST","ZHASH","BEAM","GRINCUCKAROO29","GRINCUCKATOO31","LYRA2REV3","CRYPTONIGHTR","CUCKOOCYCLE","GRINCUCKAROOD29","BEAMV2","X16RV2","RANDOMXMONERO","EAGLESONG","CUCKAROOM","GRINCUCKATOO32","HANDSHAKE","KAWPOW","CUCKAROO29BFC","BEAMV3","CUCKAROOZ29","OCTOPUS","AUTOLYKOS","ZELHASH","KADENA","ETCHASH","VERUSHASH","KHEAVYHASH","NEXAPOW","IRONFISH","KARLSENHASH","ALEPHIUM","FISHHASH","PYRINHASH","XELISHASHV2","ZKSNARK","FOMA_SHA256ASICBOOST","SHA256ASICBOOST_USDT","FOMA_SHA256ASICBOOST_USDT"]},"networkDifficulty":{"type":"number"},"networkHashpower":{"type":"number"},"status":{"type":"string"},"currencyAlgoPool":{"type":"array","properties":{"empty":{"type":"boolean"}},"items":{"$ref":"#/components/schemas/PoolConfiguration"}},"blockReward":{"type":"number"},"blockRewardWithNhFee":{"type":"number"},"blockHeight":{"type":"number"},"blockTime":{"type":"number"},"bestMarket":{"type":"string","enum":["EU","USA","EU_N","USA_E","SA","ASIA","BTC","USDT"]},"updatedTs":{"type":"string","format":"date-time"},"createdTs":{"type":"string","format":"date-time"},"hashAvg24h":{"type":"number"},"blockRewardSum24h":{"type":"number"},"priceCorrectionFactor":{"type":"number"},"priceCalculationExpression":{"type":"string"},"feeAddress":{"type":"string"},"banAmount":{"type":"number"},"banWindowSeconds":{"type":"integer","format":"int32"},"priceDeviationThreshold":{"type":"number"},"priceDeviationEnabled":{"type":"boolean"},"useVmmIndexPrice":{"type":"boolean"},"hashIndex":{"type":"number"}}},"CurrencyAlgoTicket":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"price":{"type":"number"},"pricesForCurrencies":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/PriceForCurrencyJSON"}},"probabilityPrecision":{"type":"number"},"probability":{"type":"integer","format":"int64"},"mergeProbabilityPrecision":{"type":"number"},"mergeProbability":{"type":"integer","format":"int64"},"multiplier":{"type":"number"},"speed":{"type":"number"},"projectedSpeed":{"type":"number"},"currencyAlgo":{"$ref":"#/components/schemas/CurrencyAlgo"},"mergeCurrencyAlgo":{"$ref":"#/components/schemas/CurrencyAlgo"},"status":{"type":"string"},"available":{"type":"boolean"},"updatedTs":{"type":"string","format":"date-time"},"createdTs":{"type":"string","format":"date-time"},"name":{"type":"string"},"assets":{"type":"string"},"sort":{"type":"integer","format":"int32"},"duration":{"type":"integer","format":"int32"},"countdownDuration":{"type":"integer","format":"int32"},"maxBuyCount":{"type":"integer","format":"int32"},"lifeTimeTill":{"type":"string","format":"date-time"},"shared":{"type":"boolean"},"sharedTicketMarketSizePercent":{"type":"number"},"autoStart":{"type":"boolean"},"spawningMode":{"type":"string","enum":["CONTINUOUS","ONE_BY_ONE"]},"ignoreFilledAmount":{"type":"boolean"},"withdrawRewards":{"type":"boolean"},"isPublic":{"type":"boolean"},"allowedMarkets":{"type":"array","properties":{"empty":{"type":"boolean"}},"items":{"type":"string","enum":["EU","USA","EU_N","USA_E","SA","ASIA","BTC","USDT"]}},"massBuyConfiguration":{"$ref":"#/components/schemas/MassBuyConfigurationJSON"},"configuration":{"type":"string"}}},"MassBuyConfigurationJSON":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"currencyAlgoTicket":{"$ref":"#/components/schemas/CurrencyAlgoTicket"},"createdTs":{"type":"string","format":"date-time"},"updatedTs":{"type":"string","format":"date-time"},"status":{"type":"string","enum":["AVAILABLE","NOT_AVAILABLE","COMING_SOON","SOLD_OUT","TEMPLATE"]},"available":{"type":"boolean"},"minPackages":{"type":"integer","format":"int32"},"maxPackages":{"type":"integer","format":"int32"},"minShares":{"type":"integer","format":"int32"},"maxShares":{"type":"integer","format":"int32"},"sharedTicketFillPercent":{"type":"number"},"sort":{"type":"integer","format":"int32"}}},"MyHashpowerOrderDetails":{"type":"object","properties":{"id":{"type":"string","description":"Order ID","example":"d975f288-d9f5-462a-b16e-7fe75722f880"},"availableAmount":{"type":"number","description":"Available total amount","example":0.00989409},"payedAmount":{"type":"number","description":"Amount payed for hashpower","example":0.00000573},"endTs":{"type":"string","description":"End timestamp in ISO format","format":"date-time","example":"2020-10-03T13:34:32.173413Z"},"updatedTs":{"type":"string","description":"Order last updated timestamp in ISO format","format":"date-time","example":"2020-09-30T11:56:01.178812Z"},"estimateDurationInSeconds":{"type":"integer","description":"Estimated duration in seconds","format":"int64","example":630},"type":{"$ref":"#/components/schemas/HashPowerOrderType"},"subType":{"type":"string","enum":["BUSINESS_FIXED_SPEED","BUSINESS_ENGINE"]},"vmmMinedBtc":{"type":"number","description":"Cumulative BTC earned so far (totalMined + pending). Null for external-pool orders."},"vmmTotalUsdt":{"type":"number","description":"Original VMM purchase price in USDT"},"vmmSpentUsdt":{"type":"number","description":"USDT spent so far (proportional to BTC consumed)"},"vmmRemainingUsdt":{"type":"number","description":"USDT remaining budget. Null for completed orders."},"market":{"type":"string","description":"Market","example":"EU","enum":["EU","USA","EU_N","USA_E","SA","ASIA","BTC","USDT"]},"algorithm":{"$ref":"#/components/schemas/MiningAlgorithm"},"status":{"$ref":"#/components/schemas/HashPowerOrderStatus"},"liquidation":{"type":"string","description":"Order liquidation"},"meta":{"type":"string","description":"Order meta"},"price":{"type":"number","description":"Order price in BTC/factor[TH/Sol/G]/day","example":1.123},"limit":{"type":"number","description":"Speed limit [TH/Sol/G]/s","example":0.05},"bottomLimit":{"type":"number","description":"Bottom Speed limit [TH/Sol/G]/s","example":0.05},"amount":{"type":"number","description":"Amount","example":0.01},"displayMarketFactor":{"type":"string","description":"Unit of market factor","example":"TH"},"marketFactor":{"type":"number","description":"Market factor","example":1000000000000},"priceFactor":{"type":"number","description":"Market factor for the algorithm"},"displayPriceFactor":{"type":"string","description":"Market unit for the algorithm"},"alive":{"type":"boolean","description":"Order is alive","example":true},"startTs":{"type":"string","description":"Start timestamp in ISO format","format":"date-time","example":"2020-09-23T13:34:32.173413Z"},"pool":{"$ref":"#/components/schemas/HashpowerPool"},"acceptedCurrentSpeed":{"type":"number","description":"Current accepted speed [TH/Sol/G]/s","example":0.001},"rigsCount":{"type":"integer","description":"Rigs count","format":"int64","example":200},"organizationId":{"type":"string","description":"Organization Id","format":"uuid","example":"5761a6f2-fb29-4023-9f1e-15fb8817541a"},"creatorUserId":{"type":"string","description":"Creator Id","format":"uuid","example":"949ce377-d30d-4f39-b2db-99d8c5ca05c3"},"soloMiningCoin":{"type":"string","description":"Solo mining coin","example":"BTC","enum":["BTC","EUR","ETH","XRP","BCH","LTC","ZEC","DASH","XLM","EOS","SOL","BSV","LINK","BAT","PAX","ZRX","HOT","OMG","REP","NEXO","BTG","EURKM","ENJ","MATIC","ELF","SNT","BNT","KNC","MTL","POLY","POWR","GTO","LOOM","CVC","AST","PPT","LRC","KEY","STORJ","STORM","TNT","DATA","AOA","RDN","USDC","FET","ANT","AERGO","LBA","XMR","MITH","BAND","SXP","EURS","WBTC","RVN","UNI","AAVE","FTM","YFI","DOGE","ONEINCH","SUSHI","OCEAN","MKR","CRV","CHZ","GRT","GNO","HBAR","ADA","ALGO","XTZ","SAND","SHIB","STX","GALA","USDT","DOT","ETC","TRX","KSM","KAS","USD","TBTC","TEUR","TETH","TXRP","TBCH","TLTC","TZEC","TDASH","TXLM","TEOS","TERC","TBSV","TBTG","TEURKM","TXMR","TRVN","TDOGE","THBAR","TADA","TALGO","TXTZ","TSTX","TTTT","TSOL","TDOT","TETC","TTRX","TMARC","TKAS","TUSD","USDTNH"]},"soloMiningMergeCoin":{"type
[...]
