{"openapi":"3.0.1","info":{"title":"Main API","description":"Main API application description","license":{"name":"Terms of use","url":"https://www.nicehash.com"},"version":"v2"},"servers":[{"url":"https://api2.nicehash.com/main","description":"Production Rest API"},{"url":"https://api-test.nicehash.com/main","description":"Test Rest API"},{"url":"https://api-test-dev.nicehash.com/main","description":"Test Dev Rest API"}],"tags":[{"name":"Accounting","description":"Accounting REST API methods"},{"name":"Public","description":"Public REST API methods"}],"paths":{"/api/v2/autoWithdraw/{orgId}/deactivate":{"put":{"tags":["auto-withdraw-endpoint"],"operationId":"deactivateAutoWithdrawJob","parameters":[{"name":"orgId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"reason","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessResponse"}}}}}}},"/api/v2/autoWithdraw/{id}/status":{"put":{"tags":["auto-withdraw-endpoint"],"operationId":"changeAutoWithdrawJobStatus","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"status","in":"query","required":true,"schema":{"type":"string","enum":["ACTIVE","INACTIVE","DELETED"]}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessResponse"}}}}}}},"/api/v2/autoWithdraw/{id}/edit":{"put":{"tags":["auto-withdraw-endpoint"],"operationId":"editAutoWithdrawJob","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateAutoWithdrawJobJson"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AutoWithdrawJobJson"}}}}}}},"/api/v2/autoconvert/rules/edit":{"post":{"tags":["auto-convert-endpoint"],"operationId":"editAutoConvertRules","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrganizationAutoConvertRulesJson"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/OrganizationAutoConvertRulesJson"}}}}}}},"/api/v2/autoconvert/rules/add":{"post":{"tags":["auto-convert-endpoint"],"operationId":"addAutoConvertRule","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AutoConvertRuleJson"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/OrganizationAutoConvertRulesJson"}}}}}}},"/api/v2/autoWithdraw/create":{"post":{"tags":["auto-withdraw-endpoint"],"operationId":"createAutoWithdrawJob","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateAutoWithdrawJobJson"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AutoWithdrawJobJson"}}}}}}},"/api/v2/accounting/withdrawal":{"post":{"tags":["Accounting"],"summary":"CREATE WITHDRAWAL","description":"Create withdrawal request with whitelisted address using withdraw address id. Address can be whitelisted using web page or mobile application. All whitelisted address ids can be listed using <a href=\"/rest/get-main-api-v2-accounting-withdrawalAddress-id\">/main/api/v2/accounting/withdrawalAddresses</a> endpoint.","operationId":"submitWithdrawal","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateWithdrawalRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IdResponse"}}}}},"security":[{"WIFU":[""]}]}},"/api/v2/accounting/travelrule/withheldDeposit/resolveSHW/{id}":{"post":{"tags":["Accounting"],"summary":"TRAVEL RULE SHW","description":"Get supported Travel Rule Self-hosted wallets","operationId":"resolveTRWithheldSelfHostedWalletDeposit","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"$ref":"#/components/schemas/ResolveTRWithheldSelfHostedWalletDeposit"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Aopd"}}}}},"security":[{"VBTD":[""]}]}},"/api/v2/accounting/travelrule/withheldDeposit/resolveLightningSHW/{id}":{"post":{"tags":["Accounting"],"summary":"TRAVEL RULE LIGHTNING SHW","description":"Get supported Travel Rule Self-hosted wallets","operationId":"resolveTRWithheldLightningSelfHostedWalletDeposit","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessResponse"}}}}},"security":[{"VBTD":[""]}]}},"/api/v2/accounting/travelrule/withheldDeposit/resolve/{id}":{"post":{"tags":["Accounting"],"summary":"TRAVEL RESOLVE WITHHELD","description":"Resolve travel rule withheld despoit from VASPS","operationId":"resolveTRWithheldVASPDeposit","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResolveTRWithheldVASPDepositJSON"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessResponse"}}}}},"security":[{"VBTD":[""]}]}},"/api/v2/accounting/transition/consolidation":{"post":{"tags":["Accounting"],"operationId":"consolidate","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"type":"string","format":"uuid"}}}}}}}},"/api/v2/accounting/select/virginUtxo":{"post":{"tags":["Accounting"],"operationId":"selectVirginUtxo","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VirginUTXOListJSON"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VirginUTXOSumJSON"}}}}}}},"/api/v2/accounting/easymining/withdrawal":{"post":{"tags":["Accounting"],"summary":"WITHDRAWAL","description":"Get easy mining reward withdrawal by currency and id.","operationId":"getEasyMiningRewardWithdrawal","parameters":[{"name":"currency","in":"query","required":true,"schema":{"type":"string","enum":["BTC","EUR","ETH","XRP","BCH","LTC","ZEC","DASH","XLM","EOS","SOL","BSV","LINK","BAT","PAX","ZRX","HOT","OMG","REP","NEXO","BTG","EURKM","ENJ","MATIC","ELF","SNT","BNT","KNC","MTL","POLY","POWR","GTO","LOOM","CVC","AST","PPT","LRC","KEY","STORJ","STORM","TNT","DATA","AOA","RDN","USDC","FET","ANT","AERGO","LBA","XMR","MITH","BAND","SXP","EURS","WBTC","RVN","UNI","AAVE","FTM","YFI","DOGE","ONEINCH","SUSHI","OCEAN","MKR","CRV","CHZ","GRT","GNO","HBAR","ADA","ALGO","XTZ","SAND","SHIB","STX","GALA","USDT","DOT","ETC","TRX","KSM","KAS","USD","TBTC","TEUR","TETH","TXRP","TBCH","TLTC","TZEC","TDASH","TXLM","TEOS","TERC","TBSV","TBTG","TEURKM","TXMR","TRVN","TDOGE","THBAR","TADA","TALGO","TXTZ","TSTX","TTTT","TSOL","TDOT","TETC","TTRX","TMARC","TKAS","TUSD","USDTNH"]}},{"name":"withdrawalId","in":"query","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RewardWithdrawalInfo"}}}}},"security":[{"VBTD":[""]}]}},"/api/v2/accounting/depositAddress/ln":{"post":{"tags":["Accounting"],"summary":"DEPOSIT ADDRESS","description":"Get deposit address for selected currency for all wallet types.","operationId":"generateLnDepositAddressWithTravelRulePrefilled","parameters":[{"name":"amount","in":"query","description":"Lightning Invoice Amount (optional, default value is null","required":true,"schema":{"type":"number"},"example":1.0E-4},{"name":"isSelfHosted","in":"query","description":"Lightning Invoice is self hosted for travel rule","required":false,"schema":{"type":"boolean","default":false}},{"name":"isVasp","in":"query","description":"Lightning Invoice is VASP for travel rule","required":false,"schema":{"type":"boolean","default":false}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResolveTRWithheldVASPDepositJSON"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccountDepositAddress"}}}}},"security":[{"VBTD":[""]}]}},"/media":{"get":{"tags":["media-endpoint"],"operationId":"getMedia","parameters":[{"name":"fileName","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MediaJSON"}}}}}}},"/api/v2/public/service/fee/info":{"get":{"tags":["Public"],"summary":"FEE RULES","description":"Fee rules for whole platforms. Response contains all possible fee rules on the platform.","operationId":"serviceFeeInfo","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AllFeeRules"}}}}}}},"/api/v2/public/exchangeRate/history7days":{"get":{"tags":["public-api-endpoint"],"operationId":"getExchangeRatesFor7Days","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ExchangeRateCurrencyJSON"}}}}}}}},"/api/v2/public/currencies":{"get":{"tags":["Public"],"summary":"CURRENCIES","description":"Get currency list and details for each currency.","operationId":"getCurrencyDetailList","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CurrencyList"}}}}}}},"/api/v2/public/admServiceFee/getInvoice":{"get":{"tags":["public-api-endpoint"],"operationId":"getInvoice","parameters":[{"name":"invoiceId","in":"query","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"email","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdminServiceInvoiceJSON"}}}}}}},"/api/v2/public/22155d5c/42f7/11ec/81d3/0242ac130003":{"get":{"tags":["public-api-endpoint"],"operationId":"getOrdersSummary","parameters":[{"name":"startTime","in":"query","description":"Start time","required":false,"schema":{"type":"string"}},{"name":"orderType","in":"query","description":"Order type","required":false,"schema":{"type":"string"},"example":"CRYPTO_BUY"},{"name":"source","in":"query","description":"Source","required":false,"schema":{"type":"string"},"example":"EUR"},{"name":"target","in":"query","description":"Target","required":false,"schema":{"type":"string"},"example":"BTC"},{"name":"limit","in":"query","description":"Number of results","required":false,"schema":{"type":"integer","format":"int32","default":100},"example":10}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/OrderSummary"}}}}}}}},"/api/v2/mining/markets":{"get":{"tags":["Public"],"summary":"MINING MARKETS","description":"List all hashpower mining markets.","operationId":"getMiningMarkets","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"uniqueItems":true,"type":"array","items":{"type":"string","enum":["EU","USA","EU_N","USA_E","SA","ASIA","BTC","USDT"]}}}}}}}},"/api/v2/mining/algorithms":{"get":{"tags":["Public"],"summary":"MINING ALGORITHMS","description":"List the mining algorithms and detailed algorithm information.","operationId":"getMiningAlgorithmDetailList","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MiningAlgorithmList"}}}}}}},"/api/v2/health":{"get":{"tags":["health-monitoring-endpoint"],"operationId":"underTowHealth","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Health"}}}}}}},"/api/v2/autoconvert/rules":{"get":{"tags":["auto-convert-endpoint"],"operationId":"getAutoConvertRules","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/OrganizationAutoConvertRulesJson"}}}}}},"delete":{"tags":["auto-convert-endpoint"],"operationId":"deleteRules","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SuccessResponse"}}}}}}},"/api/v2/autoconvert/currencies":{"get":{"tags":["auto-convert-endpoint"],"operationId":"getAvailableAutoConvertCurrencies","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AvailableCurrenciesJson"}}}}}}},"/api/v2/autoconvert/currencies/{currency}":{"get":{"tags":["auto-convert-endpoint"],"operationId":"getAvailableAutoConvertCurrenciesForCurrency","parameters":[{"name":"currency","in":"path","required":true,"schema":{"type":"string","enum":["BTC","EUR","ETH","XRP","BCH","LTC","ZEC","DASH","XLM","EOS","SOL","BSV","LINK","BAT","PAX","ZRX","HOT","OMG","REP","NEXO","BTG","EURKM","ENJ","MATIC","ELF","SNT","BNT","KNC","MTL","POLY","POWR","GTO","LOOM","CVC","AST","PPT","LRC","KEY","STORJ","STORM","TNT","DATA","AOA","RDN","USDC","FET","ANT","AERGO","LBA","XMR","MITH","BAND","SXP","EURS","WBTC","RVN","UNI","AAVE","FTM","YFI","DOGE","ONEINCH","SUSHI","OCEAN","MKR","CRV","CHZ","GRT","GNO","HBAR","ADA","ALGO","XTZ","SAND","SHIB","STX","GALA","USDT","DOT","ETC","TRX","KSM","KAS","USD","TBTC","TEUR","TETH","TXRP","TBCH","TLTC","TZEC","TDASH","TXLM","TEOS","TERC","TBSV","TBTG","TEURKM","TXMR","TRVN","TDOGE","THBAR","TADA","TALGO","TXTZ","TSTX","TTTT","TSOL","TDOT","TETC","TTRX","TMARC","TKAS","TUSD","USDTNH"]}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AvailableCurrenciesJson"}}}}}}},"/api/v2/autoWithdraw/{id}":{"get":{"tags":["auto-withdraw-endpoint"],"operationId":"getAutoWithdrawJob","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AutoWithdrawJobJson"}}}}}}},"/api/v2/autoWithdraw/jobs":{"get":{"tags":["auto-withdraw-endpoint"],"operationId":"getAutoWithdrawJobs","parameters":[{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":10}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/AutoWithdrawJobJson"}}}}}}}},"/api/v2/accounting/withdrawals/{currency}":{"get":{"tags":["Accounting"],"summary":"WITHDRAWALS","description":"Get list of withdrawals matching the filtering criteria as specified by request parameters. ","operationId":"getWithdrawals","parameters":[{"name":"currency","in":"path","description":"Currency","required":true,"schema":{"type":"string","enum":["BTC","ETH","XRP","..."]},"example":"BTC"},{"name":"statuses","in":"query","description":"Withdrawal order statuses","required":false,"schema":{"type":"array","items":{"type":"string","enum":["PRE_SUBMITTED","WITHHELD","SUBMITTED","ACCEPTED","PROCESSING","COMPLETED","FAILED","CANCELED","INDETERMINATE"]}},"example":"[SUBMITTED]"},{"name":"op","in":"query","description":"Order relation operation, also instructs how result is ordered by timestamp for paging","required":false,"schema":{"type":"string","default":"LT","enum":["GT","GE","LT","LE"]},"example":"GT"},{"name":"timestamp","in":"query","description":"The order timestamp to compare","required":false,"schema":{"type":"integer","format":"int64"},"example":255135600000000},{"name":"page","in":"query","description":"Page","required":false,"schema":{"type":"integer","format":"int32","default":0},"example":0},{"name":"size","in":"query","description":"Size (optional, default value is 100, maximum is 100)","required":false,"schema":{"type":"integer","format":"int32","default":100},"example":100}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TransactionList"}}}}},"security":[{"VBTD":[""]}]}},"/api/v2/accounting/withdrawalAddresses":{"get":{"tags":["Accounting"],"summary":"WITHDRAWAL ADDRESSES","description":"List withdrawal addresses for specified currency.","operationId":"getWithdrawalAddressList","parameters":[{"name":"currency","in":"query","description":"Currency","required":false,"schema":{"type":"string","enum":["BTC","ETH","XRP","..."]},"example":"BTC"},{"name":"size","in":"query","description":"Page size (optional, default value is 100, maximum is 100)","required":false,"schema":{"type":"integer","format":"int32","default":100},"example":100},{"name":"page","in":"query","description":"Page number (optional, default: 0)","required":false,"schema":{"type":"integer","format":"int32","default":0},"example":0},{"name":"type","in":"query","description":"Address type","required":false,"schema":{"type":"string","enum":["crypto","fiat","lnAddress"]},"example":"crypto"},{"name":"isDefault","in":"query","description":"Is Default","required":false,"schema":{"type":"boolean"},"example":true},{"name":"network","in":"query","description":"Blockchain network","required":false,"schema":{"type":"string","enum":["BTC","EUR","ETH","XRP","BCH","LTC","ZEC","DASH","XLM","EOS","SOL","BSV","LINK","BAT","PAX","ZRX","HOT","OMG","REP","NEXO","BTG","EURKM","ENJ","MATIC","ELF","SNT","BNT","KNC","MTL","POLY","POWR","GTO","LOOM","CVC","AST","PPT","LRC","KEY","STORJ","STORM","TNT","DATA","AOA","RDN","USDC","FET","ANT","AERGO","LBA","XMR","MITH","BAND","SXP","EURS","WBTC","RVN","UNI","AAVE","FTM","YFI","DOGE","ONEINCH","SUSHI","OCEAN","MKR","CRV","CHZ","GRT","GNO","HBAR","ADA","ALGO","XTZ","SAND","SHIB","STX","GALA","USDT","DOT","ETC","TRX","KSM","KAS","USD","TBTC","TEUR","TETH","TXRP","TBCH","TLTC","TZEC","TDASH","TXLM","TEOS","TERC","TBSV","TBTG","TEURKM","TXMR","TRVN","TDOGE","THBAR","TADA","TALGO","TXTZ","TSTX","TTTT","TSOL","TDOT","TETC","TTRX","TMARC","TKAS","TUSD","USDTNH"]},"example":"SOL"},{"name":"showAll","in":"query","description":"Show non visible","required":false,"schema":{"type":"boolean","default":false},"example":false}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WithdrawalAddressList"}}}}},"security":[{"WIFU":[""]}]}},"/api/v2/accounting/withdrawalAddress/{id}":{"get":{"tags":["Accounting"],"summary":"WITHDRAWAL ADDRESS","description":"Get withdrawal address by widrawal address id.","operationId":"getWithdrawalAddress","parameters":[{"name":"id","in":"path","description":"Withdrawal address","required":true,"schema":{"type":"string","format":"uuid"},"example":"e14a3315-5a39-4480-a456-d3aef20cb98c"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WithdrawalAddressDetails"}}}}},"security":[{"WIFU":[""]}]}},"/api/v2/accounting/withdrawal2/{currency}/{id}":{"get":{"tags":["Accounting"],"summary":"WITHDRAWAL","description":"Get account withdrawal by currency and id.","operationId":"getWithdrawal2","parameters":[{"name":"currency","in":"path","description":"Currency","required":true,"schema":{"type":"string","enum":["BTC","ETH","XRP","..."]},"example":"BTC"},{"name":"id","in":"path","description":"Withdrawal Order ID","required":true,"schema":{"type":"string","format":"uuid"},"example":"e14a3315-5a39-4480-a456-d3aef20cb98c"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WithdrawalActivity"}}}}},"security":[{"VBTD":[""]}]}},"/api/v2/accounting/travelrule/vasps":{"get":{"tags":["Accounting"],"summary":"TRAVEL RULE VASPS","description":"Get supported Travel Rule VASPS","operationId":"getTravelRuleVasps","parameters":[{"name":"types","in":"query","required":false,"schema":{"type":"array","items":{"type":"string","enum":["WITHDRAW","DEPOSIT"]}}},{"name":"walletTypes","in":"query","required":false,"schema":{"type":"array","items":{"type":"string","enum":["BITGO","COINBASE","PAYEER","EXTERNAL","FEES","KRIPTOMAT","BLOCKCHAIN","LIGHTNING","INTERNAL","MULTISIG","FIREBLOCKS","FIREBLOCKS_AG","MINING","NEXPAY","NEXPAY_CORPORATE","MAERKIBAUMAN","LIGHTNING_LTD","FIREBLOCKS_AG_EM"]}}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Vasps"}}}}},"security":[{"VBTD":[""]}]}},"/api/v2/accounting/travelrule/transaction/data":{"get":{"tags":["Accounting"],"summary":"TRAVEL TRANSACTION DATA","description":"Get travel rule data on completed transactions","operationId":"getTravelRuleTransactionData","parameters":[{"name":"requestId","in":"query","required":false,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TravelRuleTransactionDataJSON"}}}}},"security":[{"VBTD":[""]}]}},"/api/v2/accounting/transactions/{currency}":{"get":{"tags":["Accounting"],"summary":"TRANSACTIONS","description":"Get all transactions for selected currency matching the filtering criteria as specified by request parameters.","operationId":"getTransactions","parameters":[{"name":"currency","in":"path","description":"Currency","required":true,"schema":{"type":"string","enum":["BTC","ETH","XRP","..."]},"example":"BTC"},{"name":"type","in":"query","description":"Transaction type","required":false,"schema":{"type":"string","enum":["DEPOSIT","WITHDRAWAL","MOVE"]},"example":"DEPOSIT"},{"name":"purposes","in":"query","description":"Transaction purposes","required":false,"schema":{"type":"array","items":{"type":"string","enum":["OTHER","EXCHANGE_RESERVE","EXCHANGE_RELEASE","EXCHANGE_TRADE","EXCHANGE_FEE","WITHDRAWAL_SUBMIT","WITHDRAWAL_COMPLETE","WITHDRAWAL_CANCEL","WITHDRAWAL_FAIL","WITHDRAWAL_FEE","DEPOSIT_COMPLETE","DEPOSIT_WITHHELD","DEPOSIT_RELEASE","DEPOSIT_FEE","DEPOSIT_FEE_DEPRECATED","PAYMENT_DEP_ADD_FEE","PAYMENT_DEP_ADD_DEPRECATED","HASHPOWER_ORDER_SETUP","HASHPOWER_ORDER_SETUP_FEE","HASHPOWER_ORDER_SETUP_REVERSAL","HASHPOWER_ORDER_SETUP_REVERSAL_FEE","HASHPOWER_ORDER_REFILL","HASHPOWER_ORDER_REFILL_FEE","HASHPOWER_ORDER_REFILL_REVERSAL","HASHPOWER_ORDER_REFILL_REVERSAL_FEE","HASHPOWER_ORDER_REVERSAL","HASHPOWER_ORDER_REVERSAL_FEE","HASHPOWER_ORDER_CANCEL","HASHPOWER_ORDER_EXPIRED","HASHPOWER_ORDER_DEAD","HASHPOWER_ORDER_SPEND","HASHPOWER_ORDER_SPEND_FEE","HASHPOWER_ORDER_FEE","HASHPOWER_ORDER_FEE_VAT","HASHPOWER_MINING","HASHPOWER_MINING_FEE","HASHPOWER_MINING_FEE_VAT","HASHPOWER_MINING_REFERRAL_FEE","TESTING","HASHPOWER_ORDER_REFERRAL_FEE","ADMIN_REQUESTED_MOVE","INTERNAL_FEE_MOVE","ADMIN_REQUESTED_WITHDRAWAL","LEGACY_TRANSFER","REPAYMENT","ADMIN_ASSIGN_DEPOSIT_MOVE","ADMIN_ASSIGN_REFUND_MOVE","PAYMENT","REFUND","REFUND_PAYMENT","BLOCKCHAIN_FEE","MOVE_TO_CHARITY_DEL_ORG","MOVE_TO_CHARITY_HASHPOWER_MINING","ADMIN_SERVICE_FEE","ADMIN_SERVICE_FEE_REVERSAL","DEBT_CREATE","DEBT_PAY","WITHHELD_DEPOSIT_MOVE","DEPOSIT_PAYMENT","SOLO_REWARD_DEPOSIT","SOLO_REWARD_FEE","SOLO_SHARED_RESERVE","SOLO_SHARED_REVERSE","SOLO_SHARED_PAYMENT","SOLO_SHARED_PAYMENT_REVERSE","SOLO_SHARED_DEPOSIT","COUPON_DEPOSIT","COUPON_RESERVATION","COUPON_CANCELLATION","MERCHANT_FEE","MERCHANT_FEE_REFUND","MERCHANT_FEE_TAKE","SOLO_SHARED_DONATE_REWARD","EARNINGS_SPLIT_MOVE_INTERNAL","EARNINGS_SPLIT_WITHDRAWAL","MASS_BUY_RESERVE","MASS_BUY_REVERSE","MASS_BUY_CANCEL","MASS_BUY_PAY","SETTLEMENT","INACTIVITY_FEE","TRANSITION_FUNDS_MOVE","INDIVIDUAL_FUND_FEE","TRANSITION_FUNDS_MOVE_BY_ADMIN","ENGINE_AIRDROP_RESERVE","ENGINE_AIRDROP_PAY","ENGINE_AIRDROP_REVERSE","BITSTAMP_USER_DEBIT_MOVE","BITSTAMP_USER_DEBIT_COMPLETE","BITSTAMP_USER_CREDIT_RESERVE","BITSTAMP_USER_CREDIT_MOVE","BITSTAMP_USER_CREDIT_RESERVE_REVERT","BITSTAMP_USER_CREDIT_COMPLETE","USER_REQUESTED_MOVE","SERVICE_FEE","FOMA_RESERVATION_PAYMENT","FOMA_RESERVATION_REVERSAL","FOMA_RESERVATION_TAKE","FOMA_CONTRACT_PAYMENT","FOMA_CONTRACT_COLLATERAL","FOMA_CONTRACT_COMPLETE","FOMA_FIXED_FEE","FOMA_EXTERNAL_FEE","FOMA_FEE","MAINTENANCE_FEE","LIGHTNING_NETWORK_FEE","VMM_PAYMENT","VMM_PAYMENT_REVERSAL","CONVERT_RESERVE","CONVERT_RELEASE","CONVERT_TRADE","CONVERT_FEE"]}},"example":"[EXCHANGE_TRADE]"},{"name":"op","in":"query","description":"Order relation operation","required":false,"schema":{"type":"string","enum":["GT","GE","LT","LE"]},"example":"GT"},{"name":"timestamp","in":"query","description":"Timestamp to compare","required":false,"schema":{"type":"integer","format":"int64"},"example":255135600000000},{"name":"size","in":"query","description":"Size (optional, default value is 10, maximum is 100)","required":false,"schema":{"type":"integer","format":"int32","default":10},"example":10}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TransactionList"}}}}},"security":[{"VBTD":[""]}]}},"/api/v2/accounting/transaction/{currency}/{transactionId}":{"get":{"tags":["Accounting"],"summary":"TRANSACTION","description":"Get transaction by transaciton id and currency.","operationId":"getTransactionById","parameters":[{"name":"currency","in":"path","description":"Currency","required":true,"schema":{"type":"string","enum":["BTC","ETH","XRP","..."]},"example":"BTC"},{"name":"transactionId","in":"path","description":"Transaction id","required":true,"schema":{"type":"string","format":"uuid"},"example":"e14a3315-5a39-4480-a456-d3aef20cb98c"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Transaction"}}}}},"security":[{"VBTD":[""]}]}},"/api/v2/accounting/list/virginUtxo":{"get":{"tags":["Accounting"],"summary":"LIST VIRGIN UTOXs","description":"List virgin UTXOs","operationId":"getVirginUtxo","parameters":[{"name":"wallet","in":"query","required":false,"schema":{"type":"string","default":"FIREBLOCKS_AG","enum":["BITGO","COINBASE","PAYEER","EXTERNAL","FEES","KRIPTOMAT","BLOCKCHAIN","LIGHTNING","INTERNAL","MULTISIG","FIREBLOCKS","FIREBLOCKS_AG","MINING","NEXPAY","NEXPAY_CORPORATE","MAERKIBAUMAN","LIGHTNING_LTD","FIREBLOCKS_AG_EM"]}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":200}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"sortField","in":"query","required":false,"schema":{"pattern":"amount|createdTs|maxHops","type":"string","default":"createdTs"}},{"name":"sortDir","in":"query","required":false,"schema":{"type":"string","default":"DESC","enum":["ASC","DESC"]}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VirginUTXOListJSON"}}}}},"security":[{"WIFU":[""]}]}},"/api/v2/accounting/individual/balance":{"get":{"tags":["Accounting"],"operationId":"getIndividualBalance","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/IndividualBalance"}}}}}}},"/api/v2/accounting/hashpowerEarnings/{currency}":{"get":{"tags":["Accounting"],"summary":"MINING PAYMENTS","description":"Get list of mining payments","operationId":"getHashpowerEarnings","parameters":[{"name":"currency","in":"path","description":"Currency","required":true,"schema":{"type":"string","enum":["BTC","ETH","XRP","..."]},"example":"BTC"},{"name":"timestamp","in":"query","description":"Timestamp in milliseconds since 1.1.1970 (default value is now)","required":false,"schema":{"type":"integer","format":"int64"},"example":255135600000000},{"name":"page","in":"query","description":"Page","required":false,"schema":{"type":"integer","format":"int32","default":0},"example":0},{"name":"size","in":"query","description":"Size (optional, default value is 100, maximum is 100)","required":false,"schema":{"type":"integer","format":"int32","default":100},"example":10}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TransactionList"}}}}},"security":[{"VBTD":[""]}]}},"/api/v2/accounting/hashpower/{id}/transactions":{"get":{"tags":["Accounting"],"summary":"HASHPOWER ORDER TRANSACTIONS","description":"List of all transactions for selected hashpower order using hashpower order.","operationId":"getHashpowerTransaction","parameters":[{"name":"id","in":"path","description":"Order id","required":true,"schema":{"type":"string","format":"uuid"},"example":"e14a3315-5a39-4480-a456-d3aef20cb98c"},{"name":"limit","in":"query","description":"Limit number of results (optional, default value is 100, maximum is 100)","required":false,"schema":{"type":"integer","format":"int32","default":100},"example":100},{"name":"timestamp","in":"query","description":"Pagination timestamp","required":false,"schema":{"type":"integer","format":"int64"},"example":255135600000000}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HashPowerActivityTransactions"}}}}},"security":[{"VHOR":[""]}]}},"/api/v2/accounting/exchange/{id}/trades":{"get":{"tags":["Accounting"],"summary":"EXCHANGE ORDER TRANSACTIONS","description":"Get all transaction for selected exchange order using exchange order id and market pair.","operationId":"getExchangeTrades","parameters":[{"name":"id","in":"path","description":"Exchange order id","required":true,"schema":{"type":"string","format":"uuid"},"example":"e14a3315-5a39-4480-a456-d3aef20cb98c"},{"name":"exchangeMarket","in":"query","description":"Exchange market symbol","required":true,"schema":{"type":"string"},"example":"ETHBTC"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExchangeTrades"}}}}},"security":[{"EXOR":[""]}]}},"/api/v2/accounting/deposits2/{currency}/{id}":{"get":{"tags":["Accounting"],"summary":"DEPOSIT","description":"Get specific deposit with deposit order id and currency.","operationId":"getDeposit2","parameters":[{"name":"currency","in":"path","description":"Currency","required":true,"schema":{"type":"string","enum":["BTC","ETH","XRP","..."]},"example":"BTC"},{"name":"id","in":"path","description":"Deposit order id","required":true,"schema":{"type":"string","format":"uuid"},"example":"e14a3315-5a39-4480-a456-d3aef20cb98c"},{"name":"transactionRequest","in":"query","description":"Transaction request","required":false,"schema":{"type":"boolean","default":false}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DepositActivity"}}}}},"security":[{"VBTD":[""]}]}},"/api/v2/accounting/deposits":{"get":{"tags":["Accounting"],"summary":"DEPOSITS","description":"List of deposit transactions details matching the filtering criteria as specified by request parameters.","operationId":"getDeposits","parameters":[{"name":"currency","in":"path","description":"Currency","required":true,"schema":{"type":"string","enum":["BTC","ETH","XRP","..."]},"example":"BTC"},{"name":"statuses","in":"query","description":"Deposit order statuses","required":false,"schema":{"type":"array","items":{"type":"string","enum":["RECEIVED","COMPLETED","FAILED","INDETERMINATE","WITHHELD","AVAILABLE_TO_REFUND","RETURNED","RETURNING"]}},"example":"[COMPLETED]"},{"name":"op","in":"query","description":"Order relation operation, also instructs how result is ordered by timestamp for paging","required":false,"schema":{"type":"string","default":"LT","enum":["GT","GE","LT","LE"]},"example":"GT"},{"name":"timestamp","in":"query","description":"The order timestamp to compare","required":false,"schema":{"type":"integer","format":"int64"},"example":255135600000000},{"name":"page","in":"query","description":"Page","required":false,"schema":{"type":"integer","format":"int32","default":0},"example":0},{"name":"size","in":"query","description":"Size (optional, default value is 100, maximum is 100)","required":false,"schema":{"type":"integer","format":"int32","default":100},"example":10}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TransactionList"}}}}},"security":[{"VBTD":[""]}]}},"/api/v2/accounting/deposits/{currency}":{"get":{"tags":["Accounting"],"summary":"DEPOSITS","description":"List of deposit transactions details matching the filtering criteria as specified by request parameters.","operationId":"getDeposits_1","parameters":[{"name":"currency","in":"path","description":"Currency","required":true,"schema":{"type":"string","enum":["BTC","ETH","XRP","..."]},"example":"BTC"},{"name":"statuses","in":"query","description":"Deposit order statuses","required":false,"schema":{"type":"array","items":{"type":"string","enum":["RECEIVED","COMPLETED","FAILED","INDETERMINATE","WITHHELD","AVAILABLE_TO_REFUND","RETURNED","RETURNING"]}},"example":"[COMPLETED]"},{"name":"op","in":"query","description":"Order relation operation, also instructs how result is ordered by timestamp for paging","required":false,"schema":{"type":"string","default":"LT","enum":["GT","GE","LT","LE"]},"example":"GT"},{"name":"timestamp","in":"query","description":"The order timestamp to compare","required":false,"schema":{"type":"integer","format":"int64"},"example":255135600000000},{"name":"page","in":"query","description":"Page","required":false,"schema":{"type":"integer","format":"int32","default":0},"example":0},{"name":"size","in":"query","description":"Size (optional, default value is 100, maximum is 100)","required":false,"schema":{"type":"integer","format":"int32","default":100},"example":10}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TransactionList"}}}}},"security":[{"VBTD":[""]}]}},"/api/v2/accounting/depositAddresses":{"get":{"tags":["Accounting"],"summary":"DEPOSIT ADDRESS","description":"Get deposit address for selected currency for all wallet types.","operationId":"listDepositAddresses","parameters":[{"name":"currency","in":"query","description":"Currency","required":true,"schema":{"type":"string","enum":["BTC","ETH","XRP","..."]},"example":"BTC"},{"name":"walletType","in":"query","description":"Wallet","required":false,"schema":{"type":"string","enum":["BITGO","BLOCKCHAIN","LIGHTNING","MULTISIG","FIREBLOCKS","FIREBLOCKS_AG"]},"example":"BITGO"},{"name":"amount","in":"query","description":"Lightning Invoice Amount (optional, default value is null","required":false,"schema":{"type":"number"},"example":1.0E-4}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccountDepositAddressList"}}}}},"security":[{"VBTD":[""]}]}},"/api/v2/accounting/activity/{currency}":{"get":{"tags":["Accounting"],"summary":"ACTIVITIES","description":"Get activities for specified currency matching the filtering criteria as specified by request parameters.","operationId":"getActivities","parameters":[{"name":"currency","in":"path","description":"Currency","required":true,"schema":{"type":"string","enum":["BTC","ETH","XRP","..."]},"example":"BTC"},{"name":"type","in":"query","description":"Activity type","required":false,"schema":{"type":"string","enum":["DEPOSIT","WITHDRAWAL","HASHPOWER","HASHPOWER_SOLO","MASSBUY","HASHPOWER_SOLO_REWARD","MINING","EXCHANGE","UNPAID_MINING","CRYPTO_BUY_SELL","PAYMENT","INTERNAL_TRANSFER","OTHER","TO_BITSTAMP","FROM_BITSTAMP","BITSTAMP_EXCHANGE","HASHPOWER_FOMA"]},"example":"DEPOSIT"},{"name":"types","in":"query","description":"Activity types","required":false,"schema":{"type":"array","items":{"type":"string","enum":["DEPOSIT","WITHDRAWAL","HASHPOWER","HASHPOWER_SOLO","MASSBUY","HASHPOWER_SOLO_REWARD","MINING","EXCHANGE","UNPAID_MINING","CRYPTO_BUY_SELL","PAYMENT","INTERNAL_TRANSFER","OTHER","TO_BITSTAMP","FROM_BITSTAMP","BITSTAMP_EXCHANGE","HASHPOWER_FOMA"]}},"example":"DEPOSIT,WITHDRAWAL"},{"name":"timestamp","in":"query","description":"Pagination timestamp","required":false,"schema":{"type":"integer","format":"int64"},"example":255135600000000},{"name":"stage","in":"query","description":"Activity completion stage","required":false,"schema":{"type":"string","default":"ALL","enum":["COMPLETED","OPEN","ALL"]},"example":"COMPLETED"},{"name":"limit","in":"query","description":"Number of results (optional, default value is 10, maximum is 100)","required":false,"schema":{"type":"integer","format":"int32","default":10},"example":10},{"name":"timeFormat","in":"query","description":"Time Format (optional, default value is MILI, other option MICRO)","required":false,"schema":{"type":"string","default":"MILI","enum":["MILI","MICRO"]},"example":"MILI"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"oneOf":[{"$ref":"#/components/schemas/ExchangeActivityJSON"}]}}}}}},"security":[{"VBTD":[""]}]}},"/api/v2/accounting/accounts2":{"get":{"tags":["Accounting"],"summary":"BALANCES","description":"Get total balance and for each currency separated. When setting <i>extendedResponse</i> to <i>true</i> pending details are added to each item in the response.","operationId":"getAllAccountBalances","parameters":[{"name":"extendedResponse","in":"query","description":"User will receive extended response if set to true (optional)","required":false,"schema":{"type":"boolean","default":false},"example":true},{"name":"fiat","in":"query","description":"User will receive exchange rate from crypto currency to fiat","required":false,"schema":{"type":"string"},"example":"EUR"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrganizationBalances"}}}}},"security":[{"VBTD":[""]}]}},"/api/v2/accounting/account2/{currency}":{"get":{"tags":["Accounting"],"summary":"BALANCE","description":"Get balance for selected currency. When setting <i>extendedResponse</i> to <i>true</i> pending details are added to the response.","operationId":"getAccountBalanceForAccountTypeAndCurrency","parameters":[{"name":"currency","in":"path","description":"Currency","required":true,"schema":{"type":"string","enum":["BTC","ETH","XRP","..."]},"example":"BTC"},{"name":"extendedResponse","in":"query","description":"User will receive extended response if set to true (optional)","required":false,"schema":{"type":"boolean","default":false},"example":true}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrganizationBalance"}}}}},"security":[{"VBTD":[""]}]}},"/api/v2/autoWithdraw/{id}/delete":{"delete":{"tags":["auto-withdraw-endpoint"],"operationId":"deleteAutoWithdrawJob","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessResponse"}}}}}}},"/api/v2/accounting/withdrawal/{currency}/{id}":{"delete":{"tags":["Accounting"],"summary":"CANCEL WITHDRAWAL","description":"Cancel withdrawal using withdrawal id and currency.","operationId":"cancelWithdrawal","parameters":[{"name":"currency","in":"path","description":"Currency","required":true,"schema":{"type":"string","enum":["BTC","ETH","XRP","..."]},"example":"BTC"},{"name":"id","in":"path","description":"Withdrawal Order ID","required":true,"schema":{"type":"string","format":"uuid"},"example":"e14a3315-5a39-4480-a456-d3aef20cb98c"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessResponse"}}}}},"security":[{"WIFU":[""]}]}}},"components":{"schemas":{"SuccessResponse":{"type":"object","properties":{"success":{"type":"boolean","description":"Success"},"message":{"type":"string","description":"Message"},"successType":{"type":"string","description":"SuccessType","enum":["SUCCESSFUL","PARTIAL_SUCCESS","NOT_SUCCESSFUL"]}}},"AutoWithdrawJobAmountJson":{"type":"object","properties":{"type":{"type":"string","enum":["FIXED","PERCENTAGE"]},"value":{"type":"number"}}},"CreateAutoWithdrawJobJson":{"type":"object","properties":{"frequencyType":{"type":"string","enum":["DAILY","WEEKLY","MONTHLY"]},"frequencyValue":{"type":"integer","format":"int32"},"thresholdAmount":{"type":"number"},"withdrawAmount":{"$ref":"#/components/schemas/AutoWithdrawJobAmountJson"},"wdAddressId":{"type":"string","format":"uuid"},"withdrawCurrency":{"type":"string","enum":["BTC","EUR","ETH","XRP","BCH","LTC","ZEC","DASH","XLM","EOS","SOL","BSV","LINK","BAT","PAX","ZRX","HOT","OMG","REP","NEXO","BTG","EURKM","ENJ","MATIC","ELF","SNT","BNT","KNC","MTL","POLY","POWR","GTO","LOOM","CVC","AST","PPT","LRC","KEY","STORJ","STORM","TNT","DATA","AOA","RDN","USDC","FET","ANT","AERGO","LBA","XMR","MITH","BAND","SXP","EURS","WBTC","RVN","UNI","AAVE","FTM","YFI","DOGE","ONEINCH","SUSHI","OCEAN","MKR","CRV","CHZ","GRT","GNO","HBAR","ADA","ALGO","XTZ","SAND","SHIB","STX","GALA","USDT","DOT","ETC","TRX","KSM","KAS","USD","TBTC","TEUR","TETH","TXRP","TBCH","TLTC","TZEC","TDASH","TXLM","TEOS","TERC","TBSV","TBTG","TEURKM","TXMR","TRVN","TDOGE","THBAR","TADA","TALGO","TXTZ","TSTX","TTTT","TSOL","TDOT","TETC","TTRX","TMARC","TKAS","TUSD","USDTNH"]}}},"AutoWithdrawJobJson":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"owner":{"type":"string","format":"uuid"},"frequencyType":{"type":"string","enum":["DAILY","WEEKLY","MONTHLY"]},"frequencyValue":{"type":"integer","format":"int32"},"thresholdAmount":{"type":"number"},"withdrawAmount":{"$ref":"#/components/schemas/AutoWithdrawJobAmountJson"},"jobStatus":{"type":"string","enum":["ACTIVE","INACTIVE","DELETED"]},"wdAddressId":{"type":"string","format":"uuid"},"withdrawCurrency":{"type":"string","enum":["BTC","EUR","ETH","XRP","BCH","LTC","ZEC","DASH","XLM","EOS","SOL","BSV","LINK","BAT","PAX","ZRX","HOT","OMG","REP","NEXO","BTG","EURKM","ENJ","MATIC","ELF","SNT","BNT","KNC","MTL","POLY","POWR","GTO","LOOM","CVC","AST","PPT","LRC","KEY","STORJ","STORM","TNT","DATA","AOA","RDN","USDC","FET","ANT","AERGO","LBA","XMR","MITH","BAND","SXP","EURS","WBTC","RVN","UNI","AAVE","FTM","YFI","DOGE","ONEINCH","SUSHI","OCEAN","MKR","CRV","CHZ","GRT","GNO","HBAR","ADA","ALGO","XTZ","SAND","SHIB","STX","GALA","USDT","DOT","ETC","TRX","KSM","KAS","USD","TBTC","TEUR","TETH","TXRP","TBCH","TLTC","TZEC","TDASH","TXLM","TEOS","TERC","TBSV","TBTG","TEURKM","TXMR","TRVN","TDOGE","THBAR","TADA","TALGO","TXTZ","TSTX","TTTT","TSOL","TDOT","TETC","TTRX","TMARC","TKAS","TUSD","USDTNH"]},"lastExecTime":{"type":"string","format":"date-time"},"inactiveReason":{"type":"string"}}},"AutoConvertRuleJson":{"type":"object","properties":{"fromCurrencies":{"type":"array","items":{"type":"string","enum":["BTC","EUR","ETH","XRP","BCH","LTC","ZEC","DASH","XLM","EOS","SOL","BSV","LINK","BAT","PAX","ZRX","HOT","OMG","REP","NEXO","BTG","EURKM","ENJ","MATIC","ELF","SNT","BNT","KNC","MTL","POLY","POWR","GTO","LOOM","CVC","AST","PPT","LRC","KEY","STORJ","STORM","TNT","DATA","AOA","RDN","USDC","FET","ANT","AERGO","LBA","XMR","MITH","BAND","SXP","EURS","WBTC","RVN","UNI","AAVE","FTM","YFI","DOGE","ONEINCH","SUSHI","OCEAN","MKR","CRV","CHZ","GRT","GNO","HBAR","ADA","ALGO","XTZ","SAND","SHIB","STX","GALA","USDT","DOT","ETC","TRX","KSM","KAS","USD","TBTC","TEUR","TETH","TXRP","TBCH","TLTC","TZEC","TDASH","TXLM","TEOS","TERC","TBSV","TBTG","TEURKM","TXMR","TRVN","TDOGE","THBAR","TADA","TALGO","TXTZ","TSTX","TTTT","TSOL","TDOT","TETC","TTRX","TMARC","TKAS","TUSD","USDTNH"]}},"toCurrency":{"type":"string","enum":["BTC","EUR","ETH","XRP","BCH","LTC","ZEC","DASH","XLM","EOS","SOL","BSV","LINK","BAT","PAX","ZRX","HOT","OMG","REP","NEXO","BTG","EURKM","ENJ","MATIC","ELF","SNT","BNT","KNC","MTL","POLY","POWR","GTO","LOOM","CVC","AST","PPT","LRC","KEY","STORJ","STORM","TNT","DATA","AOA","RDN","USDC","FET","ANT","AERGO","LBA","XMR","MITH","BAND","SXP","EURS","WBTC","RVN","UNI","AAVE","FTM","YFI","DOGE","ONEINCH","SUSHI","OCEAN","MKR","CRV","CHZ","GRT","GNO","HBAR","ADA","ALGO","XTZ","SAND","SHIB","STX","GALA","USDT","DOT","ETC","TRX","KSM","KAS","USD","TBTC","TEUR","TETH","TXRP","TBCH","TLTC","TZEC","TDASH","TXLM","TEOS","TERC","TBSV","TBTG","TEURKM","TXMR","TRVN","TDOGE","THBAR","TADA","TALGO","TXTZ","TSTX","TTTT","TSOL","TDOT","TETC","TTRX","TMARC","TKAS","TUSD","USDTNH"]}}},"OrganizationAutoConvertRulesJson":{"type":"object","properties":{"organizationId":{"type":"string","format":"uuid"},"rules":{"type":"array","items":{"$ref":"#/components/schemas/AutoConvertRuleJson"}}}},"CreateWithdrawalRequest":{"required":["amount","currency","withdrawalAddressId"],"type":"object","properties":{"currency":{"type":"string","description":"From currency","enum":["BTC","EUR","ETH","XRP","BCH","LTC","ZEC","DASH","XLM","EOS","SOL","BSV","LINK","BAT","PAX","ZRX","HOT","OMG","REP","NEXO","BTG","EURKM","ENJ","MATIC","ELF","SNT","BNT","KNC","MTL","POLY","POWR","GTO","LOOM","CVC","AST","PPT","LRC","KEY","STORJ","STORM","TNT","DATA","AOA","RDN","USDC","FET","ANT","AERGO","LBA","XMR","MITH","BAND","SXP","EURS","WBTC","RVN","UNI","AAVE","FTM","YFI","DOGE","ONEINCH","SUSHI","OCEAN","MKR","CRV","CHZ","GRT","GNO","HBAR","ADA","ALGO","XTZ","SAND","SHIB","STX","GALA","USDT","DOT","ETC","TRX","KSM","KAS","USD","TBTC","TEUR","TETH","TXRP","TBCH","TLTC","TZEC","TDASH","TXLM","TEOS","TERC","TBSV","TBTG","TEURKM","TXMR","TRVN","TDOGE","THBAR","TADA","TALGO","TXTZ","TSTX","TTTT","TSOL","TDOT","TETC","TTRX","TMARC","TKAS","TUSD","USDTNH"]},"amount":{"type":"number","description":"Amount in currency max precision"},"withdrawalAddressId":{"type":"string","description":"Withdrawal address ID (address must be whitelisted first)","format":"uuid"},"userNote":{"type":"string","description":"User withdraw note"},"walletType":{"type":"string","description":"Wallet type","enum":["BITGO","COINBASE","PAYEER","EXTERNAL","FEES","KRIPTOMAT","BLOCKCHAIN","LIGHTNING","INTERNAL","MULTISIG","FIREBLOCKS","FIREBLOCKS_AG","MINING","NEXPAY","NEXPAY_CORPORATE","MAERKIBAUMAN","LIGHTNING_LTD","FIREBLOCKS_AG_EM"]}},"description":"Withdrawal request"},"IdResponse":{"type":"object","properties":{"id":{"type":"string","description":"Withdrawal request id","format":"uuid","example":"f0be8276-b4bf-4ad1-b856-d6db7646f052"}}},"ResolveTRWithheldSelfHostedWalletDeposit":{"type":"object","properties":{"currency":{"type":"string","enum":["BTC","EUR","ETH","XRP","BCH","LTC","ZEC","DASH","XLM","EOS","SOL","BSV","LINK","BAT","PAX","ZRX","HOT","OMG","REP","NEXO","BTG","EURKM","ENJ","MATIC","ELF","SNT","BNT","KNC","MTL","POLY","POWR","GTO","LOOM","CVC","AST","PPT","LRC","KEY","STORJ","STORM","TNT","DATA","AOA","RDN","USDC","FET","ANT","AERGO","LBA","XMR","MITH","BAND","SXP","EURS","WBTC","RVN","UNI","AAVE","FTM","YFI","DOGE","ONEINCH","SUSHI","OCEAN","MKR","CRV","CHZ","GRT","GNO","HBAR","ADA","ALGO","XTZ","SAND","SHIB","STX","GALA","USDT","DOT","ETC","TRX","KSM","KAS","USD","TBTC","TEUR","TETH","TXRP","TBCH","TLTC","TZEC","TDASH","TXLM","TEOS","TERC","TBSV","TBTG","TEURKM","TXMR","TRVN","TDOGE","THBAR","TADA","TALGO","TXTZ","TSTX","TTTT","TSOL","TDOT","TETC","TTRX","TMARC","TKAS","TUSD","USDTNH"]},"comment":{"type":"string"},"format":{"type":"string","enum":["ANY","STANDARD","P2PKH","P2SH","P2WPKH","P2WSH","P2TR"]},"msg":{"type":"string"},"address":{"type":"string"},"xpubRequired":{"type":"boolean"},"xPubKey":{"type":"string"},"media":{"type":"array","items":{"type":"string","format":"binary"}},"type":{"type":"string","enum":["MEDIA_PROOF","SIGNATURE_PROOF"]},"xpubKey":{"type":"string"}}},"Aopd":{"type":"object","properties":{"registerMediaProof":{"$ref":"#/components/schemas/MediaProof"},"aopdMediaProof":{"$ref":"#/components/schemas/MediaProof"},"aopdSignatureProof":{"$ref":"#/components/schemas/SignatureProof"},"requestAoppProof":{"$ref":"#/components/schemas/AoppProof"},"proofsCount":{"type":"integer","format":"int32"},"proofForAddress":{"$ref":"#/components/schemas/GeneralProof"},"proof":{"$ref":"#/components/schemas/GeneralProof"},"proofsForCustomer":{"type":"array","items":{"$ref":"#/components/schemas/GeneralProof"}}}},"AopdXpub":{"required":["addressPath","xpub"],"type":"object","properties":{"xpub":{"type":"string"},"addressPath":{"type":"string"}}},"AoppProof":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"quickproofUrl":{"type":"string"},"aoppPortalUrl":{"type":"string"}}},"GeneralProof":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"aopdAsset":{"type":"string"},"asset":{"type":"string"},"address":{"type":"string"},"message":{"type":"string"},"createdAt":{"type":"string"},"chainalysisRisk":{"type":"string"},"comment":{"type":"string"},"customerId":{"type":"string"},"signature":{"type":"string"},"mediaPaths":{"type":"array","items":{"type":"string"}},"xpub":{"$ref":"#/components/schemas/AopdXpub"},"__typename":{"type":"string"}}},"MediaProof":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"selfHostedWalletId":{"type":"string","format":"uuid"},"mediaPaths":{"type":"array","items":{"type":"string"}},"asset":{"type":"string"},"address":{"type":"string"},"createdAt":{"type":"string"},"chainalysisRisk":{"type":"string","enum":["SEVERE","HIGH","MEDIUM","LOW"]},"comment":{"type":"string"},"customerId":{"type":"string"}}},"SignatureProof":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"asset":{"type":"string"},"address":{"type":"string"},"message":{"type":"string"},"chainalysisRisk":{"type":"string","enum":["SEVERE","HIGH","MEDIUM","LOW"]},"createdAt":{"type":"string"},"comment":{"type":"string"},"customerId":{"type":"string"},"signature":{"type":"string"},"xpub":{"$ref":"#/components/schemas/AopdXpub"}}},"ResolveTRWithheldVASPDepositJSON":{"type":"object","properties":{"emailVASPId":{"type":"string","format":"uuid"},"firstName":{"type":"string"},"lastName":{"type":"string"},"legalName":{"type":"string"},"postalCode":{"type":"string"},"town":{"type":"string"},"country":{"type":"string"},"currency":{"type":"string","enum":["BTC","EUR","ETH","XRP","BCH","LTC","ZEC","DASH","XLM","EOS","SOL","BSV","LINK","BAT","PAX","ZRX","HOT","OMG","REP","NEXO","BTG","EURKM","ENJ","MATIC","ELF","SNT","BNT","KNC","MTL","POLY","POWR","GTO","LOOM","CVC","AST","PPT","LRC","KEY","STORJ","STORM","TNT","DATA","AOA","RDN","USDC","FET","ANT","AERGO","LBA","XMR","MITH","BAND","SXP","EURS","WBTC","RVN","UNI","AAVE","FTM","YFI","DOGE","ONEINCH","SUSHI","OCEAN","MKR","CRV","CHZ","GRT","GNO","HBAR","ADA","ALGO","XTZ","SAND","SHIB","STX","GALA","USDT","DOT","ETC","TRX","KSM","KAS","USD","TBTC","TEUR","TETH","TXRP","TBCH","TLTC","TZEC","TDASH","TXLM","TEOS","TERC","TBSV","TBTG","TEURKM","TXMR","TRVN","TDOGE","THBAR","TADA","TALGO","TXTZ","TSTX","TTTT","TSOL","TDOT","TETC","TTRX","TMARC","TKAS","TUSD","USDTNH"]}},"description":"Travel Rule data (optional, default value is null"},"PaginationInfo":{"type":"object","properties":{"size":{"type":"integer","description":"Page size","format":"int32","example":100},"page":{"type":"integer","description":"Page number (first page is 0)","format":"int32","example":0},"totalPageCount":{"type":"integer","description":"Total page count","format":"int32","example":5}}},"VirginUTXOListJSON":{"type":"object","properties":{"reservedList":{"type":"array","items":{"$ref":"#/components/schemas/VirginUtxoJSON"}},"list":{"type":"array","items":{"$ref":"#/components/schemas/VirginUtxoJSON"}},"utxoIds":{"uniqueItems":true,"type":"array","items":{"type":"string","format":"uuid"}},"address":{"type":"string"},"orgId":{"type":"string","format":"uuid"},"pagination":{"$ref":"#/components/schemas/PaginationInfo"}}},"VirginUtxoJSON":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"txHash":{"type":"string"},"createdTs":{"type":"string"},"index":{"type":"integer","format":"int32"},"numberOfHops":{"type":"integer","format":"int32"},"wallet":{"type":"string","enum":["BITGO","COINBASE","PAYEER","EXTERNAL","FEES","KRIPTOMAT","BLOCKCHAIN","LIGHTNING","INTERNAL","MULTISIG","FIREBLOCKS","FIREBLOCKS_AG","MINING","NEXPAY","NEXPAY_CORPORATE","MAERKIBAUMAN","LIGHTNING_LTD","FIREBLOCKS_AG_EM"]},"amount":{"type":"number"},"fee":{"type":"string"},"reservationStatus":{"type":"string","enum":["AVAILABLE","RESERVED","RESERVED_FOR_USER","SOLD_OUT"]},"expiresAt":{"type":"string"}}},"VirginUTXOSumJSON":{"type":"object","properties":{"totalAmount":{"type":"number"},"serviceFee":{"type":"number"},"networkFee":{"type":"number"},"receiveAmount":{"type":"number"},"utxoIds":{"uniqueItems":true,"type":"array","items":{"type":"string","format":"uuid"}},"expiresAt":{"type":"string"}}},"RewardWithdrawalInfo":{"type":"object","properties":{"currency":{"type":"string","enum":["BTC","EUR","ETH","XRP","BCH","LTC","ZEC","DASH","XLM","EOS","SOL","BSV","LINK","BAT","PAX","ZRX","HOT","OMG","REP","NEXO","BTG","EURKM","ENJ","MATIC","ELF","SNT","BNT","KNC","MTL","POLY","POWR","GTO","LOOM","CVC","AST","PPT","LRC","KEY","STORJ","STORM","TNT","DATA","AOA","RDN","USDC","FET","ANT","AERGO","LBA","XMR","MITH","BAND","SXP","EURS","WBTC","RVN","UNI","AAVE","FTM","YFI","DOGE","ONEINCH","SUSHI","OCEAN","MKR","CRV","CHZ","GRT","GNO","HBAR","ADA","ALGO","XTZ","SAND","SHIB","STX","GALA","USDT","DOT","ETC","TRX","KSM","KAS","USD","TBTC","TEUR","TETH","TXRP","TBCH","TLTC","TZEC","TDASH","TXLM","TEOS","TERC","TBSV","TBTG","TEURKM","TXMR","TRVN","TDOGE","THBAR","TADA","TALGO","TXTZ","TSTX","TTTT","TSOL","TDOT","TETC","TTRX","TMARC","TKAS","TUSD","USDTNH"]},"organizationId":{"type":"string","format":"uuid"},"withdrawalId":{"type":"string","format":"uuid"},"status":{"type":"string","enum":["PRE_SUBMITTED","WITHHELD","SUBMITTED","ACCEPTED","PROCESSING","COMPLETED","FAILED","CANCELED","INDETERMINATE"]},"txid":{"type":"string"},"amount":{"type":"number"},"feeAmount":{"type":"number"}}},"AccountDepositAddress":{"type":"object","properties":{"type":{"$ref":"#/components/schemas/WalletType"},"address":{"type":"string","description":"Address"},"currency":{"type":"string","description":"Currency","enum":["BTC","EUR","ETH","XRP","BCH","LTC","ZEC","DASH","XLM","EOS","SOL","BSV","LINK","BAT","PAX","ZRX","HOT","OMG","REP","NEXO","BTG","EURKM","ENJ","MATIC","ELF","SNT","BNT","KNC","MTL","POLY","POWR","GTO","LOOM","CVC","AST","PPT","LRC","KEY","STORJ","STORM","TNT","DATA","AOA","RDN","USDC","FET","ANT","AERGO","LBA","XMR","MITH","BAND","SXP","EURS","WBTC","RVN","UNI","AAVE","FTM","YFI","DOGE","ONEINCH","SUSHI","OCEAN","MKR","CRV","CHZ","GRT","GNO","HBAR","ADA","ALGO","XTZ","SAND","SHIB","STX","GALA","USDT","DOT","ETC","TRX","KSM","KAS","USD","TBTC","TEUR","TETH","TXRP","TBCH","TLTC","TZEC","TDASH","TXLM","TEOS","TERC","TBSV","TBTG","TEURKM","TXMR","TRVN","TDOGE","THBAR","TADA","TALGO","TXTZ","TSTX","TTTT","TSOL","TDOT","TETC","TTRX","TMARC","TKAS","TUSD","USDTNH"]},"travelAddress":{"type":"string","description":"Travel Address"}}},"WalletType":{"type":"object","properties":{"code":{"type":"string","description":"Enum code","enum":["BITGO","COINBASE","PAYEER","EXTERNAL","FEES","KRIPTOMAT","BLOCKCHAIN","LIGHTNING","INTERNAL","MULTISIG","FIREBLOCKS","FIREBLOCKS_AG","MINING","NEXPAY","NEXPAY_CORPORATE","MAERKIBAUMAN","LIGHTNING_LTD","FIREBLOCKS_AG_EM"]},"description":{"type":"string","description":"Translated enum"},"supportedCurrencies":{"type":"array","description":"Supported currencies","items":{"type":"string","description":"Supported currencies","enum":["BTC","EUR","ETH","XRP","BCH","LTC","ZEC","DASH","XLM","EOS","SOL","BSV","LINK","BAT","PAX","ZRX","HOT","OMG","REP","NEXO","BTG","EURKM","ENJ","MATIC","ELF","SNT","BNT","KNC","MTL","POLY","POWR","GTO","LOOM","CVC","AST","PPT","LRC","KEY","STORJ","STORM","TNT","DATA","AOA","RDN","USDC","FET","ANT","AERGO","LBA","XMR","MITH","BAND","SXP","EURS","WBTC","RVN","UNI","AAVE","FTM","YFI","DOGE","ONEINCH","SUSHI","OCEAN","MKR","CRV","CHZ","GRT","GNO","HBAR","ADA","ALGO","XTZ","SAND","SHIB","STX","GALA","USDT","DOT","ETC","TRX","KSM","KAS","USD","TBTC","TEUR","TETH","TXRP","TBCH","TLTC","TZEC","TDASH","TXLM","TEOS","TERC","TBSV","TBTG","TEURKM","TXMR","TRVN","TDOGE","THBAR","TADA","TALGO","TXTZ","TSTX","TTTT","TSOL","TDOT","TETC","TTRX","TMARC","TKAS","TUSD","USDTNH"]}}},"description":"Wallet type"},"MediaJSON":{"type":"object","properties":{"path":{"type":"string"},"name":{"type":"string"},"contentType":{"type":"string"},"md5":{"type":"string"},"size":{"type":"integer","format":"int64"},"ownerId":{"type":"string","format":"uuid"},"organizationId":{"type":"string","format":"uuid"}}},"AdminServiceFeeJSON":{"type":"object","properties":{"task":{"type":"string"},"description":{"type":"string"},"pricePercent":{"type":"integer","format":"int32"},"minPriceUSD":{"type":"number"},"useOriginCurrency":{"type":"boolean"}}},"AdminServiceInvoiceFee":{"type":"object","properties":{"fees":{"type":"array","items":{"$ref":"#/components/schemas/AdminServiceFeeJSON"}}},"description":"Admin service fees"},"AllFeeRules":{"type":"object","properties":{"deposit":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/FeeRules"},"description":"Deposit fee rules"},"withdrawal":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/FeeRules"},"description":"Withdrawal fee rules"},"closing_withdrawal":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/FeeRules"},"description":"Closing Withdrawal fee rules"},"lightning_address_use_max":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/FeeRules"},"description":"Closing Withdrawal fee rules"},"exchangeTaker":{"$ref":"#/components/schemas/FeeRule"},"exchangeMaker":{"$ref":"#/components/schemas/FeeRule"},"buyingNonRefundableFee":{"$ref":"#/components/schemas/FeeRule"},"buyingSpentFee":{"$ref":"#/components/schemas/FeeRule"},"sellFee":{"$ref":"#/components/schemas/FeeRule"},"adminServiceFee":{"$ref":"#/components/schemas/AdminServiceInvoiceFee"}},"description":"All fee rules.","example":{"exchangeMaker":{"intervals":[{"start":0,"end":1000,"element":{"type":"PERCENTAGE","value":0.005}},{"start":1000,"end":10000,"element":{"type":"PERCENTAGE","value":0.004}},{"start":10000,"end":100000,"element":{"type":"PERCENTAGE","value":0.003}},{"start":100000,"end":1000000,"element":{"type":"PERCENTAGE","value":0.002}},{"start":1000000,"end":10000000,"element":{"type":"PERCENTAGE","value":0.001}},{"start":10000000,"end":100000000,"element":{"type":"PERCENTAGE","value":5.0E-4}},{"start":100000000,"end":1000000000,"element":{"type":"PERCENTAGE","value":4.0E-4}},{"start":1000000000,"end":10000000000,"element":{"type":"PERCENTAGE","value":3.0E-4}},{"start":10000000000,"end":100000000000,"element":{"type":"PERCENTAGE","value":2.0E-4}},{"start":100000000000,"element":{"type":"PERCENTAGE","value":1.0E-4}}]},"buyingSpentFee":{"intervals":[{"start":0,"element":{"type":"PERCENTAGE","value":0.03}}]},"exchangeTaker":{"intervals":[{"start":0,"end":1000,"element":{"type":"PERCENTAGE","value":0.005}},{"start":1000,"end":10000,"element":{"type":"PERCENTAGE","value":0.004}},{"start":10000,"end":100000,"element":{"type":"PERCENTAGE","value":0.003}},{"start":100000,"end":1000000,"element":{"type":"PERCENTAGE","value":0.002}},{"start":1000000,"end":10000000,"element":{"type":"PERCENTAGE","value":0.001}},{"start":10000000,"end":100000000,"element":{"type":"PERCENTAGE","value":8.0E-4}},{"start":100000000,"end":1000000000,"element":{"type":"PERCENTAGE","value":6.0E-4}},{"start":1000000000,"end":10000000000,"element":{"type":"PERCENTAGE","value":5.0E-4}},{"start":10000000000,"end":100000000000,"element":{"type":"PERCENTAGE","value":4.0E-4}},{"start":100000000000,"element":{"type":"PERCENTAGE","value":3.0E-4}}]},"sellFee":{"intervals":[{"start":1.0E-5,"element":{"type":"PERCENTAGE","value":0.02}}]},"deposit":{"BLOCKCHAIN":{"rules":{"TXMR":{"intervals":[{"start":0,"end":0.5,"element":{"type":"ABSOLUTE","value":0.01}},{"start":0.5,"element":{"type":"PERCENTAGE","value":0}}],"coin":"TXMR"}}},"BITGO":{"rules":{"TZEC":{"intervals":[{"start":0,"end":0.05,"element":{"type":"ABSOLUTE","value":0.001}},{"start":0.05,"element":{"type":"ABSOLUTE","value":0}}],"coin":"TZEC"},"TBCH":{"intervals":[{"start":0,"end":0.05,"element":{"type":"ABSOLUTE","value":0.001}},{"start":0.05,"element":{"type":"ABSOLUTE","value":0}}],"coin":"TBCH"},"TXLM":{"intervals":[{"start":0,"element":{"type":"ABSOLUTE","value":0}}],"coin":"TXLM"},"TLTC":{"intervals":[{"start":0,"end":0.05,"element":{"type":"ABSOLUTE","value":0.001}},{"start":0.05,"element":{"type":"ABSOLUTE","value":0}}],"coin":"TLTC"},"TERC":{"intervals":[{"start":0,"end":0.05,"element":{"type":"ABSOLUTE","value":0.001}},{"start":0.05,"element":{"type":"ABSOLUTE","value":0}}],"coin":"TERC"},"TBTC":{"intervals":[{"start":0,"end":0.005,"element":{"type":"ABSOLUTE","value":1.0E-4}},{"start":0.005,"element":{"type":"ABSOLUTE","value":0}}],"coin":"TBTC"},"TXRP":{"intervals":[{"start":0,"end":30,"element":{"type":"ABSOLUTE","value":1}},{"start":30,"element":{"type":"ABSOLUTE","value":0}}],"coin":"TXRP"},"TETH":{"intervals":[{"start":0,"end":0.05,"element":{"type":"ABSOLUTE","value":0.001}},{"start":0.05,"element":{"type":"ABSOLUTE","value":0}}],"coin":"TETH"},"TDASH":{"intervals":[{"start":0,"end":0.05,"element":{"type":"ABSOLUTE","value":0.001}},{"start":0.05,"element":{"type":"ABSOLUTE","value":0}}],"coin":"TDASH"},"TEOS":{"intervals":[{"start":0,"element":{"type":"ABSOLUTE","value":0}}],"coin":"TEOS"}}},"LIGHTNING":{"rules":{"TBTC":{"intervals":[{"start":0,"end":2.0E-4,"element":{"type":"ABSOLUTE","value":2.0E-4}},{"start":2.0E-4,"element":{"type":"ABSOLUTE","value":0}}],"coin":"TBTC"}}}},"withdrawal":{"BLOCKCHAIN":{"rules":{"TXMR":{"intervals":[{"start":0,"end":0.5,"element":{"type":"ABSOLUTE","value":0.01}},{"start":0.5,"element":{"type":"PERCENTAGE","value":0}}],"coin":"TXMR"}}},"BITGO":{"rules":{"TZEC":{"intervals":[{"start":0.01,"element":{"sndValue":0,"type":"PERCENTAGE","sndType":"ABSOLUTE","value":0.001}}],"coin":"TZEC"},"TBCH":{"intervals":[{"start":0.01,"element":{"sndValue":0,"type":"PERCENTAGE","sndType":"ABSOLUTE","value":0.001}}],"coin":"TBCH"},"TXLM":{"intervals":[{"start":0,"element":{"type":"ABSOLUTE","value":0}}],"coin":"TXLM"},"TLTC":{"intervals":[{"start":0.01,"element":{"sndValue":0,"type":"PERCENTAGE","sndType":"ABSOLUTE","value":0.001}}],"coin":"TLTC"},"TERC":{"intervals":[{"start":0,"element":{"sndValue":48,"type":"PERCENTAGE","sndType":"ABSOLUTE","value":0.001}}],"coin":"TERC"},"TBTC":{"intervals":[{"start":0,"element":{"sndValue":1.647E-5,"type":"PERCENTAGE","sndType":"ABSOLUTE","value":0.001}}],"coin":"TBTC"},"TXRP":{"intervals":[{"start":25,"element":{"sndValue":0,"type":"PERCENTAGE","sndType":"ABSOLUTE","value":0.001}}],"coin":"TXRP"},"TETH":{"intervals":[{"start":0.01,"element":{"sndValue":0.12345,"type":"PERCENTAGE","sndType":"ABSOLUTE","value":0.001}}],"coin":"TETH"},"TDASH":{"intervals":[{"start":0.001,"element":{"sndValue":0,"type":"PERCENTAGE","sndType":"ABSOLUTE","value":0.001}}],"coin":"TDASH"},"TEOS":{"intervals":[{"start":0,"element":{"type":"ABSOLUTE","value":0}}],"coin":"TEOS"}}},"LIGHTNING":{"rules":{"TBTC":{"intervals":[{"start":1.0E-4,"element":{"type":"ABSOLUTE","value":0}}],"coin":"TBTC"}}},"INTERNAL":{"rules":{"TZEC":{"intervals":[{"start":0,"element":{"type":"ABSOLUTE","value":0}}],"coin":"TZEC"},"TBCH":{"intervals":[{"start":0,"element":{"type":"ABSOLUTE","value":0}}],"coin":"TBCH"},"TXLM":{"intervals":[{"start":0,"element":{"type":"ABSOLUTE","value":0}}],"coin":"TXLM"},"TLTC":{"intervals":[{"start":0,"element":{"type":"ABSOLUTE","value":0}}],"coin":"TLTC"},"TERC":{"intervals":[{"start":0,"element":{"type":"ABSOLUTE","value":0}}],"coin":"TERC"},"TBTC":{"intervals":[{"start":0,"element":{"type":"ABSOLUTE","value":0}}],"coin":"TBTC"},"TXRP":{"intervals":[{"start":0,"element":{"type":"ABSOLUTE","value":0}}],"coin":"TXRP"},"TETH":{"intervals":[{"start":0,"element":{"type":"ABSOLUTE","value":0}}],"coin":"TETH"},"TDASH":{"intervals":[{"start":0,"element":{"type":"ABSOLUTE","value":0}}],"coin":"TDASH"},"TBSV":{"intervals":[{"start":0,"element":{"type":"ABSOLUTE","value":0}}],"coin":"TBSV"},"TEOS":{"intervals":[{"start":0,"element":{"type":"ABSOLUTE","value":0}}],"coin":"TEOS"},"TXMR":{"intervals":[{"start":0,"element":{"type":"ABSOLUTE","value":0}}],"coin":"TXMR"}}},"EXTERNAL":{"rules":{"TBTC":{"intervals":[{"start":0.001,"end":0.1,"element":{"type":"PERCENTAGE","value":0.03}},{"start":0.1,"element":{"type":"PERCENTAGE","value":0.01}}],"coin":"TBTC"}}}},"buyingNonRefundableFee":{"intervals":[{"start":0,"element":{"type":"ABSOLUTE","value":1.0E-4}}]}}},"Fee":{"type":"object","properties":{"value":{"type":"number","description":"Base fee value"},"type":{"type":"string","description":"Base fee type","enum":["U","%"]},"sndValue":{"type":"number","description":"Second fee value"},"sndType":{"type":"string","description":"Second fee type","enum":["U","%"]}}},"FeeRule":{"type":"object","properties":{"coin":{"type":"string","description":"Currency symbol","enum":["BTC","EUR","ETH","XRP","BCH","LTC","ZEC","DASH","XLM","EOS","SOL","BSV","LINK","BAT","PAX","ZRX","HOT","OMG","REP","NEXO","BTG","EURKM","ENJ","MATIC","ELF","SNT","BNT","KNC","MTL","POLY","POWR","GTO","LOOM","CVC","AST","PPT","LRC","KEY","STORJ","STORM","TNT","DATA","AOA","RDN","USDC","FET","ANT","AERGO","LBA","XMR","MITH","BAND","SXP","EURS","WBTC","RVN","UNI","AAVE","FTM","YFI","DOGE","ONEINCH","SUSHI","OCEAN","MKR","CRV","CHZ","GRT","GNO","HBAR","ADA","ALGO","XTZ","SAND","SHIB","STX","GALA","USDT","DOT","ETC","TRX","KSM","KAS","USD","TBTC","TEUR","TETH","TXRP","TBCH","TLTC","TZEC","TDASH","TXLM","TEOS","TERC","TBSV","TBTG","TEURKM","TXMR","TRVN","TDOGE","THBAR","TADA","TALGO","TXTZ","TSTX","TTTT","TSOL","TDOT","TETC","TTRX","TMARC","TKAS","TUSD","USDTNH"]},"intervals":{"type":"array","items":{"$ref":"#/components/schemas/IntervalFee"}}},"description":"Mining fee rules"},"FeeRules":{"type":"object","properties":{"rules":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/FeeRule"}}},"description":"Closing Withdrawal fee rules"},"IntervalFee":{"type":"object","properties":{"dynamic":{"type":"boolean"},"start":{"type":"number","description":"Start of the interval"},"end":{"type":"number","description":"End of the interval"},"element":{"$ref":"#/components/schemas/Fee"}}},"ExchangeRateCurrencyJSON":{"type":"object","properties":{"rate":{"type":"number"},"timeStamp":{"type":"integer","format":"int64"},"fromCurrency":{"type":"string"},"toCurrency":{"type":"string"}}},"AdditionalParams":{"type":"object","properties":{"key":{"type":"string"},"required":{"type":"boolean"},"maxLength":{"type":"integer","format":"int32"},"startWithZero":{"type":"boolean"},"type":{"type":"string"}},"description":"params"},"CurrencyInfo":{"type":"object","properties":{"symbol":{"type":"string","description":"Symbol","enum":["BTC","EUR","ETH","XRP","BCH","LTC","ZEC","DASH","XLM","EOS","SOL","BSV","LINK","BAT","PAX","ZRX","HOT","OMG","REP","NEXO","BTG","EURKM","ENJ","MATIC","ELF","SNT","BNT","KNC","MTL","POLY","POWR","GTO","LOOM","CVC","AST","PPT","LRC","KEY","STORJ","STORM","TNT","DATA","AOA","RDN","USDC","FET","ANT","AERGO","LBA","XMR","MITH","BAND","SXP","EURS","WBTC","RVN","UNI","AAVE","FTM","YFI","DOGE","ONEINCH","SUSHI","OCEAN","MKR","CRV","CHZ","GRT","GNO","HBAR","ADA","ALGO","XTZ","SAND","SHIB","STX","GALA","USDT","DOT","ETC","TRX","KSM","KAS","USD","TBTC","TEUR","TETH","TXRP","TBCH","TLTC","TZEC","TDASH","TXLM","TEOS","TERC","TBSV","TBTG","TEURKM","TXMR","TRVN","TDOGE","THBAR","TADA","TALGO","TXTZ","TSTX","TTTT","TSOL","TDOT","TETC","TTRX","TMARC","TKAS","TUSD","USDTNH"]},"name":{"type":"string","description":"Name"},"wallets":{"type":"array","description":"List of wallet types","items":{"type":"string","description":"List of wallet types","enum":["BITGO","COINBASE","PAYEER","EXTERNAL","FEES","KRIPTOMAT","BLOCKCHAIN","LIGHTNING","INTERNAL","MULTISIG","FIREBLOCKS","FIREBLOCKS_AG","MINING","NEXPAY","NEXPAY_CORPORATE","MAERKIBAUMAN","LIGHTNING_LTD","FIREBLOCKS_AG_EM"]}},"order":{"type":"integer","description":"Currency order number","format":"int32"},"delisted":{"type":"boolean","description":"Is Currency delisted","deprecated":true},"networks":{"type":"array","description":"Network information","items":{"$ref":"#/components/schemas/NetworkInfo"}},"params":{"type":"array","description":"params","items":{"$ref":"#/components/schemas/AdditionalParams"}},"subunits":{"type":"integer","description":"Subunit decimal size","format":"int64"}},"description":"Currency detailed information"},"CurrencyList":{"type":"object","properties":{"currencies":{"type":"array","items":{"$ref":"#/components/schemas/CurrencyInfo"}}},"description":"Currency list","example":{"currencies":[{"name":"Test Bitcoin","symbol":"TBTC","subunits":100000000,"wallets":["BITGO","FIREBLOCKS","LIGHTNING"],"order":1,"networks":[{"network":"TBTC","transactionInfoUrl":"https://testnet.blockchain.info/tx/{id}","addressInfoUrl":"","blockInfoUrl":""}]}]}},"NetworkInfo":{"type":"object","properties":{"network":{"type":"string","description":"Network","enum":["BTC","EUR","ETH","XRP","BCH","LTC","ZEC","DASH","XLM","EOS","SOL","BSV","LINK","BAT","PAX","ZRX","HOT","OMG","REP","NEXO","BTG","EURKM","ENJ","MATIC","ELF","SNT","BNT","KNC","MTL","POLY","POWR","GTO","LOOM","CVC","AST","PPT","LRC","KEY","STORJ","STORM","TNT","DATA","AOA","RDN","USDC","FET","ANT","AERGO","LBA","XMR","MITH","BAND","SXP","EURS","WBTC","RVN","UNI","AAVE","FTM","YFI","DOGE","ONEINCH","SUSHI","OCEAN","MKR","CRV","CHZ","GRT","GNO","HBAR","ADA","ALGO","XTZ","SAND","SHIB","STX","GALA","USDT","DOT","ETC","TRX","KSM","KAS","USD","TBTC","TEUR","TETH","TXRP","TBCH","TLTC","TZEC","TDASH","TXLM","TEOS","TERC","TBSV","TBTG","TEURKM","TXMR","TRVN","TDOGE","THBAR","TADA","TALGO","TXTZ","TSTX","TTTT","TSOL","TDOT","TETC","TTRX","TMARC","TKAS","TUSD","USDTNH"]},"transactionInfoUrl":{"type":"string","description":"Url for transactions"},"addressInfoUrl":{"type":"string","description":"Url for addresses"},"blockInfoUrl":{"type":"string","description":"Url for block height"}},"description":"Network information"},"AdminServiceInvoiceJSON":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"created":{"type":"string","format":"date-time"},"validTill":{"type":"string","format":"date-time"},"organizationId":{"type":"string","format":"uuid"},"email":{"type":"string"},"staffId":{"type":"string","format":"uuid"},"status":{"type":"string","enum":["OPEN","PAYED","COMPLETED","EXPIRED","INVALIDATED","WITHHELD"]},"serviceTask":{"type":"string"},"servicePrice":{"type":"number"},"sufficientFounds":{"type":"boolean"},"currency":{"type":"string","enum":["BTC","EUR","ETH","XRP","BCH","LTC","ZEC","DASH","XLM","EOS","SOL","BSV","LINK","BAT","PAX","ZRX","HOT","OMG","REP","NEXO","BTG","EURKM","ENJ","MATIC","ELF","SNT","BNT","KNC","MTL","POLY","POWR","GTO","LOOM","CVC","AST","PPT","LRC","KEY","STORJ","STORM","TNT","DATA","AOA","RDN","USDC","FET","ANT","AERGO","LBA","XMR","MITH","BAND","SXP","EURS","WBTC","RVN","UNI","AAVE","FTM","YFI","DOGE","ONEINCH","SUSHI","OCEAN","MKR","CRV","CHZ","GRT","GNO","HBAR","ADA","ALGO","XTZ","SAND","SHIB","STX","GALA","USDT","DOT","ETC","TRX","KSM","KAS","USD","TBTC","TEUR","TETH","TXRP","TBCH","TLTC","TZEC","TDASH","TXLM","TEOS","TERC","TBSV","TBTG","TEURKM","TXMR","TRVN","TDOGE","THBAR","TADA","TALGO","TXTZ","TSTX","TTTT","TSOL","TDOT","TETC","TTRX","TMARC","TKAS","TUSD","USDTNH"]},"walletType":{"type":"string","enum":["BITGO","COINBASE","PAYEER","EXTERNAL","FEES","KRIPTOMAT","BLOCKCHAIN","LIGHTNING","INTERNAL","MULTISIG","FIREBLOCKS","FIREBLOCKS_AG","MINING","NEXPAY","NEXPAY_CORPORATE","MAERKIBAUMAN","LIGHTNING_LTD","FIREBLOCKS_AG_EM"]},"paymentAddress":{"type":"string"},"remark":{"type":"string"},"paymentTs":{"type":"string","format":"date-time"},"exchangeTs":{"type":"string","format":"date-time"},"servicePriceBtc":{"type":"number"},"vat":{"type":"boolean"},"countryState":{"type":"string"},"isAdminPayable":{"type":"boolean"}}},"OrderSummary":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"status":{"type":"string"},"createdTs":{"type":"string"},"orderType":{"type":"string"},"source":{"type":"string"},"sourceAmount":{"type":"number"},"target":{"type":"string"},"targetAmount":{"type":"number"}}},"MiningAlgorithmDetails":{"type":"object","properties":{"algorithm":{"type":"string","description":"Algorithm","example":"LYRA2REV3","enum":["SCRYPT","SHA256","SCRYPTNF","X11","X13","KECCAK","X15","NIST5","NEOSCRYPT","LYRA2RE","WHIRLPOOLX","QUBIT","QUARK","AXIOM","LYRA2REV2","SCRYPTJANENF16","BLAKE256R8","BLAKE256R14","BLAKE256R8VNL","HODL","DAGGERHASHIMOTO","DECRED","CRYPTONIGHT","LBRY","EQUIHASH","PASCAL","X11GOST","SIA","BLAKE2S","SKUNK","CRYPTONIGHTV7","CRYPTONIGHTHEAVY","LYRA2Z","X16R","CRYPTONIGHTV8","SHA256ASICBOOST","ZHASH","BEAM","GRINCUCKAROO29","GRINCUCKATOO31","LYRA2REV3","CRYPTONIGHTR","CUCKOOCYCLE","GRINCUCKAROOD29","BEAMV2","X16RV2","RANDOMXMONERO","EAGLESONG","CUCKAROOM","GRINCUCKATOO32","HANDSHAKE","KAWPOW","CUCKAROO29BFC","BEAMV3","CUCKAROOZ29","OCTOPUS","AUTOLYKOS","ZELHASH","KADENA","ETCHASH","VERUSHASH","KHEAVYHASH","NEXAPOW","IRONFISH","KARLSENHASH","ALEPHIUM","FISHHASH","PYRINHASH","XELISHASHV2","ZKSNARK","FOMA_SHA256ASICBOOST","SHA256ASICBOOST_USDT","FOMA_SHA256ASICBOOST_USDT"]},"title":{"type":"string","description":"Title of the algorithm","example":"Lyra2REv3"},"enabled":{"type":"boolean","description":"Is the algorithm Enabled","example":true},"order":{"type":"integer","description":"Algorithm order number","format":"int32","example":40},"displayMiningFactor":{"type":"string","description":"Unit for mining factor"},"miningFactor":{"type":"number","description":"Mining factor"},"displayMarketFactor":{"type":"string","description":"Unit for market factor"},"marketFactor":{"type":"number","description":"Market factor"},"minimalOrderAmount":{"type":"number","description":"Minimal amount in BTC to create order"},"minSpeedLimit":{"type":"number","description":"Minimal allowed speed limit"},"maxSpeedLimit":{"type":"number","description":"Maximal allowed speed limit"},"priceDownStep":{"type":"number","description":"Maximal hashpower order down step"},"minimalPoolDifficulty":{"type":"number","description":"Minimal required pool difficulty"},"port":{"type":"integer","description":"TCP port for algorithm","format":"int64"},"color":{"type":"string","description":"Color in charts for algorithm"},"ordersEnabled":{"type":"boolean","description":"Are hashpower orders enabled"},"enabledMarkets":{"type":"string","description":"What hashpower markets are available"},"enabledMarketsNewOrder":{"type":"string","description":"What hashpower markets are available for new orders"},"displayPriceFactor":{"type":"string","description":"Unit for price factor"},"priceFactor":{"type":"number","description":"Price factor"}},"description":"List of mining algorithms"},"MiningAlgorithmList":{"type":"object","properties":{"miningAlgorithms":{"type":"array","description":"List of mining algorithms","items":{"$ref":"#/components/schemas/MiningAlgorithmDetails"}}},"example":{"miningAlgorithms":[{"displayMarketFactor":"TH","ordersEnabled":true,"algorithm":"SCRYPT","title":"Scrypt","displayMiningFactor":"MH","minimalPoolDifficulty":"131071","enabled":true,"maxSpeedLimit":"10000","port":3333,"priceDownStep":"-0.001","miningFactor":"1000000","marketFactor":"1000000000000","minimalOrderAmount":"0.005","minSpeedLimit":"0.01","order":0,"color":"GREEN"}]}},"Health":{"type":"object","properties":{"description":{"type":"string"},"status":{"type":"string"},"details":{"type":"object","additionalProperties":{"type":"object"}}}},"AvailableCurrenciesJson":{"type":"object","properties":{"availableCurrencies":{"uniqueItems":true,"type":"array","items":{"type":"string","enum":["BTC","EUR","ETH","XRP","BCH","LTC","ZEC","DASH","XLM","EOS","SOL","BSV","LINK","BAT","PAX","ZRX","HOT","OMG","REP","NEXO","BTG","EURKM","ENJ","MATIC","ELF","SNT","BNT","KNC","MTL","POLY","POWR","GTO","LOOM","CVC","AST","PPT","LRC","KEY","STORJ","STORM","TNT","DATA","AOA","RDN","USDC","FET","ANT","AERGO","LBA","XMR","MITH","BAND","SXP","EURS","WBTC","RVN","UNI","AAVE","FTM","YFI","DOGE","ONEINCH","SUSHI","OCEAN","MKR","CRV","CHZ","GRT","GNO","HBAR","ADA","ALGO","XTZ","SAND","SHIB","STX","GALA","USDT","DOT","ETC","TRX","KSM","KAS","USD","TBTC","TEUR","TETH","TXRP","TBCH","TLTC","TZEC","TDASH","TXLM","TEOS","TERC","TBSV","TBTG","TEURKM","TXMR","TRVN","TDOGE","THBAR","TADA","TALGO","TXTZ","TSTX","TTTT","TSOL","TDOT","TETC","TTRX","TMARC","TKAS","TUSD","USDTNH"]}}}},"TransactionList":{"type":"object","properties":{"list":{"type":"array","items":{"$ref":"#/components/schemas/Withdrawal"}},"pagination":{"$ref":"#/components/schemas/PaginationInfo"}}},"TranslatedEnumAccountType":{"type":"object","properties":{"enumName":{"type":"string","description":"Name","enum":["USER","USER_EXCHANGE_PENDING","USER_WITHDRAWAL_PENDING","USER_DEBT","EXCHANGE_FEE","HASHPOWER_ORDERS","HASHPOWER_PAYOUTS","HASHPOWER_ORDER_FEE","HASHPOWER_PAYOUT_FEE","WALLET_BITGO_BLOCKCHAIN","WALLET_BITGO_DEPOSIT_PENDING","WALLET_BITGO_DEPOSIT_CONFIRMED","WALLET_BITGO_DEPOSITS_FEES","WALLET_BITGO_DEPOSIT_CONFISCATED","WALLET_BITGO_DEPOSIT_UNASSIGNED","WALLET_BITGO_WITHDRAWAL_PENDING","WALLET_BITGO_WITHDRAWAL_CONFIRMED","WALLET_BITGO_WITHDRAWALS_FEES","WALLET_COINBASE_BLOCKCHAIN","WALLET_COINBASE_WITHDRAWAL_PENDING","WALLET_COINBASE_WITHDRAWALS_FEES","WALLET_COINBASE_DEPOSIT_PENDING","WALLET_COINBASE_DEPOSIT_CONFIRMED","WALLET_COINBASE_DEPOSIT_UNASSIGNED","WALLET_PAYEER_WITHDRAWAL_PENDING","WALLET_PAYEER_WITHDRAWALS_FEES","TESTING","WALLET_BITGO_WITHDRAWAL_UNASSIGNED","WALLET_KRIPTOMAT_DEPOSIT_UNASSIGNED","WALLET_KRIPTOMAT_DEPOSIT_FEES","WALLET_KRIPTOMAT_WITHDRAWAL_PENDING","WALLET_KRIPTOMAT_WITHDRAWAL_FEES","WALLET_BLOCKCHAIN_DEPOSIT_PENDING","WALLET_BLOCKCHAIN_DEPOSITS_FEES","WALLET_BLOCKCHAIN_DEPOSIT_UNASSIGNED","WALLET_BLOCKCHAIN_WITHDRAWAL_PENDING","WALLET_BLOCKCHAIN_WITHDRAWALS_FEES","WALLET_LIGHTNING_DEPOSIT_UNASSIGNED","WALLET_LIGHTNING_WITHDRAWAL_PENDING","WALLET_LIGHTNING_WITHDRAWALS_FEES","WALLET_LIGHTNING_DEPOSITS_FEES","WALLET_MULTISIG_DEPOSIT_UNASSIGNED","WALLET_MULTISIG_DEPOSITS_FEES","WALLET_MULTISIG_WITHDRAWALS_FEES","TOKEN_WITHDRAWAL_FEE_PENDING","WALLET_MULTISIG_DEPOSIT_FEES","CHARITY","HASHPOWER_ORDERS_PENDING","USER_FEE","USER_MNG_FEE","USER_EX_FEE","WALLET_BITGO_REFUND_UNASSIGNED","WALLET_BLOCKCHAIN_REFUND_UNASSIGNED","WALLET_MULTISIG_REFUND_UNASSIGNED","ADMIN_SERVICE_FEE","MINING_AFFILIATE_FEE","WALLET_FIREBLOCKS_DEPOSITS_FEES","WALLET_FIREBLOCKS_DEPOSIT_UNASSIGNED","WALLET_FIREBLOCKS_WITHDRAWALS_FEES","WALLET_FIREBLOCKS_WITHDRAWAL_UNASSIGNED","WITHHELD","SOLO_REWARD","WALLET_WITHDRAWALS_FEES","WALLET_DEPOSITS_FEES","SOLO_REWARD_FEE","SOLO_REWARD_FEE_GEO","WALLET_FIREBLOCKS_REFUND_UNASSIGNED","EXCHANGE_FEE_UAB","WALLET_DEPOSITS_DEPRECATED_FEES","SOLO_SHARED_RESERVED","COUPON_RESERVED","MERCHANT_FEE","WALLET_NEXPAY_DEPOSIT_UNASSIGNED","WALLET_NEXPAY_DEPOSIT_FEES","WALLET_NEXPAY_WITHDRAWAL_PENDING","WALLET_NEXPAY_WITHDRAWAL_FEES","MASS_BUY_RESERVED","WALLET_MAERKIBAUMAN_DEPOSIT_UNASSIGNED","WALLET_MAERKIBAUMAN_DEPOSIT_FEES","WALLET_MAERKIBAUMAN_WITHDRAWAL_PENDING","WALLET_MAERKIBAUMAN_WITHDRAWAL_FEES","WALLET_NEXPAY_CORPORATE_DEPOSIT_UNASSIGNED","WALLET_NEXPAY_CORPORATE_DEPOSIT_FEES","WALLET_NEXPAY_CORPORATE_WITHDRAWAL_PENDING","WALLET_NEXPAY_CORPORATE_WITHDRAWAL_FEES","INACTIVITY_FEE","INDIVIDUAL_USER","WALLET_LIGHTNING_LTD_WITHDRAWALS_FEES","ENGINE_AIRDROP_RESERVED","BITSTAMP_USER_DEBIT","BITSTAMP_USER_CREDIT","FOMA_RESERVED","FOMA_CONTRACT","FOMA_FEES","VMM_EARNINGS","VMM_INFRASTRUCTURE_FEE","CONVERT_FEE"]},"description":{"type":"string","description":"Translated description"}},"description":"Source account type","example":{"enumName":"USER","description":"USER"}},"TranslatedEnumCurrency":{"type":"object","properties":{"enumName":{"type":"string","description":"Name","enum":["BTC","EUR","ETH","XRP","BCH","LTC","ZEC","DASH","XLM","EOS","SOL","BSV","LINK","BAT","PAX","ZRX","HOT","OMG","REP","NEXO","BTG","EURKM","ENJ","MATIC","ELF","SNT","BNT","KNC","MTL","POLY","POWR","GTO","LOOM","CVC","AST","PPT","LRC","KEY","STORJ","STORM","TNT","DATA","AOA","RDN","USDC","FET","ANT","AERGO","LBA","XMR","MITH","BAND","SXP","EURS","WBTC","RVN","UNI","AAVE","FTM","YFI","DOGE","ONEINCH","SUSHI","OCEAN","MKR","CRV","CHZ","GRT","GNO","HBAR","ADA","ALGO","XTZ","SAND","SHIB","STX","GALA","USDT","DOT","ETC","TRX","KSM","KAS","USD","TBTC","TEUR","TETH","TXRP","TBCH","TLTC","TZEC","TDASH","TXLM","TEOS","TERC","TBSV","TBTG","TEURKM","TXMR","TRVN","TDOGE","THBAR","TADA","TALGO","TXTZ","TSTX","TTTT","TSOL","TDOT","TETC","TTRX","TMARC","TKAS","TUSD","USDTNH"]},"description":{"type":"string","description":"Translated description"}},"description":"Currency of the transations","example":{"enumName":"BTC","description":"BTC"}},"TranslatedEnumWithdrawalOrderStatus":{"type":"object","properties":{"enumName":{"type":"string","description":"Name","enum":["PRE_SUBMITTED","WITHHELD","SUBMITTED","ACCEPTED","PROCESSING","COMPLETED","FAILED","CANCELED","INDETERMINATE"]},"description":{"type":"string","description":"Translated description"}},"description":"Order status","example":{"enumName":"COMPLETED","description":"COMPLETED"}},"Withdrawal":{"type":"object","properties":{"id":{"type":"string","description":"Id of the transaction","format":"uuid","example":"4f34e103-6c30-4909-b3a1-11adfe5a66f7"},"created":{"type":"integer","description":"Transaction creation timestamp in milliseconds since 1.1.1970","format":"int64","example":1602530593},"currency":{"$ref":"#/components/schemas/TranslatedEnumCurrency"},"amount":{"type":"number","description":"Transaction amount","example":0.001},"metadata":{"type":"string","description":"Transation metadata","example":"{}"},"accountType":{"$ref":"#/components/schemas/TranslatedEnumAccountType"},"feeAmount":{"type":"number","description":"Fee amount","example":0.000010},"feeMetadata":{"type":"string","description":"Fee metadata","example":"{\\\"walletType\\\":\\\"BITGO\\\",\\\"isExternalMiner\\\":true,\\\"externalWithdrawFee\\\":0.00001210,\\\"externalMiningFee\\\":0.00002079,\\\"miningFeeAccountType\\\":\\\"HASHPOWER_PAYOUT_FEE\\\",\\\"miningFeeAccount\\\":\\\"cc0d85d7-e99c-429a-8224-fa31b0f883b6\\\",\\\"twoFA\\\":false,\\\"twoFASince\\\":0}"},"finalMetadata":{"type":"string","description":"Final metadata","example":"{\\\"txid\\\":\\\"a5f13715f1b68ad9ce27c58156f8746a8d39a5efa71b34391e8868286c01422d\\\",\\\"fee\\\":\\\"0.000012100000000000\\\"}"},"address":{"type":"string","description":"Address for withdrawal","example":"2NFVHDwJmCdwvqr3yzQLPsPXQE3pvaGxNHR"},"status":{"$ref":"#/components/schemas/TranslatedEnumWithdrawalOrderStatus"}},"example":{"status":{"enumName":"COMPLETED","description":"COMPLETED"},"created":1601467203357,"finalMetadata":"{\"txid\":\"a5f13715f1b68ad9ce27c58156f8746a8d39a5efa71b34391e8868286c01422d\",\"fee\":\"0.000012100000000000\"}","feeAmount":3.289E-5,"currency":{"enumName":"TBTC","description":"TBTC"},"amount":"0.00106357","accountType":{"enumName":"USER","description":"USER"},"address":"2NFVHDwJmCdwvqr3yzQLPsPXQE3pvaGxNHR","feeMetadata":"{\"walletType\":\"BITGO\",\"isExternalMiner\":true,\"externalWithdrawFee\":0.00001210,\"externalMiningFee\":0.00002079,\"miningFeeAccountType\":\"HASHPOWER_PAYOUT_FEE\",\"miningFeeAccount\":\"aa64728c-5120-4450-b3b8-189d290985a1\",\"twoFA\":false,\"twoFASince\":0}","id":"fd8afa0c-fba1-444f-a4b4-109693a7cd4a","metadata":"{\"walletType\":\"BITGO\",\"isExternalMiner\":true,\"externalWithdrawFee\":0.00001210,\"externalMiningFee\":0.00002079,\"miningFeeAccountType\":\"HASHPOWER_PAYOUT_FEE\",\"miningFeeAccount\":\"aa64728c-5120-4450-b3b8-189d290985a1\",\"twoFA\":false,\"twoFASince\":0}"}},"EncryptedMetaJSON":{"type":"object","properties":{"iban":{"type":"string"},"name":{"type":"string"},"reference":{"type":"string"},"streetAddress":{"type":"string"},"city":{"type":"string"},"postalCode":{"type":"string"},"country":{"type":"string"},"bic":{"type":"string"},"bankName":{"type":"string"},"firstNameRecipient":{"type":"string"},"lastNameRecipient":{"type":"string"},"travelAddress":{"type":"string"},"legalEntityName":{"type":"string"},"emailVASPId":{"type":"string"},"dateOfBirth":{"type":"string"},"placeOfBirth":{"type":"string"}},"description":"Address encrypted metadata"},"WithdrawalAddressDetails":{"type":"object","properties":{"id":{"type":"string"},"type":{"$ref":"#/components/schemas/WalletType"},"name":{"type":"string"},"address":{"type":"string"},"createdTs":{"type":"string","description":"Created timestamp","format":"date-time"},"currency":{"type":"string","description":"Currency","enum":["BTC","EUR","ETH","XRP","BCH","LTC","ZEC","DASH","XLM","EOS","SOL","BSV","LINK","BAT","PAX","ZRX","HOT","OMG","REP","NEXO","BTG","EURKM","ENJ","MATIC","ELF","SNT","BNT","KNC","MTL","POLY","POWR","GTO","LOOM","CVC","AST","PPT","LRC","KEY","STORJ","STORM","TNT","DATA","AOA","RDN","USDC","FET","ANT","AERGO","LBA","XMR","MITH","BAND","SXP","EURS","WBTC","RVN","UNI","AAVE","FTM","YFI","DOGE","ONEINCH","SUSHI","OCEAN","MKR","CRV","CHZ","GRT","GNO","HBAR","ADA","ALGO","XTZ","SAND","SHIB","STX","GALA","USDT","DOT","ETC","TRX","KSM","KAS","USD","TBTC","TEUR","TETH","TXRP","TBCH","TLTC","TZEC","TDASH","TXLM","TEOS","TERC","TBSV","TBTG","TEURKM","TXMR","TRVN","TDOGE","THBAR","TADA","TALGO","TXTZ","TSTX","TTTT","TSOL","TDOT","TETC","TTRX","TMARC","TKAS","TUSD","USDTNH"]},"network":{"type":"string","description":"Blockchain Network","enum":["BTC","EUR","ETH","XRP","BCH","LTC","ZEC","DASH","XLM","EOS","SOL","BSV","LINK","BAT","PAX","ZRX","HOT","OMG","REP","NEXO","BTG","EURKM","ENJ","MATIC","ELF","SNT","BNT","KNC","MTL","POLY","POWR","GTO","LOOM","CVC","AST","PPT","LRC","KEY","STORJ","STORM","TNT","DATA","AOA","RDN","USDC","FET","ANT","AERGO","LBA","XMR","MITH","BAND","SXP","EURS","WBTC","RVN","UNI","AAVE","FTM","YFI","DOGE","ONEINCH","SUSHI","OCEAN","MKR","CRV","CHZ","GRT","GNO","HBAR","ADA","ALGO","XTZ","SAND","SHIB","STX","GALA","USDT","DOT","ETC","TRX","KSM","KAS","USD","TBTC","TEUR","TETH","TXRP","TBCH","TLTC","TZEC","TDASH","TXLM","TEOS","TERC","TBSV","TBTG","TEURKM","TXMR","TRVN","TDOGE","THBAR","TADA","TALGO","TXTZ","TSTX","TTTT","TSOL","TDOT","TETC","TTRX","TMARC","TKAS","TUSD","USDTNH"]},"status":{"$ref":"#/components/schemas/WithdrawalAddressStatus"},"emailConfirmationType":{"type":"string","description":"E-mail confirmation type (type used on /api/v2/emailConfirmation/verify), optional, set only if status requires e-mail confirmation"},"meta":{"type":"string","description":"Address metadata"},"updatedTs":{"type":"string","format":"date-time"},"inMoratorium":{"type":"boolean"},"encryptedMeta":{"$ref":"#/components/schemas/EncryptedMetaJSON"},"addressForAllTokens":{"type":"boolean","description":"Address used for all tokens"},"isDefault":{"type":"boolean","description":"Is default address"},"lnFee":{"type":"number"}},"description":"List<WithdrawalAddressDetails>: List of Withdrawal Addresses","example":{"status":{"code":"ACTIVE","description":"Active"},"name":"Remote wallet","createdTs":"2019-11-06T08:29:28.959Z","currency":"BTC","address":"2MwBJKUW8e5uZMh84gDW2fbHPsmNy74yUbK","type":{"supportedCurrencies":["BTC","ETH","XRP"],"code":"BITGO","description":"BITGO"},"id":"e7eb07b1-3d60-4004-bd02-8c1a799f5c4a"}},"WithdrawalAddressList":{"type":"object","properties":{"list":{"type":"array","description":"List<WithdrawalAddressDetails>: List of Withdrawal Addresses","items":{"$ref":"#/components/schemas/WithdrawalAddressDetails"}},"pagination":{"$ref":"#/components/schemas/PaginationInfo"}},"example":{"pagination":{"page":0,"totalPageCount":1,"size":100},"list":[{"status":{"code":"ACTIVE","description":"Active"},"name":"Remote wallet","createdTs":"2019-11-06T08:29:28.959Z","currency":"BTC","address":"2MwBJKUW8e5uZMh84gDW2fbHPsmNy74yUbK","type":{"supportedCurrencies":["BTC","ETH","XRP"],"code":"BITGO","description":"BITGO"},"id":"e7eb07b1-3d60-4004-bd02-8c1a799f5c4a"}]}},"WithdrawalAddressStatus":{"type":"object","properties":{"code":{"type":"string","description":"Enum code","enum":["PENDING_EMAIL_CONFIRMATION","ACTIVE","INACTIVE","INVALID","PENDING_DEPOSIT_CONFIRMATION","DEPRECATED","PENDING_2FA_CONFIRMATION","PENDING_SELF_CUSTODIAL_WALLET_VERIFICATION","REJECTED_SELF_CUSTODIAL_WALLET_VERIFICATION","ACCOUNT_CLOSING","SELF_CUSTODIAL_AND_WITHDRAWAL_ADDRESS_MISMATCH"]},"description":{"type":"string","description":"Translated enum"}},"description":"WithdrawalAddressStatus: Withdrawal Address status"},"WithdrawalActivity":{"type":"object","properties":{"id":{"type":"string","description":"Withdrawal id","format":"uuid"},"created":{"type":"integer","format":"int64"},"completedAt":{"type":"integer","description":"Time in milliseconds since 1.1.1970","format":"int64"},"requestId":{"type":"string","description":"Withdrawal request id"},"currency":{"type":"string","enum":["BTC","EUR","ETH","XRP","BCH","LTC","ZEC","DASH","XLM","EOS","SOL","BSV","LINK","BAT","PAX","ZRX","HOT","OMG","REP","NEXO","BTG","EURKM","ENJ","MATIC","ELF","SNT","BNT","KNC","MTL","POLY","POWR","GTO","LOOM","CVC","AST","PPT","LRC","KEY","STORJ","STORM","TNT","DATA","AOA","RDN","USDC","FET","ANT","AERGO","LBA","XMR","MITH","BAND","SXP","EURS","WBTC","RVN","UNI","AAVE","FTM","YFI","DOGE","ONEINCH","SUSHI","OCEAN","MKR","CRV","CHZ","GRT","GNO","HBAR","ADA","ALGO","XTZ","SAND","SHIB","STX","GALA","USDT","DOT","ETC","TRX","KSM","KAS","USD","TBTC","TEUR","TETH","TXRP","TBCH","TLTC","TZEC","TDASH","TXLM","TEOS","TERC","TBSV","TBTG","TEURKM","TXMR","TRVN","TDOGE","THBAR","TADA","TALGO","TXTZ","TSTX","TTTT","TSOL","TDOT","TETC","TTRX","TMARC","TKAS","TUSD","USDTNH"]},"amount":{"type":"string","description":"Amount"},"amountReceived":{"type":"string","description":"Amount received"},"feeAmount":{"type":"string","description":"Fee amount"},"networkFee":{"type":"string","description":"Network fee"},"address":{"type":"string","description":"Withdrawal address"},"status":{"type":"string","description":"Withdrawal status"},"wallet":{"type":"string","description":"Wallet type","enum":["BITGO","COINBASE","PAYEER","EXTERNAL","FEES","KRIPTOMAT","BLOCKCHAIN","LIGHTNING","INTERNAL","MULTISIG","FIREBLOCKS","FIREBLOCKS_AG","MINING","NEXPAY","NEXPAY_CORPORATE","MAERKIBAUMAN","LIGHTNING_LTD","FIREBLOCKS_AG_EM"]},"subtype":{"type":"string","description":"Withdrawal subtype"},"withheldReason":{"type":"string","description":"Withheld reason"},"autoWdJobId":{"type":"string","description":"Auto Withdraw job which started this Withdraw"},"userNote":{"type":"string"},"transitionType":{"type":"string","enum":["PRE_TRANSITION_ORGANIZATION","AFTER_TRANSITION_NEW_ORGANIZATION","AFTER_TRANSITION_OLD_ORGANIZATION","AFTER_TRANSITION_NEW_REGISTRATION"]},"note":{"type":"string"},"lnWithdrawalAddressId":{"type":"string","format":"uuid"},"utxoIds":{"uniqueItems":true,"type":"array","description":"UTXO ids","items":{"type":"string","description":"UTXO ids","format":"uuid"}},"activityCurrency":{"type":"string"},"type":{"type":"string","description":"Activity type","enum":["DEPOSIT","WITHDRAWAL","HASHPOWER","HASHPOWER_SOLO","MASSBUY","HASHPOWER_SOLO_REWARD","MINING","EXCHANGE","UNPAID_MINING","CRYPTO_BUY_SELL","PAYMENT","INTERNAL_TRANSFER","OTHER","TO_BITSTAMP","FROM_BITSTAMP","BITSTAMP_EXCHANGE","HASHPOWER_FOMA"]},"time":{"type":"integer","description":"Time in milliseconds since 1.1.1970","format":"int64"},"internal":{"type":"boolean"},"individual":{"type":"boolean"},"feeMeta":{"type":"string","description":"Get activity fee meta","example":"{}"},"utxoWithdrawal":{"type":"boolean"},"depositRefund":{"type":"boolean"},"emWithdrawal":{"type":"boolean"}},"example":{"status":"CANCELLED","amountReceived":"0.00498693","feeAmount":"0.00001307","wallet":"BITGO","amount":"0.005","time":1603229419846,"address":"2MwBJKUW8e5uZMh84gDW2fbHPsmNy74yUbK","type":"WITHDRAWAL","id":"82e8ef56-5e5e-4971-8d4c-47d0e65c1df4"}},"VaspName":{"type":"object","properties":{"isNH":{"type":"boolean"},"id":{"type":"string"},"name":{"type":"string"},"email":{"type":"string"}}},"Vasps":{"type":"object","properties":{"vasps":{"type":"array","items":{"$ref":"#/components/schemas/VaspName"}}}},"Address":{"type":"object","properties":{"city":{"type":"string"},"postalCode":{"type":"string"},"country":{"type":"string"}}},"TravelRuleTransactionDataJSON":{"type":"object","properties":{"senderFirstName":{"type":"string"},"senderLastName":{"type":"string"},"senderLegalName":{"type":"string"},"senderLegalIdentityId":{"type":"string"},"senderAddress":{"$ref":"#/components/schemas/Address"},"recipientAddress":{"$ref":"#/components/schemas/Address"},"senderDOB":{"type":"string"},"recipientFirstName":{"type":"string"},"recipientLastName":{"type":"string"},"recipientLegalName":{"type":"string"},"vaspName":{"type":"string"},"travelRuleProvider":{"type":"string","enum":["TWENTYONE_ANALYTICS","NOTABENE"]},"providerId":{"type":"string","format":"uuid"},"transactionType":{"type":"string","enum":["SELF_HOSTED_WALLET","VASP_TRANSACTION","COINBASE_TRANSACTION"]},"selfHostedWalletProof":{"type":"string","format":"uuid"}}},"Transaction":{"type":"object","properties":{"id":{"type":"string","description":"Id of the transaction","format":"uuid","example":"4f34e103-6c30-4909-b3a1-11adfe5a66f7"},"created":{"type":"integer","description":"Transaction creation timestamp in milliseconds since 1.1.1970","format":"int64","example":1602530593},"currency":{"$ref":"#/components/schemas/TranslatedEnumCurrency"},"amount":{"type":"number","description":"Transaction amount","example":0.001},"metadata":{"type":"string","description":"Transation metadata","example":"{}"},"type":{"$ref":"#/components/schemas/TranslatedEnumOperationType"},"fromOwner":{"type":"string","description":"Source of the transaction","format":"uuid","example":"01ed1a92-60fa-431c-8243-a0f3584858d8"},"fromAccountType":{"$ref":"#/components/schemas/TranslatedEnumAccountType"},"toOwner":{"type":"string","description":"Destination of the transaction","format":"uuid","example":"423362d9-485d-4880-b877-d07dc6f94b6a"},"toAccountType":{"type":"string","description":"Destination account type","example":"USER","enum":["USER","USER_EXCHANGE_PENDING","USER_WITHDRAWAL_PENDING","USER_DEBT","EXCHANGE_FEE","HASHPOWER_ORDERS","HASHPOWER_PAYOUTS","HASHPOWER_ORDER_FEE","HASHPOWER_PAYOUT_FEE","WALLET_BITGO_BLOCKCHAIN","WALLET_BITGO_DEPOSIT_PENDING","WALLET_BITGO_DEPOSIT_CONFIRMED","WALLET_BITGO_DEPOSITS_FEES","WALLET_BITGO_DEPOSIT_CONFISCATED","WALLET_BITGO_DEPOSIT_UNASSIGNED","WALLET_BITGO_WITHDRAWAL_PENDING","WALLET_BITGO_WITHDRAWAL_CONFIRMED","WALLET_BITGO_WITHDRAWALS_FEES","WALLET_COINBASE_BLOCKCHAIN","WALLET_COINBASE_WITHDRAWAL_PENDING","WALLET_COINBASE_WITHDRAWALS_FEES","WALLET_COINBASE_DEPOSIT_PENDING","WALLET_COINBASE_DEPOSIT_CONFIRMED","WALLET_COINBASE_DEPOSIT_UNASSIGNED","WALLET_PAYEER_WITHDRAWAL_PENDING","WALLET_PAYEER_WITHDRAWALS_FEES","TESTING","WALLET_BITGO_WITHDRAWAL_UNASSIGNED","WALLET_KRIPTOMAT_DEPOSIT_UNASSIGNED","WALLET_KRIPTOMAT_DEPOSIT_FEES","WALLET_KRIPTOMAT_WITHDRAWAL_PENDING","WALLET_KRIPTOMAT_WITHDRAWAL_FEES","WALLET_BLOCKCHAIN_DEPOSIT_PENDING","WALLET_BLOCKCHAIN_DEPOSITS_FEES","WALLET_BLOCKCHAIN_DEPOSIT_UNASSIGNED","WALLET_BLOCKCHAIN_WITHDRAWAL_PENDING","WALLET_BLOCKCHAIN_WITHDRAWALS_FEES","WALLET_LIGHTNING_DEPOSIT_UNASSIGNED","WALLET_LIGHTNING_WITHDRAWAL_PENDING","WALLET_LIGHTNING_WITHDRAWALS_FEES","WALLET_LIGHTNING_DEPOSITS_FEES","WALLET_MULTISIG_DEPOSIT_UNASSIGNED","WALLET_MULTISIG_DEPOSITS_FEES","WALLET_MULTISIG_WITHDRAWALS_FEES","TOKEN_WITHDRAWAL_FEE_PENDING","WALLET_MULTISIG_DEPOSIT_FEES","CHARITY","HASHPOWER_ORDERS_PENDING","USER_FEE","USER_MNG_FEE","USER_EX_FEE","WALLET_BITGO_REFUND_UNASSIGNED","WALLET_BLOCKCHAIN_REFUND_UNASSIGNED","WALLET_MULTISIG_REFUND_UNASSIGNED","ADMIN_SERVICE_FEE","MINING_AFFILIATE_FEE","WALLET_FIREBLOCKS_DEPOSITS_FEES","WALLET_FIREBLOCKS_DEPOSIT_UNASSIGNED","WALLET_FIREBLOCKS_WITHDRAWALS_FEES","WALLET_FIREBLOCKS_WITHDRAWAL_UNASSIGNED","WITHHELD","SOLO_REWARD","WALLET_WITHDRAWALS_FEES","WALLET_DEPOSITS_FEES","SOLO_REWARD_FEE","SOLO_REWARD_FEE_GEO","WALLET_FIREBLOCKS_REFUND_UNASSIGNED","EXCHANGE_FEE_UAB","WALLET_DEPOSITS_DEPRECATED_FEES","SOLO_SHARED_RESERVED","COUPON_RESERVED","MERCHANT_FEE","WALLET_NEXPAY_DEPOSIT_UNASSIGNED","WALLET_NEXPAY_DEPOSIT_FEES","WALLET_NEXPAY_WITHDRAWAL_PENDING","WALLET_NEXPAY_WITHDRAWAL_FEES","MASS_BUY_RESERVED","WALLET_MAERKIBAUMAN_DEPOSIT_UNASSIGNED","WALLET_MAERKIBAUMAN_DEPOSIT_FEES","WALLET_MAERKIBAUMAN_WITHDRAWAL_PENDING","WALLET_MAERKIBAUMAN_WITHDRAWAL_FEES","WALLET_NEXPAY_CORPORATE_DEPOSIT_UNASSIGNED","WALLET_NEXPAY_CORPORATE_DEPOSIT_FEES","WALLET_NEXPAY_CORPORATE_WITHDRAWAL_PENDING","WALLET_NEXPAY_CORPORATE_WITHDRAWAL_FEES","INACTIVITY_FEE","INDIVIDUAL_USER","WALLET_LIGHTNING_LTD_WITHDRAWALS_FEES","ENGINE_AIRDROP_RESERVED","BITSTAMP_USER_DEBIT","BITSTAMP_USER_CREDIT","FOMA_RESERVED","FOMA_CONTRACT","FOMA_FEES","VMM_EARNINGS","VMM_INFRASTRUCTURE_FEE","CONVERT_FEE"]},"requestId":{"type":"string","description":"Operation request id"}},"description":"Accounting transaction"},"TranslatedEnumOperationType":{"type":"object","properties":{"enumName":{"type":"string","description":"Name","enum":["DEPOSIT","WITHDRAWAL","MOVE"]},"description":{"type":"string","description":"Translated description"}},"description":"Type of transaction","example":{}},"IndividualBalance":{"type":"object","properties":{"amount":{"type":"number"},"hasIndividualAddress":{"type":"boolean"}}},"HashPowerActivityTransactions":{"type":"object","properties":{"transactions":{"type":"array","items":{"$ref":"#/components/schemas/HashPowerTransaction"}}},"example":{"transactions":[{"amount":"-0.000147","desc":"HASHPOWER_ORDER_FEE","created":1588848767482},{"amount":"-0.0001","desc":"HASHPOWER_ORDER_FEE","created":1588848767482},{"amount":"-0.004753","desc":"HASHPOWER_ORDER_SETUP","created":1588848767482}]}},"HashPowerTransaction":{"type":"object","properties":{"currency":{"$ref":"#/components/schemas/TranslatedEnumCurrency"},"created":{"type":"integer","description":"Creation timestamp in milliseconds since 1.1.1970","format":"int64"},"desc":{"type":"string","description":"Description for hashpower"},"amount":{"type":"string","description":"Amount"}}},"ExchangeTrade":{"type":"object","properties":{"sellQty":{"type":"string","description":"Sell quantity"},"buyQty":{"type":"string","description":"Buy quantity"},"time":{"type":"integer","description":"Trade timestamp in milliseconds since 1.1.1970","format":"int64"},"fee":{"type":"string","description":"Fee for trade"}},"description":"Trade list","example":{"trades":[{"fee":"0.00004","buyQty":"0.00996","time":1594129699756,"sellQty":"-0.02"}]}},"ExchangeTrades":{"type":"object","properties":{"trades":{"type":"array","description":"Trade list","items":{"$ref":"#/components/schemas/ExchangeTrade"}}},"example":{"trades":[{"fee":"0.00004","buyQty":"0.00996","time":1594038667749,"sellQty":"-0.02"}]}},"DepositActivity":{"type":"object","properties":{"id":{"type":"string","description":"Activity id","format":"uuid","example":"7ee66878-92bb-4455-b027-897728ea9c56"},"completedAt":{"type":"integer","description":"Timestamp in milliseconds since 1.1.1970","format":"int64"},"requestId":{"type":"string","description":"Deposit request id"},"amount":{"type":"string","description":"Amount","example":"5"},"amountReceived":{"type":"string","description":"Amount received","example":"4.9"},"feeAmount":{"type":"string","description":"Fee amount","example":"0.1"},"address":{"type":"string","description":"Address","example":"rsuksPzxKXgNcYKEHvtVwxmXdFKG8YRY3d"},"sourceAddress":{"type":"string","description":"Source address","example":"tb1q6khwt0naw7a8m7ut9q57tqucn6727srhzdgfwy"},"txid":{"type":"string","description":"Transaction id"},"status":{"type":"string","description":"Status","example":"COMPLETED"},"minConfirmations":{"type":"integer","description":"Minimal confirmation required","format":"int32","example":3},"confirmations":{"type":"integer","description":"Actual confirmation received","format":"int32","example":2},"fromName":{"type":"string"},"subtype":{"type":"string","description":"Deposit subtype"},"addr
[...]
